{{ define "main" }}
<main role="main">
    <section id="home">
        <img src="/images/about-us.jpg" class="img-fluid" alt="">
    </section>


    <section class="py-5">
        <div class="container-fluid">
            <div class="d-flex align-items-start justify-content-between flex-wrap">
                <div class="col-sm-8">
                    <div class="w-100 py-md-2 px-2 px-sm-5">
                        <h3 class="heading2 text-center mb-5">Decoding allergies: how to breathe and live better</h3>

                        <div class="mt-3">
                            <ul class="custom_list s_list sm_list">
                                <p>Sometimes you'd like to step outside to enjoy the great outdoors, or maybe just take a break for a little fresh air. But when allergies make your throat scratchy or bring you to tears, it can be challenging. And not every
                                    allergy is triggered by outside elements; many lurk within our own homes.

                                </p>
                                <p> Allergies are among the most common chronic conditions worldwide. An allergy is a reaction by your immune system to something that does not bother most other people. A substance that is an allergen for one person may not
                                    be for another person - everyone reacts differently.

                                </p>
                                <p> Our immune system protects us from invading organisms that can cause illness. If you have an allergy, your immune system mistakes an otherwise harmless substance as an invader. This substance is called an allergen. The
                                    immune system overreacts to the allergen triggering an antibody (IgE) response.

                                </p>
                                <p>
                                    The antibodies attach themselves to special cells, called mast cells. When the allergen comes into contact with the antibodies, these mast cells respond by releasing certain substances, one of which is called histamine. Histamine release results in swelling
                                    and inflammation which is extremely irritating and uncomfortable.

                                </p>
                                <p>Allergies can develop at any age, but they usually start in childhood and persist for many years, often for life. </p>

                                <p> People who have allergies often are sensitive to more than one thing. The likelihood (or risk) of developing allergies is increased if other family members suffer from allergy or asthma. Though the exact role is unknown,
                                    smoking may represent a risk in the development of allergy. Other environmental factors like high exposure to pets, dust mites and outdoor air pollutants may also play a part. A number of different allergens are responsible
                                    for allergic reactions.
                                </p>

                            </ul>
                        </div>









                        <h5 class="font-weight-bold mt-4" style="font-size: 18px">
                            Diagnosing Allergies
                        </h5>
                        <div class="mt-3">
                            <p> If symptoms don't improve with self-help steps and over-the-counter drugs, and your history suggests an allergy, it is recommended to go through a detailed evaluation to understand more about the allergy. There are many different
                                ways in which an allergy can be diagnosed and can depend on the type of allergy and age of the patient. Regardless of the type of test, first, a physical examination is done to determine if allergy testing is warranted.

                            </p>


                        </div>


                        <h5 class="font-weight-bold mt-4" style="font-size: 18px">
                            Skin Prick Test
                        </h5>
                        <div class="mt-3">
                            <p>This type of testing is the most common and is relatively painless. </p>

                            <p> SPT is usually carried out on the inner forearm, but in some circumstances may be carried out on another part of the body, such as the back or thigh. For example, there is a larger area on the back or thigh to perform testing
                                on a baby, similarly, for those with troublesome eczema the test can be performed on any clear patch of skin.


                            </p>


                        </div>

                        <h5 class="font-weight-bold mt-4" style="font-size: 18px">
                            How to select Allergens?
                        </h5>
                        <div class="mt-3">
                            <p>The test allergens are selected following a discussion with the patient and based on the patient's history. The skin is coded with a marker pen to identify the allergens to be tested. A drop of the allergen (extract) solution
                                is placed on the skin. The skin is then pricked through the drop using the tip of a lancet - this can feel a little sharp but should not be painful and should not bleed.
                            </p>




                        </div>

                        <h5 class="font-weight-bold mt-4" style="font-size: 18px">
                            How will the allergen affect my body during testing?

                        </h5>
                        <div class="mt-3">
                            <p>If you have allergies, just a little swelling that looks and feels like a mosquito bite will occur where the allergen(s) to which you are allergic was introduced. If you are allergic to house dust mite, but not to pollen, only
                                the house dust mite allergen will cause a little swelling or itching. The spot where the pollen allergen was applied will remain normal.

                            </p>

                            <h5 class="font-weight-bold mt-4" style="font-size: 18px">

                                How long does it take for the allergens to react?

                            </h5>
                            <div class="mt-3">
                                <p>You don't have to wait long to find out what is triggering your allergies. Reactions occur within about 20 minutes. And you generally won't have any other symptoms besides the small hives where the tests were done, which
                                    go away within 30 minutes. If your prick skin tests are negative but your physician still suspects you might have allergies, more sensitive "intradermal" tests may be used in which a small amount of allergen is injected
                                    within the skin.

                                </p>
                                <h5 class="font-weight-bold mt-4" style="font-size: 18px">
                                    What precautions to take?

                                </h5>
                                <div class="mt-3">
                                    <p>Skin tests are best performed in an allergist's office to assure the test results are read properly and to minimise the risk of rare side effects.



                                    </p>
                                    <p>
                                        Different allergens bother different people, so allergists will determine which test is the best for you. Allergies are increasingly impacting more and more people and it is highly recommended to get a proper evaluation done if you suspect allergies or
                                        face symptoms of the same. To consult with Dr. Neha Sood, you can reach out at: +91-9205407127

                                    </p>


                                </div>
                            </div>
                        </div>





                    </div>
                </div>
                <div class="col-sm-4">
                    <img src="/images/aller.jpg" class="img-fluid" alt="">
                </div>
            </div>
        </div>
    </section>

</main>
{{end}}