{{ define "main" }}
<main role="main">
    <section id="home">
        <img src="/images/speciality_service/banners/voicedisorder.jpg" class="img-fluid" alt="">
    </section>

    <div class="container mt-4">
        <div class="w-100 py-md-2 px-2 px-sm-5">
            <h3 class="heading2 text-left text-uppercase mb-4">Voice Disorder</h3>
            <div class="scroll_spy" id="mainNav">
                <ul>

                    <li><a href="#causes">Causes</a></li>
                    <li><a href="#riskfactors">Risk Factors</a></li>
                    <li><a href="#daignosis">Diagnosis & treatment</a></li>
                </ul>
            </div>

        </div>
    </div>
    <section class="py-3">
        <div class="container">
            <div class="w-100 py-md-2 px-2 px-sm-5">

                <h3 class="page_heading mb-3">Overview</h3>

                <p class="para">People develop voice problems for many reasons. Doctors who specialize in ear, nose and throat disorders and speech pathology specialists are involved in diagnosing and treating voice disorders.</p>
                <p class="para">Treatment depends on what's causing your voice disorder, but may include voice therapy, medication, injections or surgery.</p>


            </div>
        </div>
    </section>
    <section id="causes">
        <div class="container">
            <div class="row pl-5">
                <video width="600" height="440" controls id="test_video3">
                    <source
                    src="/images/WhatsApp.mp4"
                    type="video/mp4"
                    />
                    Your browser does not support the video tag.
                    </video>
            </div>
        </div>
    </section>
    <section class="pt-0 pb-2" id="causes">
        <div class="container">
            <div class="w-100 py-md-2 px-2 px-sm-5">
                <h5 class="font-weight-bold text_primary inner_heading">Causes</h5>

                <div class="row">
                    <div class="col-sm-7">
                        <p class="para mt-3">Your voice box (larynx) is made of cartilage, muscle and mucous membranes located at the top of your windpipe (trachea) and the base of your tongue. Your vocal cords are two flexible bands of muscle tissue that sit at the entrance
                            of the windpipe. Sound is created when your vocal cords vibrate. </p>
                        <p class="para mt-3">This vibration comes from air moving through the larynx, bringing your vocal cords closer together. Your vocal cords also help close your voice box when you swallow, preventing you from inhaling food or liquid.</p>
                        <p class="para mt-3">If your vocal cords become inflamed, develop growths or become paralyzed, they can't work properly, and you may develop a voice disorder.</p>
                        <p class="para mt-3">Some common voice disorders include:</p>

                        <ul class="custom_list s_list sm_list mt-2">
                            <li>Laryngitis</li>
                            <li>Muscle tension dysphonia</li>
                            <li>Neurological voice disorders, such as spasmodic dysphonia</li>
                            <li>Polyps, nodules or cysts on the vocal cords (noncancerous lesions)</li>
                            <li>Precancerous and cancerous lesions</li>
                            <li>Vocal cord paralysis or weakness</li>
                            <li>White patches called leukoplakia</li>
                        </ul>
                    </div>
                    <div class="col-sm-5">
                        <img src="/images/voice_disorder_side_image.png" class="img-fluid" alt="">
                    </div>
                </div>


            </div>
        </div>
    </section>




    <section class="pt-0 pb-2" id="riskfactors">
        <div class="container">
            <div class="w-100 py-md-2 px-2 px-sm-5">
                <h5 class="font-weight-bold text_primary inner_heading">Risk Factors</h5>

                <p class="para mt-4">Many risk factors can contribute to a voice disorder, including:</p>



                <ul class="custom_list s_list sm_list mt-2">
                    <li>Aging</li>
                    <li>Alcohol use</li>
                    <li>Allergies</li>
                    <li>Gastroesophageal reflux disease (GERD)</li>
                    <li>Illnesses, such as colds or upper respiratory infections</li>
                    <li>Improper throat clearing over a long time</li>
                    <li>Neurological disorders</li>
                    <li>Psychological stress</li>
                    <li>Scarring from neck surgery or from trauma to the front of the neck</li>
                    <li>Screaming</li>
                    <li>Smoking</li>
                    <li>Throat cancer</li>
                    <li>Throat dehydration</li>
                    <li>Thyroid problems</li>
                    <li>Voice misuse or overuse</li>
                </ul>

            </div>
        </div>
    </section>



    <section id="EnquiryForm" class="pb-4">
        <div class="container">
            <div class="w-100 py-md-2 px-2 px-sm-5">
                <h3 class="heading2 text-center mb-5 text-uppercase">Enquiry Form</h3>

                <div class="enq_form">
                    <form action="">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input type="text" class="enq_control form-control" placeholder="First Name">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input type="text" class="enq_control form-control" placeholder="Last Name">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input type="email" class="enq_control form-control" placeholder="Email">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input type="tel" class="enq_control form-control" placeholder="Mobile Number">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <textarea name="" id="" class="enq_control form-control" placeholder="Message"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group text-center">
                                    <button type="submit" class="enq_submit">Submit</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</main>
{{end}}