{{ define "main" }}
<main role="main">

    <section class="py-5">
        <div class="container-fluid">
            <div class="w-100 py-md-2 px-2 px-sm-5">
                <h3 class="heading2 text-center mb-5">Photo Gallery</h3>
                <div id="lightgallery" class="d-flex align-items-start justify-content-between flex-wrap">
                    <a class="col-sm-4 mb-3" href="/images/gallery/gallery_img1.jpeg">
                        <img src="/images/gallery/thumb/gallery_img1.jpeg" class="img-fluid" alt="">
                    </a>
                    <a class="col-sm-4 mb-3" href="/images/gallery/gallery_img2.jpeg">
                        <img src="/images/gallery/thumb/gallery_img2.jpeg" class="img-fluid" alt="">
                    </a>
                    <a class="col-sm-4 mb-3" href="/images/gallery/gallery_img3.jpeg">
                        <img src="/images/gallery/thumb/gallery_img3.jpeg" class="img-fluid" alt="">
                    </a>
                    <a class="col-sm-4 mb-3" href="/images/gallery/gallery_img4.jpeg">
                        <img src="/images/gallery/thumb/gallery_img4.jpeg" class="img-fluid" alt="">
                    </a>
                    <a class="col-sm-4 mb-3" href="/images/gallery/gallery_img5.jpeg">
                        <img src="/images/gallery/thumb/gallery_img5.jpeg" class="img-fluid" alt="">
                    </a>
                    <a class="col-sm-4 mb-3" href="/images/gallery/gallery_img6.jpeg">
                        <img src="/images/gallery/thumb/gallery_img6.jpeg" class="img-fluid" alt="">
                    </a>
                    <a class="col-sm-4 mb-3" href="/images/gallery/gallery_img7.jpeg">
                        <img src="/images/gallery/thumb/gallery_img7.jpeg" class="img-fluid" alt="">
                    </a>
                    <a class="col-sm-4 mb-3" href="/images/gallery/gallery_img8.jpeg">
                        <img src="/images/gallery/thumb/gallery_img8.jpeg" class="img-fluid" alt="">
                    </a>
                    <a class="col-sm-4 mb-3" href="/images/gallery/gallery_img9.jpeg">
                        <img src="/images/gallery/thumb/gallery_img9.jpeg" class="img-fluid" alt="">
                    </a>
                    <a class="col-sm-4 mb-3" href="/images/gallery/gallery_img10.jpeg">
                        <img src="/images/gallery/thumb/gallery_img10.jpeg" class="img-fluid" alt="">
                    </a>
                    <a class="col-sm-4 mb-3" href="/images/gallery/gallery_img11.jpeg">
                        <img src="/images/gallery/thumb/gallery_img11.jpeg" class="img-fluid" alt="">
                    </a>
                    <a class="col-sm-4 mb-3" href="/images/gallery/gallery_img6.jpeg">
                        <img src="/images/gallery/thumb/gallery_img6.jpeg" class="img-fluid" alt="">
                    </a>
                </div>
            </div>
        </div>

    </section>

</main>
{{end}}