{{ define "main" }}
<main role="main">
    <section id="home">
        <img src="/images/speciality_service/banners/sleepapnea.jpg" class="img-fluid" alt="">
    </section>

    <div class="container mt-4">
        <div class="w-100 py-md-2 px-2 px-sm-5">
            <h3 class="heading2 text-left text-uppercase mb-4">Sleeping Apnea and Snoring</h3>
            <div class="scroll_spy" id="mainNav">
                <ul>
                    <li><a href="#causes">Symptoms & Causes</a></li>
                    <!--<li><a href="#doctors">Doctors & departments</a></li>-->
                    <li><a href="#daignosis">Diagnosis & treatment</a></li>
                </ul>
            </div>

        </div>
    </div>
    <section class="py-3">
        <div class="container">
            <div class="w-100 py-md-2 px-2 px-sm-5">

                <h3 class="page_heading mb-3">Overview</h3>

                <p class="para">Sleep apnea is a potentially serious sleep disorder in which breathing repeatedly stops and starts. If you snore loudly and feel tired even after a full night's sleep, you might have sleep apnea.</p>
                <p class="para ">The main types of sleep apnea are:</p>

                <ul class="custom_list s_list sm_list mt-2">
                    <li><strong>Obstructive sleep apnea,</strong> the more common form that occurs when throat muscles relax</li>
                    <li><strong>Central sleep apnea,</strong> which occurs when your brain doesn't send proper signals to the muscles that control breathing</li>
                    <li><strong>Complex sleep apnea syndrome,</strong> also known as treatment-emergent central sleep apnea, which occurs when someone has both obstructive sleep apnea and central sleep apnea</li>
                </ul>
                <p class="para ">If you think you might have sleep apnea, see your doctor. Treatment can ease your symptoms and might help prevent heart problems and other complications.</p>

            </div>
        </div>
    </section>
    <section class="pt-0 pb-2" id="causes">
        <div class="container">
            <div class="w-100 py-md-2 px-2 px-sm-5">
                <h5 class="font-weight-bold text_primary inner_heading">Symptoms </h5>

                <div class="row">
                    <div class="col-sm-7">
                        <p class="para mt-3">The signs and symptoms of obstructive and central sleep apneas overlap, sometimes making it difficult to determine which type you have. The most common signs and symptoms of obstructive and central sleep apneas include:</p>


                        <ul class="custom_list s_list sm_list mt-2">
                            <li>Loud snoring</li>
                            <li>Episodes in which you stop breathing during sleep — which would be reported by another person</li>
                            <li>Gasping for air during sleep</li>
                            <li>Awakening with a dry mouth</li>
                            <li>Morning headache</li>
                            <li>Difficulty staying asleep (insomnia)</li>
                            <li>Excessive daytime sleepiness (hypersomnia)</li>
                            <li>Difficulty paying attention while awake</li>
                            <li>Irritability</li>
                        </ul>



                        <h5 class="font-weight-bold text_primary inner_heading mt-5">When to see a doctor </h5>
                        <p class="para mt-3">
                            Loud snoring can indicate a potentially serious problem, but not everyone who has sleep apnea snores. Talk to your health care provider if you have symptoms of sleep apnea. Ask your provider about any sleep problem that leaves you fatigued, sleepy and
                            irritable.
                        </p>
                    </div>
                    <div class="col-sm-5">
                        <img src="/images/sleeping_apnea_side.png" class="img-fluid" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>




    <section id="EnquiryForm" class="pb-4">
        <div class="container">
            <div class="w-100 py-md-2 px-2 px-sm-5">
                <h3 class="heading2 text-center mb-5 text-uppercase">Enquiry Form</h3>

                <div class="enq_form">
                    <form action="">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input type="text" class="enq_control form-control" placeholder="First Name">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input type="text" class="enq_control form-control" placeholder="Last Name">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input type="email" class="enq_control form-control" placeholder="Email">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input type="tel" class="enq_control form-control" placeholder="Mobile Number">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <textarea name="" id="" class="enq_control form-control" placeholder="Message"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group text-center">
                                    <button type="submit" class="enq_submit">Submit</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</main>
{{end}}