{{ define "main" }}
<main role="main">


    <!-- <section class="py-5"> -->
    <!-- <div class="container-fluid">
            <div class="w-100 py-md-2 px-2 px-sm-5">
                <h3 class="heading2 text-center mb-5">Print Media</h3>
                <div class="row">
                    <div class="col-sm-6 mt-4 printmedia-card"><img src="/images/print_media/Print_media_1.jpeg"
                            class="img-fluid" alt=""></div>
                    <div class="col-sm-6 mt-4 printmedia-card"><img src="/images/print_media/Print_media_2.jpeg"
                            class="img-fluid" alt=""></div>
                    <div class="col-sm-6 mt-4 printmedia-card"><img src="/images/Print_media_3.jpeg" class="img-fluid"
                            alt=""></div>
                    <div class="col-sm-6 mt-4 printmedia-card"><img src="/images/print_media/Print_media_4.jpeg"
                            class="img-fluid" alt=""></div>
                    <div class="col-sm-6 mt-4 printmedia-card"><img src="/images/print_media/Print_media_5.jpeg"
                            class="img-fluid" alt=""></div>
                    <div class="col-sm-6 mt-4 printmedia-card"><img src="/images/print_media/Print_media_6.jpeg"
                            class="img-fluid" alt=""></div>
                    <div class="col-sm-6 mt-4 printmedia-card"><img src="/images/print_media/Print_media_7.jpeg"
                            class="img-fluid" alt=""></div>
                    <div class="col-sm-6 mt-4 printmedia-card"><img src="/images/Print_media_8.jpeg" class="img-fluid"
                            alt=""></div>
                </div>
            </div>
        </div> -->
    <!-- </section> -->
    <section class="py-5">
        <div class="container-fluid">
            <div class="card-columns">
                <div class="card card-print mb-3">
                    <a href="/images/print_media/Print_media_1.jpeg">
                        <img src="/images/print_media/Print_media_1.jpeg" class="img-fluid" alt="">
                    </a>
                </div>
                <div class="card card-print p-3 mb-3">
                    <blockquote class="blockquote mb-0 card-body">
                        <a href="/images/print_media/Print_media_2.jpeg">
                            <img src="/images/print_media/Print_media_2.jpeg" class="img-fluid" alt="">
                        </a>
                    </blockquote>
                </div>
                <div class="card card-print mb-3">
                    <a href="/images/Print_media_3.jpeg">
                        <img src="/images/Print_media_3.jpeg" class="img-fluid" alt="">
                    </a>
                </div>
                <div class="card card-print p-3 mb-3">
                    <blockquote class="blockquote mb-0">
                        <a href="/images/print_media/Print_media_4.jpeg">
                            <img src="/images/print_media/Print_media_4.jpeg" class="img-fluid" alt="">
                        </a>
                    </blockquote>
                </div>
                <div class="card card-print text-center mb-3">
                    <a href="/images/print_media/Print_media_5.jpeg">
                        <img src="/images/print_media/Print_media_5.jpeg" class="img-fluid" alt="">
                    </a>
                </div>

                <div class="card card-print p-3  mb-3">
                    <blockquote class="blockquote mb-0">
                        <a href="/images/print_media/Print_media_6.jpeg">
                            <img src="/images/print_media/Print_media_6.jpeg" class="img-fluid" alt="">
                        </a>
                    </blockquote>
                </div>
                <div class="card card-print mb-3">
                    <a href="/images/print_media/Print_media_7.jpeg">
                        <img src="/images/print_media/Print_media_7.jpeg" class="img-fluid" alt="">
                    </a>
                </div>

                <div class="card card-print p-3 mb-3">
                    <blockquote class="blockquote mb-0">
                        <a href="/images/Print_media_8.jpeg">
                            <img src="/images/Print_media_8.jpeg" class="img-fluid" alt="">
                        </a>
                    </blockquote>
                </div>
            </div>

            <iframe class="iframe-fluid" src="https://www.timesnownews.com/health/with-increase-in-gamers-suffering-from-hearing-loss-tinnitus-docs-warn-people-to-stay-away-from-loud-noise-article-106978871" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </section>

</main>
{{end}}