{{ define "main" }}
<main role="main">
    <section id="home">
        <img src="/images/speciality_service/banners/deafness.jpg" class="img-fluid" alt="">
    </section>

    <div class="container mt-4">
        <div class="w-100 py-md-2 px-2 px-sm-5">
            <h3 class="heading2 text-left text-uppercase mb-4">Deafness</h3>
            <div class="scroll_spy" id="mainNav">
                <ul>

                    <li><a href="#causes">Symptoms & Causes</a></li>
                    <!--<li><a href="#doctors">Doctors & departments</a></li>-->
                    <li><a href="#daignosis">Diagnosis & treatment</a></li>
                </ul>
            </div>

        </div>
    </div>
    <section class="py-3">
        <div class="container">
            <div class="w-100 py-md-2 px-2 px-sm-5">

                <h3 class="page_heading mb-3">Overview</h3>

                <p class="para">Hearing loss that occurs gradually as you age (presbycusis) is common. Almost half the people in the United States older than age 65 have some degree of hearing loss.</p>
                <p class="para ">Hearing loss is defined as one of three types:</p>

                <ul class="custom_list s_list sm_list mt-2">
                    <li>Conductive (involves outer or middle ear)</li>
                    <li>Sensorineural (involves inner ear)</li>
                    <li>Mixed (combination of the two)</li>
                </ul>
                <p class="para mt-3">Aging and chronic exposure to loud noises both contribute to hearing loss. Other factors, such as excessive earwax, can temporarily reduce how well your ears conduct sounds.</p>
                <p class="para mt-3">You can't reverse most types of hearing loss. However, you and your doctor or a hearing specialist can take steps to improve what you hear.</p>

            </div>
        </div>
    </section>
    <section class="pt-0 pb-2" id="causes">
        <div class="container">
            <div class="w-100 py-md-2 px-2 px-sm-5">
                <h5 class="font-weight-bold text_primary inner_heading">Symptoms </h5>

                <div class="row">
                    <div class="col-sm-7">
                        <p class="para mt-3">Signs and symptoms of hearing loss may include: </p>


                        <ul class="custom_list s_list sm_list mt-2">
                            <li>Muffling of speech and other sounds</li>
                            <li>Difficulty understanding words, especially against background noise or in a crowd</li>
                            <li>Trouble hearing consonants</li>
                            <li>Frequently asking others to speak more slowly, clearly and loudly</li>
                            <li>Needing to turn up the volume of the television or radio</li>
                            <li>Withdrawal from conversations</li>
                            <li>Avoidance of some social settings</li>
                        </ul>


                        <h5 class="font-weight-bold text_primary inner_heading mt-4">Causes </h5>
                        <p class="para  mt-3">To understand how hearing loss occurs, it can be helpful to first understand how you hear. </p>
                        <p class="para font-weight-bold  mt-3">How you hear</p>
                        <p class="para mt-3">Your ear consists of three major areas: outer ear, middle ear and inner ear. Sound waves pass through the outer ear and cause vibrations at the eardrum. The eardrum and three small bones of the middle ear amplify the vibrations
                            as they travel to the inner ear. There, the vibrations pass through fluid in a snail-shaped structure in the inner ear (cochlea).</p>
                        <p class="para mt-3">Attached to nerve cells in the cochlea are thousands of tiny hairs that help translate sound vibrations into electrical signals that are transmitted to your brain. Your brain turns these signals into sound.</p>

                        <p class="para font-weight-bold  mt-3">How hearing loss can occur</p>
                        <p class="para mt-3">Causes of hearing loss include:</p>


                        <ul class="custom_list s_list sm_list mt-2">
                            <li><strong>Damage to the inner ear.</strong> Aging and exposure to loud noise may cause wear and tear on the hairs or nerve cells in the cochlea that send sound signals to the brain. When these hairs or nerve cells are damaged
                                or missing, electrical signals aren't transmitted as efficiently, and hearing loss occurs. <br>Higher pitched tones may become muffled to you. It may become difficult for you to pick out words against background noise.</li>
                            <li><strong>Gradual buildup of earwax.</strong> Earwax can block the ear canal and prevent conduction of sound waves. Earwax removal can help restore your hearing.</li>
                            <li><strong>Ear infection and abnormal bone growths or tumors.</strong> In the outer or middle ear, any of these can cause hearing loss.</li>
                            <li><strong>Ruptured eardrum (tympanic membrane perforation).</strong> Loud blasts of noise, sudden changes in pressure, poking your eardrum with an object and infection can cause your eardrum to rupture and affect your hearing.</li>
                        </ul>
                    </div>
                    <div class="col-sm-5">
                        <img src="/images/deafness_side.png" class="img-fluid" alt="">
                    </div>
                </div>


            </div>
        </div>
    </section>




    <section class="pt-0 pb-2" id="riskfactors">
        <div class="container">
            <div class="w-100 py-md-2 px-2 px-sm-5">
                <h5 class="font-weight-bold text_primary inner_heading">Risk Factors </h5>
                <p class="para mt-3">Factors that may damage or lead to loss of the hairs and nerve cells in your inner ear include:</p>

                <ul class="custom_list s_list sm_list mt-2">
                    <li><strong>Aging.</strong> Degeneration of inner ear structures occurs over time.</li>
                    <li>Loud noise. Exposure to loud sounds can damage the cells of your inner ear. Damage can occur with long-term exposure to loud noises, or from a short blast of noise, such as from a gunshot.</li>
                    <li><strong>Heredity.</strong> Your genetic makeup may make you more susceptible to ear damage from sound or deterioration from aging.</li>
                    <li><strong>Occupational noises.</strong> Jobs where loud noise is a regular part of the working environment, such as farming, construction or factory work, can lead to damage inside your ear.</li>
                    <li><strong>Recreational noises.</strong> Exposure to explosive noises, such as from firearms and jet engines, can cause immediate, permanent hearing loss. Other recreational activities with dangerously high noise levels include snowmobiling,
                        motorcycling, carpentry or listening to loud music.</li>
                    <li><strong>Some medications.</strong> Drugs such as the antibiotic gentamicin, sildenafil (Viagra) and certain chemotherapy drugs, can damage the inner ear. Temporary effects on your hearing — ringing in the ear (tinnitus) or hearing
                        loss — can occur if you take very high doses of aspirin, other pain relievers, antimalarial drugs or loop diuretics.</li>
                    <li><strong>Some illnesses.</strong> Diseases or illnesses that result in high fever, such as meningitis, may damage the cochlea.</li>
                </ul>

            </div>
        </div>
    </section>
    <section class="py-3" id="daignosis">
        <div class="container">
            <div class="w-100 py-md-2 px-2 px-sm-5">

                <h3 class="page_heading mb-3">Diagnosis & treatment </h3>

                <p class="para">Patients who suspect something is wrong with their hearing will initially go and see their doctor.

                </p>
                <p class="para">
                    The doctor will talk to the patient and ask several questions regarding the symptoms, including when they started, whether or not they have gotten worse, and whether the individual is feeling pain alongside the hearing loss.
                </p>
                <p class="para ">The doctor will look into the ear using an otoscope. This is an instrument with a light at the end. The following may be detected during the examination:</p>


                <ul class="custom_list s_list sm_list mt-2">
                    <li> a blockage caused by a foreign object</li>
                    <li> a collapsed eardrum</li>
                    <li> an accumulation of earwax</li>
                    <li> an infection in the ear canal</li>
                    <li> an infection in the middle ear if a bulge is present in the eardrum.</li>
                    <li> cholesteatoma, a skin growth behind the eardrum in the middle ear. fluid in the ear canal</li>
                    <li> a hole in the eardrum</li>

                </ul>


                <p class="para ">
                    The doctor will ask questions about the person’s experiences with hearing, including:
                </p>

                <ul class="custom_list s_list sm_list mt-2">
                    <li>Do you often find yourself asking people to repeat what they said?</li>
                    <li> Do you find it hard to understand people on the telephone?</li>
                    <li> Do you miss the doorbell when it rings? If so, does this happen frequently?</li>
                    <li> When you chat with people face-to-face, do you have to focus carefully?</li>
                    <li> Has anybody ever mentioned to you that you might have a problem with your hearing?</li>
                    <li> Do you find more people mumble today than they used to?</li>
                    <li> internal you hear a sound, do you often find it hard to determine where it is coming from?</li>
                    <li> When several people are talking, do you find it hard to understand what one of them is telling you?</li>
                    <li> Are you often told that the television, radio, or any sound-producing device is too loud?</li>
                    <li> Do you find male voices easier to understand than female voices?</li>
                    <li> Do you spend most of each day in a noisy environment?</li>
                    <li> Have you often found yourself misunderstanding what other people say to you?</li>
                    <li> Do you hear rushing, hissing, or ringing sounds?</li>
                    <li> Do you avoid group conversations?</li>
                </ul>
                <p class="para ">
                    If you answered “yes” to most of the above questions, see a doctor and have your hearing checked.</p>


                <h3 class="page_heading mb-3">General screening test </h3>
                <p class="para ">
                    A doctor may ask the patient to cover one ear and describe how well they hear words spoken at different volumes, as well as checking sensitivity to other sounds.
                </p>
                <p class="para ">
                    If the doctor suspects a hearing problem, they will probably be referred to either an ear, nose, and throat (ENT) specialist or an audiologist.
                </p>
                <p class="para ">
                    Further tests will be carried out, including:
                </p>

                <p class="para ">
                    A tuning fork test: This is also known as the Rinne test. A tuning fork is a metal instrument with two prongs that produces a sound when it is struck. Simple tuning fork tests may help the doctor detect whether there is any hearing loss, and where the
                    problem is.</p>
                <p class="para ">
                    A tuning fork is vibrated and placed against the mastoid bone behind the ear. The patient is asked to indicate when they no longer hear any sound. The fork, which is still vibrating, is then placed 1 to 2 centimeters (cm) from the auditory canal. The
                    patient is asked again whether they can hear the fork.</p>
                <p class="para ">
                    As air conduction is greater than bone conduction, the patient should be able to hear the vibration. If they cannot hear it at this point, it means that their bone conduction is superior to their air conduction.</p>
                <p class="para ">
                    This suggests a problem with sound waves getting to the cochlea through the ear canal.</p>
                <p class="para ">
                    Audiometer test: The patient wears earphones, and sounds are directed into one ear at a time. A range of sounds is presented to the patient at various tones. The patient has to signal each time a sound is heard.</p>
                <p class="para ">
                    Each tone is presented at various volumes, so that the audiologist can determine at which point the sound at that tone is no longer detected. The same test is carried out with words. The audiologist presents words at various tones and decibel levels to
                    determine where the ability to hear stops.</p>
                <p class="para ">
                    Bone oscillator test: This is used to find out how well vibrations pass through the ossicles. A bone oscillator is placed against the mastoid. The aim is to gauge the function of the nerve that carries these signals to the brain.
                </p>




                <h3 class="page_heading mb-3">Routine screening of children</h3>

                <p class="para mt-3">The American Academy of Pediatrics (AAP) recommends that children have their hearing tests at the following times:</p>

                <ul class="custom_list s_list sm_list mt-2">
                    <li> when they start school</li>
                    <li> at 6, 8, and 10 years of age</li>
                    <li> at least once when they are in middle school</li>
                    <li> once during high school</li>
                </ul>




                <h3 class="page_heading mt-3 mb-3">Treatment</h3>
                <p class="para mt-3">Help is available for people with all types of hearing loss. Treatment depends on both the cause and severity of the deafness.


                    <br> Sensorineural hearing loss is incurable. When the hair cells in the cochlea are damaged, they cannot be repaired. However, various treatments and strategies can help improve quality of life.
                    <br>
                </p>




            </div>
        </div>
    </section>

    <!--<section class="pt-0 pb-4" id="daignosis">
		<div class="container">
			<div class="w-100 py-md-2 px-2 px-sm-5">
				<a href="#" class="bottom_link">Diagnosis & treatment &gt;</a>
			</div>
		</div>
	</section>-->
    <section id="EnquiryForm" class="pb-4">
        <div class="container">
            <div class="w-100 py-md-2 px-2 px-sm-5">
                <h3 class="heading2 text-center mb-5 text-uppercase">Enquiry Form</h3>

                <div class="enq_form">
                    <form action="">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input type="text" class="enq_control form-control" placeholder="First Name">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input type="text" class="enq_control form-control" placeholder="Last Name">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input type="email" class="enq_control form-control" placeholder="Email">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input type="tel" class="enq_control form-control" placeholder="Mobile Number">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <textarea name="" id="" class="enq_control form-control" placeholder="Message"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group text-center">
                                    <button type="submit" class="enq_submit">Submit</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</main>
{{end}}