{{ define "main" }}
<main role="main">
    <section id="home">
        <img src="/images/speciality_service/banners/Voice Treatment/voice-treatment.jpg" class="img-fluid" alt="" />
    </section>

    <section class="py-5">
        <div class="container-fluid">
            <div class="d-flex align-items-start justify-content-between flex-wrap">
                <div class="col-sm-8">
                    <div class="w-100 py-md-2 px-2 px-sm-5">
                        <h5 class="font-weight-bold mt-4" style="font-size: 18px">
                            World Voice Day was established as a special day of awareness, recognition, and celebration of the human voice.
                        </h5>

                        <div class="mt-3">
                            <ul class="custom_list s_list sm_list">
                                <p>
                                    Commemorated each year on April 16th, World Voice Day owes its roots to a group of Brazilian voice care professionals who decided to celebrate the voice in 1999 by establishing Brazilian Voice Day.
                                </p>
                                <p>
                                    The main idea of World day is to emphasize on how important voice is to us in our day to day life. It is the only medium, through which human beings express their thoughts and emotions. The voice can project all of human emotions from our greatest joys
                                    to our deepest sorrows.The human voice is a rich source of information and an important means of interpersonal communication.
                                </p>
                                <p>
                                    It is one of the most important aspects of our personality. Great legends like Amitabh Bachan , Lata Mangeshkar , Morgan Freeman and so many more are known for their impressive voice.
                                </p>

                                <p>
                                    We dedicate this day to early identification , diagnosis and a early treatment of voice disorders.
                                </p>
                            </ul>
                        </div>

                        <h5 class="font-weight-bold mt-4" style="font-size: 18px">
                            What are the symptoms of voice disorders?
                        </h5>
                        <div class="mt-3">
                            <ul class="custom_list s_list sm_list">
                                <li>Your voice has become hoarse or raspy.</li>
                                <li>Your voice is weak or breathy.</li>
                                <li>
                                    You’ve lost the ability to hit some high notes when singing.
                                </li>
                                <li>
                                    You speak in either too high or low pitch. Or there is change in the pitch of your voice.
                                </li>
                                <li>You have vocal fatigue.</li>
                                <li>You feel a Lump in your throat while swallowing</li>
                            </ul>
                        </div>

                        <h5 class="font-weight-bold mt-4" style="font-size: 18px">
                            What are the causes of voice disorders?
                        </h5>
                        <div class="mt-3">
                            <ul class="custom_list s_list sm_list">
                                <p>
                                    For normal speech, your vocal cords need to touch together smoothly inside your larynx. This movement has to be synchronous. Anything that interferes with vocal cord movement or contact can cause a voice disorder. Also swelling of either one or both cords
                                    can give rise to changes in voice quality. Many voice disorders can be cured with medication when diagnosed early. Other require a surgical correction.
                                </p>
                                <p>
                                    Voice disorders can be caused by many factors. In some cases, the cause of a voice disorder is not known. Possible causes can include:
                                </p>
                            </ul>
                        </div>

                        <h5 class="font-weight-bold mt-4" style="font-size: 18px">
                            Inflamation and swelling ( Laryngitis)
                        </h5>

                        <div class="mt-3">
                            <ul class="custom_list s_list sm_list">
                                <p>
                                    Laryngitis is an inflammation of your voice box (larynx) from overuse, irritation or infection.Many things can cause inflammation and swelling of the vocal cords. These include infections, surgery, respiratory illness or allergies, some medicines, exposure
                                    to certain chemicals, smoking, alcohol abuse, or vocal abuse.
                                </p>
                            </ul>
                        </div>

                        <h5 class="font-weight-bold mt-4" style="font-size: 18px">
                            Laryngopharyngeal reflux disease (LPRD)
                        </h5>
                        <div class="mt-3">
                            <p>
                                Reflux of stomach acid into the throat can cause a variety of symptoms in the esophagus as well as in the throat. Hoarseness, swallowing problems, a lump in the throat sensation, or throat pain are common symptoms.
                            </p>
                        </div>

                        <h5 class="font-weight-bold mt-4" style="font-size: 18px">
                            Growths
                        </h5>
                        <div class="mt-3">
                            <p>
                                These may be benign like vocal nodules, polyps, cyst or cancerous giving rise to a hoarse voice.
                            </p>
                        </div>

                        <h5 class="font-weight-bold mt-4" style="font-size: 18px">
                            Nerve problems
                        </h5>
                        <div class="mt-3">
                            <p>
                                Many cases of vocal paralysis are of unknown etiology. . Nerves can be injured from surgery, diseases of chest or some medical conditions.
                            </p>
                        </div>

                        <h5 class="font-weight-bold mt-4" style="font-size: 18px">
                            Muscle tension dysphonia
                        </h5>
                        <div class="mt-3">
                            <p>
                                Muscle tension dysphonia (MTD) is one of the most common voice disorders. It occurs when the muscles around the larynx (voice box) are so tight during speaking that the voice box does not work efficiently.
                            </p>
                        </div>

                        <h5 class="font-weight-bold mt-4" style="font-size: 18px">
                            Neurological voice disorders, such as spasmodic dysphonia
                        </h5>
                        <div class="mt-3">
                            <p>
                                Spasmodic dysphonia is a voice disorder. It causes involuntary spasms in the muscles of the voice box or larynx. This causes the voice to break and have a tight, strained or strangled sound. Spasmodic dysphonia can cause problems ranging from trouble
                                saying a word or two to being not able to talk at all.
                            </p>
                        </div>

                        <h5 class="font-weight-bold mt-4" style="font-size: 18px">
                            Hormones
                        </h5>
                        <div class="mt-3">
                            <p>
                                Disorders affecting thyroid hormone, female and male hormones, and growth hormones can cause voice disorders.
                            </p>
                        </div>
                        <h5 class="font-weight-bold mt-4" style="font-size: 18px">
                            Misuse of voice
                        </h5>
                        <div class="mt-3">
                            <p>
                                The vocal cords can be stressed by using too much tension when speaking. . Examples of vocal abuse include too much talking, shouting, or coughing. Smoking and constant clearing of the throat is also vocal abuse.
                            </p>
                        </div>
                        <h5 class="font-weight-bold mt-4" style="font-size: 18px">
                            Diagnosis of voice disorders
                        </h5>
                        <div class="mt-3">
                            <p>
                                In the present modern age we have very easy out patient examination tools to diagnose voice problems Laryngeal endoscopy, using flexible or rigid Hopkin’s endoscopes. Flexible Nasopharyngo-laryngoscope with chip on tip technology. Stroboscopy. Laryngeal
                                video-endoscopy provides information about vocal fold structure and gross function and anomalies if any. It is used to diagnose and document voice and laryngeal disorders, It is very useful to record the video and still
                                images in the documentation for routine follow-up. Video-stroboscopy is a state-of-the-art technique that provides a magnified, slow motion view of the vocal cord vibration. Minute vocal fold lesions which are not appreciable
                                by normal mirror/ videolaryngoscopic examination are easily diagnosed. It can be also used to asses voice pre & post therapeutic procedure.
                            </p>
                        </div>
                        <h5 class="font-weight-bold mt-4" style="font-size: 18px">
                            Treatment options for Voice Disorders
                        </h5>
                        <div class="mt-3">
                            <p>
                                Depending on your diagnosis, your doctor will recommend one or more treatments:
                            </p>
                            <p>
                                <strong>Lifestyle changes.</strong> Some lifestyle changes may help reduce or stop symptoms. These can include not speaking loudly, and resting your voice regularly if you speak or sing a lot. Exercises to relax the vocal
                                cords and muscles around them can help in some cases. Warm up the vocal cords before extensive periods of speaking. Stay hydrated.
                            </p>

                            <p>
                                <strong>Speech therapy.</strong> Working with a speech-language pathologist can help with certain voice disorders. Therapy may include exercises and changes in speaking behaviors. Some of these may include maneuvers that
                                encourage you to take deep breaths to power vocalizations with adequate breathing.
                            </p>

                            <p>
                                <strong>Medicines.</strong> Some voice disorders are caused by a problem that can be treated with medicine. For example, antacid medicine may be used for GERD, or hormone therapy for problems with thyroid or female hormones.
                            </p>
                        </div>

                        <h5 class="font-weight-bold mt-4" style="font-size: 18px">
                            Procedures
                        </h5>
                        <h6 class="font-weight-bold mt-4" style="font-size: 18px">
                            Microlaryngeal Surgery
                        </h6>
                        <div class="mt-3">
                            <p>
                                Noncancerous lesions (polyps, nodules and cysts) on the vocal cords may need to be surgically removed. These lesions can be removed by microlaryngeal surgery with or without using carbon dioxide laser
                            </p>
                        </div>

                        <h5 class="font-weight-bold mt-4" style="font-size: 18px">
                            Botox injections.
                        </h5>
                        <div class="mt-3">
                            <p>
                                Injections of tiny amounts of botulinum toxin A (BotoxA) into the neck muscles may be done to improve the quality of your voice.These injections can decrease muscle spasms or abnormal movements of the laryngeal muscles in disorders like spasmodic dysphonia.
                            </p>
                        </div>

                        <h5 class="font-weight-bold mt-4" style="font-size: 18px">
                            Injection Laryngoplasty
                        </h5>
                        <div class="mt-3">
                            <p>
                                Sometimes one vocal cord become paralyzed spontaneously of following infections or post surgery or due to tumors. This can cause severe hoarseness and aspiration in some cases. Materials like body fat, collagen, hyaluronic acid can be used for injection
                                lateral to the paralyzed cord. This material pushes the cord medially helping the cords to approximate better during phonation. These procedures are done in the outpatient setting under local anesthesia and do not require
                                hospitalization.
                            </p>
                        </div>

                        <h5 class="font-weight-bold mt-4" style="font-size: 18px">
                            Botox injections.
                        </h5>
                        <div class="mt-3">
                            <p>
                                Injections of tiny amounts of botulinum toxin A (BotoxA) into the neck muscles may be done to improve the quality of your voice.These injections can decrease muscle spasms or abnormal movements of the laryngeal muscles in disorders like spasmodic dysphonia.
                            </p>

                            <p>
                                <strong>Thyroplasty.</strong> A small opening is created in the cartilage from the outside of your voice box. The doctor inserts an implant through the opening and pushes it against the paralyzed vocal cord, moving it closer
                                to your other vocal cord.
                            </p>
                            <p>
                                Type 1 thyroplasty – Medialization of the vocal folds with silicone or titanium implants(most common surgery for unilateral vocal cord paralysis).
                            </p>

                            <p>
                                Type 2 thyroplasty – Lateralization of the vocal folds (in case of airway adductor spasmodic dysphonia).
                            </p>

                            <p>
                                Type 3 thyroplasty – Shortening of the vocal folds (done to lower the vocal pitch)
                            </p>
                            <p>
                                Type 4 thyroplasty – Lengthening of the vocal folds (done to raise the vocal pitch).
                            </p>

                            <h5 class="font-weight-bold mt-4" style="font-size: 18px">
                                Tips to prevent voice problem
                            </h5>
                            <p><strong>Stay hydrated:</strong></p>
                            <p>Drink plenty of water. Six to eight glasses a day.</p>
                            <p>
                                Limit your intake of drinks that contain alcohol or caffeine,
                            </p>
                            <p>Use a humidifier in your home.</p>
                            <p>
                                Avoid or limit use of medications that dry out the vocal folds, including some common cold and allergy medications.
                            </p>
                            <br />
                            <p><strong>Maintain a healthy lifestyle and diet:</strong></p>

                            <p>Don’t smoke.</p>
                            <p>Avoid eating spicy foods.</p>
                            <p>
                                Get enough rest. Physical fatigue has a negative effect on voice.
                            </p>
                            <p>Exercise regularly.</p>
                            <p>
                                Avoid mouthwash or gargles that contain alcohol or irritating chemicals.
                            </p>

                            <p><strong>Use your voice wisely:</strong></p>
                            <p>Avoid overuse of your voice.</p>
                            <p>Rest your voice when you are sick.</p>
                            <p>
                                Avoid using the extremes of your vocal range, such as screaming or whispering.
                            </p>
                            <p>Support your voice with deep breaths from the chest.</p>
                            <p>
                                Avoid cradling the phone between the head and shoulder for extended periods of time while talking.
                            </p>
                            <p>Consider using a microphone when appropriate.</p>
                            <p>Avoid talking in noisy places.</p>

                            <p><strong>When to visit an ENT surgeon?</strong></p>
                            <p>Hoarseness of voice for more than 2 weeks.</p>
                            <p>
                                Hoarseness associated with difficulty in swallowing or breathing.
                            </p>
                            <p>Hoarseness associated with bloody sputum.</p>
                            <p>It becomes an effort even to talk.</p>
                            <p>Unable to hit some high notes when singing.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <img src="/images/speciality_service/banners/Voice Treatment/covid_article.jpg" class="img-fluid" alt="" />
                </div>
            </div>
        </div>
    </section>
</main>
{{end}}