{{ define "main" }}
<main role="main">
    <section id="home">
        <img src="/images/speciality_service/banners/tonsils.jpg" class="img-fluid" alt="">
    </section>

    <div class="container mt-4">
        <div class="w-100 py-md-2 px-2 px-sm-5">
            <h3 class="heading2 text-left text-uppercase mb-4">Tonsillitis</h3>
            <div class="scroll_spy" id="mainNav">
                <ul>
                    <li><a href="#causes">Symptoms & Causes</a></li>
                    <!--<li><a href="#doctors">Doctors & departments</a></li>-->
                    <li><a href="#daignosis">Diagnosis & treatment</a></li>
                </ul>
            </div>

        </div>
    </div>
    <section class="py-3">
        <div class="container">
            <div class="w-100 py-md-2 px-2 px-sm-5">

                <h3 class="page_heading mb-3">Overview</h3>

                <p class="para">Tonsillitis is inflammation of the tonsils, two oval-shaped pads of tissue at the back of the throat — one tonsil on each side. Signs and symptoms of tonsillitis include swollen tonsils, sore throat, difficulty swallowing and tender lymph
                    nodes on the sides of the neck.</p>
                <p class="para ">Most cases of tonsillitis are caused by infection with a common virus, but bacterial infections also may cause tonsillitis.</p>
                <p class="para ">Because appropriate treatment for tonsillitis depends on the cause, it's important to get a prompt and accurate diagnosis. Surgery to remove tonsils, once a common procedure to treat tonsillitis, is usually performed only when tonsillitis
                    occurs frequently, doesn't respond to other treatments or causes serious complications.</p>

            </div>
        </div>
    </section>
    <section class="pt-0 pb-2" id="causes">
        <div class="container">
            <div class="w-100 py-md-2 px-2 px-sm-5">
                <h5 class="font-weight-bold text_primary inner_heading">Symptoms </h5>

                <div class="row">
                    <div class="col-sm-7">
                        <p class="para mt-3">Tonsillitis most commonly affects children between preschool ages and the midteenage years. Common signs and symptoms of tonsillitis include:</p>


                        <ul class="custom_list s_list sm_list mt-2">
                            <li>Red, swollen tonsils</li>
                            <li>White or yellow coating or patches on the tonsils</li>
                            <li>Sore throat</li>
                            <li>Difficult or painful swallowing</li>
                            <li>Fever</li>
                            <li>Enlarged, tender glands (lymph nodes) in the neck</li>
                            <li>A scratchy, muffled or throaty voice</li>
                            <li>Bad breath</li>
                            <li>Stomachache</li>
                            <li>Neck pain or stiff neck</li>
                            <li>Headache</li>
                        </ul>

                        <p class="para mt-3">In young children who are unable to describe how they feel, signs of tonsillitis may include:</p>

                        <ul class="custom_list s_list sm_list mt-2">
                            <li>Drooling due to difficult or painful swallowing</li>
                            <li>Refusal to eat</li>
                            <li>Unusual fussiness</li>
                        </ul>

                        <h5 class="font-weight-bold text_primary inner_heading mt-5">When to see a doctor </h5>
                        <p class="para mt-3">It's important to get an accurate diagnosis if your child has symptoms that may indicate tonsillitis.</p>



                        <p class="para mt-3"> Call your doctor if your child is experiencing:</p>
                        <ul class="custom_list s_list sm_list mt-2">
                            <li> A sore throat with fever</li>
                            <li> A sore throat that doesn't go away within 24 to 48 hours</li>
                            <li> Painful or difficult swallowing</li>
                            <li> Extreme weakness, fatigue or fussiness</li>
                            <p class="para mt-3"> Get immediate care if your child has any of these signs:</p>

                            <li> Difficulty breathing</li>
                            <li> Extreme difficulty swallowing</li>
                            <li> Excessive drooling</li>
                        </ul>
                    </div>
                    <div class="col-sm-5">
                        <img src="/images/tonsil_side.png" class="img-fluid" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>




    <section id="EnquiryForm" class="pb-4">
        <div class="container">
            <div class="w-100 py-md-2 px-2 px-sm-5">
                <h3 class="heading2 text-center mb-5 text-uppercase">Enquiry Form</h3>

                <div class="enq_form">
                    <form action="">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input type="text" class="enq_control form-control" placeholder="First Name">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input type="text" class="enq_control form-control" placeholder="Last Name">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input type="email" class="enq_control form-control" placeholder="Email">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input type="tel" class="enq_control form-control" placeholder="Mobile Number">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <textarea name="" id="" class="enq_control form-control" placeholder="Message"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group text-center">
                                    <button type="submit" class="enq_submit">Submit</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</main>
{{end}}