{{ define "main" }}
<main role="main">
    <section id="home">
        <img src="/images/about-us.jpg" class="img-fluid" alt="">
    </section>


    <section class="py-5">
        <div class="container-fluid">
            <div class="d-flex align-items-start justify-content-between flex-wrap">
                <div class="col-sm-8">
                    <div class="w-100 py-md-2 px-2 px-sm-5">
                        <h3 class="heading2 text-center mb-5">WHAT IS SWIMMER EAR’S?
                        </h3>

                        <div class="mt-3">
                            <ul class="custom_list s_list sm_list">
                                <p>When someone spends a lot of time underwater, they are likely to develop a condition that is known as SWIMMER’S EAR.



                                </p>
                                <p> Swimmer's ear is an infection in the outer ear canal, which runs from your eardrum to the outside of your head. It's often brought on by water that remains in your ear, creating a moist environment that aids the growth
                                    of bacteria.

                                </p>
                                <p> Swimmer's ear is also known as OTITIS EXTERNA.


                                </p>
                                <p>
                                    Redness of the ear canal, ear pain, draining fluids and discharge of pus are signs of swimmer's ear


                                </p>


                            </ul>
                        </div>









                        <h5 class="font-weight-bold mt-4" style="font-size: 18px">

                            HOW DOES THE SWIMMER'S EAR CONDITION HAPPEN EXACTLY?

                        </h5>
                        <div class="mt-3">
                            <p> Ears have a natural defence mechanism against standing fluids and subsequent bacterial growth within the ear canal. The outer ear is the first line of defence, acting as a bodyguard stopping any foreign objects from entering
                                the ear canal. The next line of defence is a healthy layer of earwax that lines the ear canal to keep liquids from sitting with its waxy texture, by way of creating a space for bacteria to grow.


                            </p>


                        </div>


                        <h5 class="font-weight-bold mt-4" style="font-size: 18px">
                            SYMPTOMS OF SWIMMER’S EAR INCLUDE:
                        </h5>
                        <div class="mt-3">
                            <li>Itching in the ear canal</li>
                            <li> Slight redness of the ear canal</li>
                            <li> Clear and odourless drainage from the ear canal</li>
                            <li> Slight pain when touching the ear itself</li>
                            <li> Partial blockage of the ear canal with a feeling of fullness</li>
                            <li> Decreased or muffled hearing</li>
                            <li> Swelling of the lymph nodes or neck</li>
                            <li> Fever and severe pain (this is when you need to see a doctor)
                            </li>




                        </div>

                        <h5 class="font-weight-bold mt-4" style="font-size: 18px">
                            COMPLICATIONS WITH SWIMMER’S EAR
                        </h5>
                        <div class="mt-3">
                            <p>If left untreated, swimmer's ear may cause other problems such as:

                            </p>

                            <ul>
                                <li>
                                    Hearing loss from a swollen and inflamed ear canal. Hearing usually returns to normal when the infection clears up.</li>
                                <li>Ear infections that keep coming back</li>
                                <li>Bone and cartilage damage</li>
                                <li>Infection spreading to nearby tissue, the skull, brain, or the nerves that start directly in the brain (cranial nerves)


                                </li>
                            </ul>
                            <p>
                                While it’s hard to know if or when swimmer’s ear can happen, there are some preventative measures that can be taken to try and avoid it.

                            </p>

                        </div>

                        <h5 class="font-weight-bold mt-4" style="font-size: 18px">
                            HOW TO PREVENT SWIMMER’S EAR?


                        </h5>
                        <div class="mt-3">
                            <p>People have different sizes of ear canals, varying thickness of earwax, damaged or vulnerable ear drums and other medical conditions that might make them more susceptible to swimmer’s ear.


                            </p>


                            <ul>
                                <li>
                                    Inserting object into your ears for cleaning purposes – only the outer ear should be cleaned with cotton swabs or Q-tips</li>
                                <li>Exposure to contaminated water with high bacterial levels such as a lake, ocean, or unkempt swimming pool or hot tub</li>
                                <li>Use of ear devices like hearing aids and Ear pods that are not properly cleaned and stored</li>
                                <li>A hair dryer could be used to carefully dry the ear after a shower. Be careful to ensure the air is not too hot, hold it at least a foot (about 30 centimetres) away from the ear</li>
                                <li>Prolonged exposure to moisture and/or water like in humid climates or like its namesake implies – swimming with the ears underwater for long periods of time

                                </li>
                            </ul>
                            <p>
                                Swimmer’s ear is quite common but it’s important to manage the symptoms and keep an eye on the symptoms so it doesn’t become a severe bacterial infection. However, if the symptoms persist of escalate, you should consult an ENT specialist. To consult with
                                Dr. Neha Sood, visit: drnehasood.com or Call: 9205407127
                            </p>
                        </div>





                    </div>
                </div>
                <div class="col-sm-4">
                    <img src="/images/swill.png" class="img-fluid" alt="">
                </div>
            </div>
        </div>
    </section>

</main>
{{end}}