{{ define "main" }}
<main role="main">
    <section id="home">
        <img src="/images/about-us.jpg" class="img-fluid" alt="">
    </section>


    <section class="py-5">
        <div class="container-fluid">
            <div class="d-flex align-items-start justify-content-between flex-wrap">
                <div class="col-sm-8">
                    <div class="w-100 py-md-2 px-2 px-sm-5">
                        <h3 class="heading2 text-center mb-5">Sinus Headaches</h3>


                        <h5 class="font-weight-bold mt-4" style="font-size: 18px">What are sinus headaches?</h5>
                        <div class="mt-3">
                            <ul class="custom_list s_list sm_list">
                                <p>Sinus headaches occur when the sinus passages behind your eyes, nose, cheeks, and forehead are congested. A sinus headache can be felt on either or both sides of your head.</p>

                                <p>Pain or pressure is felt not just in your head, but anywhere in the sinus area. Sometimes sinus headaches are a symptom of the ongoing sinus condition sinusitis.</p>

                                <p>Sinus headaches can happen seasonally if you have allergies, or only occasionally when your sinuses become triggered for some other reason. There are herbal remedies, over-the-counter treatments, and prescription medication
                                    you can take to treat sinus headaches.

                                </p>


                            </ul>
                        </div>



                        <h5 class="font-weight-bold mt-4" style="font-size: 18px">Symptoms of a sinus headache</h5>

                        <div class="mt-3">
                            <ul class="custom_list s_list sm_list">
                                <p>Symptoms of inflamed sinuses accompany sinus headaches. These symptoms include:</p>
                                <li>pain getting worse when you lean forward</li>
                                <li>green or yellow nasal discharge</li>
                                <li>an uncomfortable pressure behind your forehead</li>
                                <p>Sometimes a sinus headache can also give you a feeling of fatigue or an aching in your top jaw. Redness and swelling of the cheeks, nose, or forehead can occur.</p>
                            </ul>

                        </div>

                        <h5 class="font-weight-bold mt-4" style="font-size: 18px">Sinus headache vs. migraine</h5>
                        <div class="mt-3">
                            <p>According to the American Migraine Foundation, 50 percent of migraine misdiagnoses start with a person thinking they have a sinus headache. The Mayo Clinic points out that 90 percent of people who go to the doctor for a sinus
                                headache find out they have a migraine instead.</p>

                            <p>If you don’t have any of the symptoms that come specifically with a sinus headache, you may be experiencing a migraine. Migraines are treated differently from sinus headaches. If you experience symptoms such as nausea, dizziness,
                                or sensitivity to light, you’re likely having a migraine and not a sinus headache.</p>


                        </div>

                        <h5 class="font-weight-bold mt-4" style="font-size: 18px">What are the causes and triggers of sinus headaches?</h5>
                        <div class="mt-3">
                            <p>Sinus headaches are most often a symptom of sinusitis, in which the sinus becomes inflamed from allergies or other triggers like an infection. Sinus headaches may also result from seasonal allergies that last an extended period
                                of time. This is called rhinitis, or hay fever. Sinus infections and sinus blockages can also trigger sinus headaches.
                            </p>


                        </div>

                        <h5 class="font-weight-bold mt-4" style="font-size: 18px">Words matter: What is conscious language?</h5>
                        <div class="mt-3">
                            <p>Make sure your words portray people the way they want you to see them. Our Conscious Language Guide explains terms like person-first language and identity-first language to help you get started.</p>


                        </div>

                        <h5 class="font-weight-bold mt-4" style="font-size: 18px">Treatments and relief
                        </h5>
                        <div class="mt-3">
                            <p>Doctors often recommend letting sinus infects resolve on their own. It’s actually best practice for adults to not receive medical treatment for acute sinusitis unless they experience certain symptoms, like fever, severe pain,
                                or infection that lasts more than seven days.</p>
                            <p>
                                You can connect to a primary care doctor in your area using the Healthline FindCare tool.
                            </p>


                        </div>

                        <h5 class="font-weight-bold mt-4" style="font-size: 18px">Home remedies
                        </h5>
                        <div class="mt-3">
                            <p>If you have a sinus headache, thinning out the congestion trapped in your sinuses may help. Try running a humidifier or irrigating your sinuses with a saline solution to cleanse the area.</p>

                            <p>Breathing in steam may also help. Applying a warm, wet washcloth to the area of your sinuses may promote drainage and relieve pressure.</p>

                            <p>You can also try to promote sinus drainage by gently pressing on your sinus pressure points. Start with the area at the bridge of your nose between your eyes, and either tap or apply continuous pressure for about one minute.
                                This might loosen blockage caused by trapped mucus in your sinuses.</p>

                            <p>To promote drainage from your nose, press lightly on both sides of your nose at once before tipping your head forward and blowing your nose. If you push the area underneath your eyes at the top of your cheekbones in and up,
                                you may also experience some pressure relief.</p>



                        </div>
                        <h5 class="font-weight-bold mt-4" style="font-size: 18px">Over-the-counter options
                        </h5>
                        <div class="mt-3">
                            <p>Analgesics, such as ibuprofen (Advil) and acetaminophen (Tylenol), can dull the pain you feel from a sinus headache. They also may treat other symptoms, like an achy jaw or fever.
                            </p>
                            <p>But these drugs don’t address the underlying inflammation that causes the pain you feel. If your sinus headache gets worse or continues over the course of several days, discontinue using analgesics and speak with your doctor
                                about what’s going on.</p>

                            <p>If home remedies aren’t helping, you may want to try decongestants, such as oxymetazoline (Afrin) or pseudoephedrine (Sudafed).

                            </p>
                            <p>
                                But don’t take a decongestant for more than three days without talking to your doctor about your sinus blockage. Oxymetazoline can cause rebound congestion after three days.
                            </p>


                        </div>

                        <h5 class="font-weight-bold mt-4" style="font-size: 18px">Prescription medications
                        </h5>
                        <div class="mt-3">
                            <p>If a sinus infection is causing your sinus headache, your doctor may prescribe antihistamines, mucolytics (medications that clear your mucus), and decongestants. Your doctor won’t prescribe antibiotics, however, unless your
                                experiencing complications from sinusitis caused by a bacterial infection.</p>
                            <p>
                                If it’s allergies causing your headaches, your doctor may prescribe antihistamines or corticosteroid shots.
                            </p>

                        </div>
                        <h5 class="font-weight-bold mt-4" style="font-size: 18px">Alternative treatments
                        </h5>
                        <div class="mt-3">
                            <p>There are alternative treatments that may help relieve sinus headaches, too. A review paper in Alternative Medicine Review suggests bromelain, a mixture of enzymes found in pineapple juice, may thin nasal secretions. The review
                                also suggests that stinging nettle (Urtica dioica) may bring relief to cases of long-standing rhinitis.</p>
                            <p>
                                If you have a serious sinus infection, it’s important to remember that these methods of treatment won’t cure the condition or provide instant relief.</p>


                        </div>
                        <h5 class="font-weight-bold mt-4" style="font-size: 18px">How are sinus headaches prevented?
                        </h5>
                        <div class="mt-3">
                            <p>If you have reoccurring sinus headaches as a symptom of sinusitis or seasonal allergies, you may need to consider prescription medication to manage the condition.</p>

                            <p>Lifestyle changes to reduce congestion, such as avoiding allergens and incorporating aerobic exercise into your routine, might decrease how many headaches you get.</p>

                            <p>In cases of chronic sinusitis, a nasal surgery such as a balloon sinuplasty might be the only way to stop getting more sinus headaches.</p>


                        </div>
                        <h5 class="font-weight-bold mt-4" style="font-size: 18px">What are the complications of sinus headaches?</h5>
                        <div class="mt-3">
                            <p>In rare cases, complications around the eye area can happen, resulting in the area being swollen and inflamed. This may even affect your vision.</p>
                            <p>
                                If you have a high fever that persists, discolored nasal discharge, rattling in your chest, or difficulty breathing, see your doctor about these symptoms. While a sinus headache might seem like a harmless health condition, it’s important to determine
                                its cause.</p>
                        </div>

                        <h5 class="font-weight-bold mt-4" style="font-size: 18px">Outlook</h5>
                        <div class="mt-3">
                            <p>If you feel pressure or pain around your sinuses, don’t jump to the conclusion that you have a sinus headache. Take careful note of your symptoms and check for other signs of a sinus infection, like a fever or green nasal discharge.

                            </p>
                            <p>
                                If your sinus pain doesn’t subside, speak to your doctor about the pressure behind your eyes, forehead, or cheeks. There’s an array of treatment options that can help you find relief from your discomfort.</p>
                        </div>


                    </div>
                </div>
                <div class="col-sm-4">
                    <img src="/images/sinus_article.jpg" class="img-fluid" alt="">
                </div>
            </div>
        </div>
    </section>

</main>
{{end}}