{{ define "main" }}
<main role="main">
    <div class="banner_content flex-wrap bg_sea_blue justify-content-between flex-column-reverse_xs ">
        <div class="col-md-10 mx-auto ">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6 col-sm-6 d-flex justify-content-center">
                    <div class="banner_text2 px-5 py-3">
                        <h1 class="banner_heading1 text-white">
                            About Us
                        </h1>
                        <br>
                        <p class="text-white">Dr. Neha Sood <br>Ear, Nose & Throat <br>Surgeon </p>
                        <a href="/contact_us" class="banner_btn" target="_blank">Book Appointment</a>
                    </div>
                </div>
                <div class="col-lg-5 col-md-6 col-sm-6  img-iped-head all-img-left">
                    <img style="border-radius: 20px;" src="/images/nehasood.png" alt="Drnehasood">
                </div>
            </div>
        </div>
    </div>


    <section class="py-5">
        <div class="container">
            <div class="d-flex align-items-start justify-content-between flex-wrap">
                <div class="col-sm-12">
                    <div class="w-100 py-md-2 px-2 px-sm-5">
                        <h3 class="heading2 text-center mb-5">About Us</h3>
                        <h5 class="font-weight-bold mt-4" style="font-size: 18px">Know Your Doctor</h5>
                        <div class="mt-3">
                            <ul class="custom_list s_list sm_list">
                                <li><strong>Dr. Neha Sood</strong> is a Ear, Nose & Throat Surgeon currently working as a Associate Director at BLK-Max Superspeciality Hospital, Delhi</li>
                                <li>Dr. Neha Sood specializes in the treatment of hearing loss and leads the program on Cochlear Implants at BLK Max Super-Specialiaty Hospital</li>
                                <li>Her fields of interest and expertise include Endoscopic sinus and skull base surgery</li>
                            </ul>
                        </div>


                        <h5 class="font-weight-bold mt-4" style="font-size: 18px">Experience</h5>
                        <div class="mt-3">
                            <ul class="custom_list s_list sm_list">
                                <li>Dr Sood has more than 18 years of experience in treating all ear nose throat disorders.</li>
                                <li>Presenlty working as a Associate Director in ENT & Cochlear Implant Department at BLK-Max Super Speciality Hospital, New Delhi</li>
                                <li>She has worked as ENT surgeon at president estate clinic Rashtrapati Bhawan, New Delhi</li>
                                <li>Currently part of Endoscopic Skull Base Surgery Team at BLK-Max Super Speciality Hospital</li>
                                <li>Formerly worked as a consultant at Sir Ganga Ram Hospital, Primus Hospital, Sita Ram Bhartia Hospital</li>
                            </ul>
                        </div>

                        <h5 class="font-weight-bold mt-4" style="font-size: 18px">Academic Qualifications</h5>
                        <div class="mt-3">
                            <ul class="custom_list s_list sm_list">
                                <li>Fellowship in Endoscopic Sinus & Skull base Surgery at University of Pittsburgh, USA</li>
                                <li>Fellowship in Cochlear Implantation of University of Freiburg, Germany</li>
                                <li>Fellowship in Phoniatrics, University of Freiburg, Germany</li>
                                <li>Fellowship in Balloon Sinuplasty ‘EVOLVE ASIA 2012’ in Chulalongkorn Hospital, Bangkok Thailand</li>
                                <li>Trained in Rhinoplasty in Khoo tech Phuat Hospital, Singapore, 2014</li>
                                <li>Diplomate of National Board ENT, Sir Ganga Ram Hospital</li>
                                <li>MBBS, Jawahar Lal Nehru Medical College, Belgaum</li>
                                <li>Organizing secretary of ‘BLK-Max Voice and Laser Workshop’ at BLK-Max Superspeciality Hopstital, Pusa Road, New Delhi</li>
                                <li>Guest Speaker for ‘Injection Laryngoplasty’ at National Meeting of the Indian Academy of ORL-HNS held in Kolkata </li>
                                <li>Participated in the ‘3rd Hands on Course in Tranoral Laser Surgery & Medialisation Thyroplasty’ in Pune</li>
                                <li>Guest faculty for a two day’s workshop on ‘Functional Endoscopic Sinus Surgery,Balloon Sinuplasty and Skull-Base Surgery" in March’2014 at Sir Salimullah Medical College & Mitford Hospital, Dhaka, Bangladesh.</li>
                                <li>Attended the 10th European Symposium on Paediatric Cochlear Implantation, Athens, Greece, May12-15, 2011</li>
                            </ul>
                        </div>

                        <h5 class="font-weight-bold mt-4" style="font-size: 18px">Membership</h5>
                        <div class="mt-3">
                            <ul class="custom_list s_list sm_list">
                                <li>Life member Indian Association of Otolaryngology Head and Neck Surgery</li>
                                <li>Life member Association of Otolaryngology of India</li>
                                <li>Life member Association of Phonosurgeons of India</li>
                                <li>Life Member Laryngology & Voice Association</li>
                            </ul>
                        </div>

                        <h5 class="font-weight-bold mt-4" style="font-size: 18px">Publications and Awards</h5>
                        <div class="mt-3">
                            <ul class="custom_list s_list sm_list">
                                <li>Awarded ‘Dr S L Jaiswal Video Award’ for the best surgical video on ‘Type 3 Thyroplasty for Puberphonia’ during AOICON 2020 in Pune.</li>
                                <li>A Case Report: Large Schwannoma with Skull Base Defect: May 2019; Indian Journal of Otolaryngology and Head and Neck Surgery: WVBS Ramalingam, Neha Sood, Nitya Subramanian</li>
                                <li>Co-authored Chapter on ‘Laryngo-pharyngeal reflux’ in Text book of Laryngology Jaypee publications (2017)</li>
                                <li>Awarded’ Raj S P Soni Gold Medal’ for Best Surgical Video ‘ Type 1 Thyroplasty with Titanium Vocal Fold Medialization Implant’ at AOI Delhi state annual conference in 2016.</li>
                                <li>Co-authored Chapter on ‘Obstructive Sleep Apnoea in Children’ in the book on “Sleep Related Breathing Disorders in Children” Jaypee publications (2015)</li>
                                <li>Obstructive Sleep Apnoea in Children’: Journal of Pediatric Critical Care, Vol.2 No.1, Jan – March2015: Neha Sood, Praveen Khilani</li>
                                <li>Raj S P Soni Gold Medal for Best Surgical Video ‘ Type 1 Thyroplasty with Titanium Vocal Fold Medialization Implant’</li>
                                <li>Chapter on ‘Obstructive Sleep Apnoea in Children’ in the book on “ Sleep Related Breathing Disorders in Children” Jaypee publications(2015)</li>
                                <li>Obstructive Sleep Apnoea in Children’ : Journal of Pediatric Critical Care , Vol.2 No.1, Jan – March2015: Neha Sood, Praveen Khilani</li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>


        </div>
    </section>


</main>

{{end}}