{{ define "main" }}
<main role="main">
    <section id="home">
        <img src="/images/speciality_service/banners/Snoring and Sleep Apnea/Snoring-and-Sleep-Apnea.jpg" class="img-fluid" alt="">
    </section>


    <section class="py-5">
        <div class="container-fluid">
            <div class="d-flex align-items-start justify-content-between flex-wrap">
                <div class="col-sm-8">
                    <div class="w-100 py-md-2 px-2 px-sm-5">
                        <h5 class="font-weight-bold mt-4" style="font-size: 18px"> Overview</h5>

                        <div class="mt-3">
                            <ul class="custom_list s_list sm_list">
                                <p>Sleep apnea is a potentially serious sleep disorder in which breathing repeatedly stops and starts. If you snore loudly and feel tired even after a full night's sleep, you might have sleep apnea.</p>
                                <p>
                                    The main types of sleep apnea are:
                                </p>

                                <li><strong>Obstructive sleep apnea,</strong> the more common form that occurs when throat muscles relax</li>
                                <li><strong>Central sleep apnea,</strong> which occurs when your brain doesn't send proper signals to the muscles that control breathing</li>
                                <li><strong>Complex slee</strong>p apnea syndrome, also known as treatment-emergent central sleep apnea, which occurs when someone has both obstructive sleep apnea and central sleep apnea</li>
                                <br>
                                <p>If you think you might have sleep apnea, see your doctor. Treatment can ease your symptoms and might help prevent heart problems and other complications.</p>

                            </ul>
                        </div>

                        <h5 class="font-weight-bold mt-4" style="font-size: 18px">Symptoms</h5>

                        <div class="mt-3">
                            <ul class="custom_list s_list sm_list">
                                <p>The signs and symptoms of obstructive and central sleep apneas overlap, sometimes making it difficult to determine which type you have. The most common signs and symptoms of obstructive and central sleep apneas include:</p>
                                <li>Loud snoring</li>
                                <li>Episodes in which you stop breathing during sleep — which would be reported by another person</li>
                                <li>Gasping for air during sleep</li>
                                <li>Awakening with a dry mouth</li>
                                <li>Morning headache</li>
                                <li>Difficulty staying asleep (insomnia)</li>
                                <li>Excessive daytime sleepiness (hypersomnia)</li>
                                <li>Difficulty paying attention while awake</li>
                                <li>Irritability
                                </li>
                                <p><strong>When to see a doctor</strong></p>
                                <p>Loud snoring can indicate a potentially serious problem, but not everyone who has sleep apnea snores. Talk to your doctor if you have signs or symptoms of sleep apnea. Ask your doctor about any sleep problem that leaves
                                    you fatigued, sleepy and irritable.</p>
                                <h5 class="font-weight-bold mt-4" style="font-size: 18px">Causes</h5>
                                <p><strong>Obstructive sleep apnea</strong></p>
                                <p>This occurs when the muscles in the back of your throat relax. These muscles support the soft palate, the triangular piece of tissue hanging from the soft palate (uvula), the tonsils, the side walls of the throat and the
                                    tongue.
                                </p>

                                <p>When the muscles relax, your airway narrows or closes as you breathe in. You can't get enough air, which can lower the oxygen level in your blood. Your brain senses your inability to breathe and briefly rouses you from
                                    sleep so that you can reopen your airway. This awakening is usually so brief that you don't remember it.</p>

                                <p>You might snort, choke or gasp. This pattern can repeat itself five to 30 times or more each hour, all night, impairing your ability to reach the deep, restful phases of sleep.</p>


                                <p><strong>Central sleep apnea</strong></p>
                                <p>This less common form of sleep apnea occurs when your brain fails to transmit signals to your breathing muscles. This means that you make no effort to breathe for a short period. You might awaken with shortness of breath
                                    or have a difficult time getting to sleep or staying asleep.</p>

                                <p><strong>Risk factors</strong></p>
                                <p>Sleep apnea can affect anyone, even children. But certain factors increase your risk.</p>

                                <p><strong>Obstructive sleep apnea</strong></p>
                                <p>Factors that increase the risk of this form of sleep apnea include:</p>


                                <li><strong>Excess weight.</strong> Obesity greatly increases the risk of sleep apnea. Fat deposits around your upper airway can obstruct your breathing.</li>
                                <li><strong>Neck circumference.</strong> People with thicker necks might have narrower airways.</li>
                                <li><strong>A narrowed airway.</strong> You might have inherited a narrow throat. Tonsils or adenoids also can enlarge and block the airway, particularly in children.</li>
                                <li><strong>Being male. </strong>Men are two to three times more likely to have sleep apnea than are women. However, women increase their risk if they're overweight, and their risk also appears to rise after menopause.</li>
                                <li><strong>Being older. </strong>Sleep apnea occurs significantly more often in older adults.</li>
                                <li><strong>Family history.</strong> Having family members with sleep apnea might increase your risk.</li>
                                <li><strong>Use of alcohol, sedatives or tranquilizers.</strong> These substances relax the muscles in your throat, which can worsen obstructive sleep apnea.</li>
                                <li><strong>Smoking.</strong> Smokers are three times more likely to have obstructive sleep apnea than are people who've never smoked. Smoking can increase the amount of inflammation and fluid retention in the upper airway.</li>
                                <li><strong>Nasal congestion.</strong> If you have difficulty breathing through your nose — whether from an anatomical problem or allergies — you're more likely to develop obstructive sleep apnea.</li>
                                <li><strong>Medical conditions.</strong> Congestive heart failure, high blood pressure, type 2 diabetes and Parkinson's disease are some of the conditions that may increase the risk of obstructive sleep apnea. Polycystic ovary
                                    syndrome, hormonal disorders, prior stroke and chronic lung diseases such as asthma also can increase risk.</li>


                                <p><strong>Central sleep apnea</strong></p>
                                <p>Risk factors for this form of sleep apnea include:</p>

                                <li>Being older. Middle-aged and older people have a higher risk of central sleep apnea.</li>
                                <li>Being male. Central sleep apnea is more common in men than it is in women.</li>
                                <li>Heart disorders. Having congestive heart failure increases the risk.</li>
                                <li>Using narcotic pain medications. Opioid medications, especially long-acting ones such as methadone, increase the risk of central sleep apnea.</li>
                                <li>Stroke. Having had a stroke increases your risk of central sleep apnea or treatment-emergent central sleep apnea.</li>



                                <p><strong>Complications</strong></p>
                                <p>Sleep apnea is a serious medical condition. Complications can include:

                                </p>


                                <li>Daytime fatigue. The repeated awakenings associated with sleep apnea make normal, restorative sleep impossible, making severe daytime drowsiness, fatigue and irritability likely.</li>

                                <li>You might have difficulty concentrating and find yourself falling asleep at work, while watching TV or even when driving. People with sleep apnea have an increased risk of motor vehicle and workplace accidents.</li>

                                <li>You might also feel quick-tempered, moody or depressed. Children and adolescents with sleep apnea might perform poorly in school or have behavior problems.</li>

                                <li>High blood pressure or heart problems. Sudden drops in blood oxygen levels that occur during sleep apnea increase blood pressure and strain the cardiovascular system. Having obstructive sleep apnea increases your risk of
                                    high blood pressure (hypertension).</li>

                                <li>Obstructive sleep apnea might also increase your risk of recurrent heart attack, stroke and abnormal heartbeats, such as atrial fibrillation. If you have heart disease, multiple episodes of low blood oxygen (hypoxia or
                                    hypoxemia) can lead to sudden death from an irregular heartbeat.</li>

                                <li>Type 2 diabetes. Having sleep apnea increases your risk of developing insulin resistance and type 2 diabetes.</li>
                                <li>Metabolic syndrome. This disorder, which includes high blood pressure, abnormal cholesterol levels, high blood sugar and an increased waist circumference, is linked to a higher risk of heart disease.</li>
                                <li>Complications with medications and surgery. Obstructive sleep apnea is also a concern with certain medications and general anesthesia. People with sleep apnea might be more likely to have complications after major surgery
                                    because they're prone to breathing problems, especially when sedated and lying on their backs.</li>

                                <li>Before you have surgery, tell your doctor about your sleep apnea and how it's being treated.</li>

                                <li>Liver problems. People with sleep apnea are more likely to have abnormal results on liver function tests, and their livers are more likely to show signs of scarring (nonalcoholic fatty liver disease).</li>
                                <li>Sleep-deprived partners. Loud snoring can keep anyone who sleeps near you from getting good rest. It's not uncommon for a partner to have to go to another room, or even to another floor of the house, to be able to sleep.</li>


                                <p><strong>The Mayo Clinic experience and patient stories</strong></p>
                                <p>Our patients tell us that the quality of their interactions, our attention to detail and the efficiency of their visits mean health care like they've never experienced. See the stories of satisfied Mayo Clinic patients.</p>
                            </ul>
                        </div>












                    </div>
                </div>
                <div class="col-sm-4">
                    <img src="/images/speciality_service/banners/Snoring and Sleep Apnea/covid_article.jpg" class="img-fluid" alt="">
                </div>
            </div>
        </div>
    </section>

</main>
{{end}}