{{ define "main" }}
<main role="main">
    <section id="home">
        <img src="/images/about-us.jpg" class="img-fluid" alt="">
    </section>


    <section class="py-5">
        <div class="container-fluid">
            <div class="d-flex align-items-start justify-content-between flex-wrap">
                <div class="col-sm-8">
                    <div class="w-100 py-md-2 px-2 px-sm-5">
                        <h3 class="heading2 text-center mb-5">COVID-19 and hearing loss: What we know</h3>

                        <div class="mt-3">
                            <ul class="custom_list s_list sm_list">
                                <p>Contributed by Joy Victory, managing editor, Healthy Hearing</p>
                                <p>Dr. Sood specializes in treatLast updated August 30, 2021</p>

                            </ul>
                        </div>

                        <h5 class="font-weight-bold mt-4" style="font-size: 18px">Experience</h5>
                        <div class="mt-3">
                            <ul class="custom_list s_list sm_list">
                                <p>COVID-19, also known as the coronavirus, has now been linked to many long-term complications, including heart damage, lung damage and neurological disorders. One emerging area of research is whether hearing loss can result
                                    from coronavirus infection—either as a symptom or as a complication days or weeks later.

                                </p>
                                <p>We do know that many different types of viral and bacterial infections can cause sudden hearing loss. But older coronaviruses that triggered epidemics, such as SARS and MERS, did not appear to cause hearing problems. What
                                    about SARS-CoV-2, the coronavirus that triggered the 2020 global pandemic? We dive into the latest health care research on the topic, below. </p>

                            </ul>
                        </div>

                        <h5 class="font-weight-bold mt-4" style="font-size: 18px">The Delta variant and ear pain</h5>
                        <div class="mt-3">
                            <ul class="custom_list s_list sm_list">
                                <p>There are increasing anecdotal reports that the Delta variant is more likely to cause earaches than other mutations of the virus. This is likely because Delta causes more upper respiratory symptoms, doctors say, putting
                                    more pressure on the ears and potentially causing ear infections.</p>

                            </ul>
                        </div>

                        <h5 class="font-weight-bold mt-4" style="font-size: 18px">Coronavirus and hearing loss</h5>
                        <h6 class="font-weight-bold mt-4" style="font-size: 18px">Sudden hearing loss as an initial symptom</h6>
                        <div class="mt-3">
                            <ul class="custom_list s_list sm_list">
                                <p>Based on published case reports, it appears that sudden hearing loss is rarely a symptom of coronavirus onset.</p>
                                <p>In a June 2020 report, several Iranian patients reported hearing loss in one ear, as well as vertigo. In another report about sudden sensorineural hearing loss and COVID-19, one Egyptian man with no other coronavirus symptoms
                                    developed sudden hearing loss, and then tested positive for coronavirus.</p>
                                <p>But beyond those reports, not much has been published by researchers. </p>
                                <p>Note: Sudden hearing loss is a medical emergency. Seek medical attention if you experience sudden hearing loss in one ear. The faster you get treatment, the more likely you'll get your hearing back.</p>
                            </ul>
                        </div>

                        <h5 class="font-weight-bold mt-4" style="font-size: 18px">Hearing loss as later symptom</h5>
                        <div class="mt-3">
                            <p>What does appear to be a little more common (though still rare) is developing hearing loss, tinnitus or dizziness later in the infection process, meaning these issues are not part of the initial onset of symptoms but develop
                                days to weeks later.
                                <br> A February 2021 systematic review that pooled together data on auditory complications estimated that:</p>
                            <ul class="custom_list s_list sm_list">
                                <li>7.6% of people report hearing loss </li>
                                <li>14.8% report tinnitus</li>
                                <li>7.2% report vertigo</li>

                            </ul>
                            <p>However, the researchers emphasize that there is a lack of "high-quality studies" on this topic. A large comprehensive research effort is needed.</p>
                        </div>

                        <h5 class="font-weight-bold mt-4" style="font-size: 18px">What about tinnitus and coronavirus?</h5>
                        <div class="mt-3">
                            <p>We've put together a separate report on COVID-19 and tinnitus. Recent research indicates that the virus is linked to tinnitus, for some people. However, we don't know if the virus itself causes tinnitus, or other factors. Ringing
                                in the ears is common, and stress often plays a role.
                            </p>


                        </div>

                        <h5 class="font-weight-bold mt-4" style="font-size: 18px">Case study example</h5>
                        <div class="mt-3">
                            <p>While no large studies exist looking at auditory complications of COVID-19, there are dozens of case studies. For example, in October 2020, the medical journal BMJ Case Reports published a case study of a 45-year-old British
                                man who developed tinnitus and sudden hearing loss in one ear after he became critically ill with COVID-19. Fortunately, his hearing partially recovered after he received steroid treatment for the hearing loss.</p>

                            <p>While it's not possible to prove that COVID-19 directly caused his hearing loss, the study authors explained, it seems very likely this was the case, especially because he didn't receive any drugs that include hearing loss
                                as a side effect (known as ototoxicity). </p>

                            <p>"We suggest that patients are asked about hearing loss in [intensive care] when applicable, and any patient reporting acute hearing loss should be referred to otolaryngology on an emergency basis," the authors said. </p>

                            <p>Overall, research shows that hearing loss and tinnitus are not common symptoms of COVID-19 infection; nor are they considered common complications as the disease progresses.
                                <br> However, if you are positive for COVID-19 and experience sudden hearing loss, seek prompt medical care to increase your chance of getting your hearing back.</p>
                            <p>As well, autopsy reports have detected the virus in the middle ear bones. And in this case report, a German man experienced acute profound hearing loss after developing COVID-19 pneumonia.</p>
                        </div>

                        <h5 class="font-weight-bold mt-4" style="font-size: 18px">'High-quality studies are needed'
                        </h5>
                        <div class="mt-3">
                            <p>Perhaps most enlightening so far are the results of a UK survey, which found that nearly 1 out of 10 coronavirus patients self-reported either hearing loss or tinnitus 8 weeks later. That was surprising, the authors noted,
                                but they also pointed out that the hearing loss and tinnitus could be unrelated or indirectly related (such as a medication side effect). </p>

                            <p>In other words, more research on the long-term auditory consequences of coronavirus is vitally needed. </p>

                            <p>"High-quality studies are needed to investigate the acute effects of COVID-19, as well as for understanding long-term risks, on the audio-vestibular system," state the authors of a June 2020 rapid systematic review on this
                                topic.
                            </p>


                        </div>

                        <h5 class="font-weight-bold mt-4" style="font-size: 18px">Does COVID-19 damage the auditory system?</h5>
                        <div class="mt-3">
                            <p>A very small study out of Israel examined 16 patients, half of whom had tested positive for COVID-19 and half who were not infected (the control group). They found no differences in the two groups when looking for signs of
                                auditory nerve damage. The researchers used tests known as ototacoustic emissions (OAE) and auditory brainstem response (ABR) measurements to evaluate auditory function.

                            </p>

                            <p>The study should be interpreted with caution, since there were only 16 people enrolled, and all of the coronavirus patients were asymptomatic, meaning they never felt sick from the infection. The researchers are planning a
                                much larger study that will include patients who developed severe COVID-19 complications.</p>
                        </div>

                        <h5 class="font-weight-bold mt-4" style="font-size: 18px">Hearing loss or tinnitus as a side effect of medication used to treat coronavirus</h5>
                        <div class="mt-3">
                            <p>What is well-known: Some medications used to treat the coronavirus carry a relatively high risk of hearing loss, ringing in the ears or vertigo and dizziness as a side effect. These drugs include quinine, cholorquine and hydroxychloroquine.



                            </p>

                            <p>"These antiviral medications have known adverse events, including tinnitus and hearing loss, and the symptoms may be misdiagnosed as being caused by COVID-19," stated the authors of the systematic review mentioned above.</p>
                        </div>
                        <h5 class="font-weight-bold mt-4" style="font-size: 18px">COVID-19 'long-haulers' with dizziness and balance problems</h5>
                        <div class="mt-3">
                            <p>Some coronavirus patients have reported prolonged illnesses and atypical symptoms, dubbed "covid long-haulers." In a survey of nearly 650 long-haulers, about one-third experienced earaches and two-thirds had dizziness and vertigo.
                                Only one patient reported hearing loss. There seemed to be "no predictable pattern" as to when or why someone might experience these symptoms, notes the research summary on the topic.
                            </p>


                        </div>
                        <h5 class="font-weight-bold mt-4" style="font-size: 18px">Hearing loss and the vaccines</h5>
                        <div class="mt-3">
                            <p>What about hearing loss and vaccines? After combing through the CDC's Vaccine Adverse Events Reporting System, no link was found between sudden hearing loss and vaccination, according to researchers from the department of otolaryngology-head
                                and neck surgery at the Johns Hopkins University School of Medicine. The rate of sudden hearing loss appears to actually be lower among vaccinated people, though researchers say cases could be under-reported and that their
                                data is a preliminary analysis. The results were published in a research letter in the medical journal JAMA Otolaryngology–Head and Neck Surgery.
                            </p>


                        </div>
                        <h5 class="font-weight-bold mt-4" style="font-size: 18px">Bottom line on hearing loss and COVID</h5>
                        <div class="mt-3">
                            <p>More research is needed before we fully understand how the coronavirus affects hearing and balance. We still don't know to what extent the coronavirus causes hearing loss, tinnitus or balance problems. </p>

                            <p>As the pandemic winds down and research shifts to long-term effects, we'll likely begin to learn more. Check back for updates.</p>

                            <p>Note: Information about the coronavirus pandemic is quickly evolving. If you have any concerns about coronavirus and your hearing, seek a healthcare provider's guidance.</p>





                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <img src="/images/covid_article.jpg" class="img-fluid" alt="">
                </div>
            </div>
        </div>
    </section>

</main>
{{end}}