{{ define "main" }}
<main role="main">
    <div class="banner_content flex-wrap bg_sea_blue justify-content-between flex-column-reverse_xs">
        <div class="col-lg-6 col-md-6 col-sm-6 d-flex justify-content-center">
            <div class="banner_text2 px-5 py-3">
                <h1 class="banner_heading1 text-white">
                    Ballon sinuplasty
                </h1>
                <h1 class="banner_heading4 text-white">
                    This minimally invasive technique is used to treat chronic or recurrent sinusitis or sinus
                    infections when medical therapy has not provided adequate relief. During this procedure, surgeons
                    use a small balloon, placed through the nose, to dilate the sinus openings. The results are
                    permanent, and it does not require implants or additional support. </h1>
                <a href="/contact_us" class="banner_btn">Book Appointment</a>
            </div>
        </div>
        <div class="col-lg-5 col-md-6 col-sm-6">
            <div class="row">
                <div>
                    <img src="/images/ballon-img.webp" class="img-fluid" alt="" />
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-4">
        <div class="w-100 py-md-2 px-2 px-sm-5">
            <h3 class="heading2 text-left text-uppercase mb-4">What is Balloon Sinuplasty?</h3>
            <div class="scroll_spy" id="mainNav">
                <ul>
                    <li><a href="#balloonsinuplasty">Balloon Sinuplasty</a></li>
                    <li><a href="#ProcedureDetails">Procedure Details</a></li>
                    <li><a href="#risks">Risks</a></li>
                    <li><a href="#Recovery">Recovery</a></li>
                </ul>
            </div>

        </div>
    </div>

    <section class="py-3">
        <div class="container">
            <div class="w-100 py-md-2 px-2 px-sm-5">
                <p class="para">Balloon sinuplasty is a minimally invasive treatment for sinusitis, also called chronic
                    rhinosinusitis (CRS). Some people who have chronic sinus symptoms may be treated with balloon
                    sinuplasty instead of endoscopic sinus surgery (ESS).</p>
            </div>
        </div>
    </section>
    <section class="py-3" id="balloonsinuplasty">
        <div class="container">
            <div class="w-100 py-md-2 px-2 px-sm-5">
                <h3 class="page_heading text_primary mb-3">What Conditions Are Treated With Balloon Sinuplasty?</h3>
                <p class="para">More than 30 million people have chronic rhinosinusitis or CRS. Medical treatments,
                    including antibiotics, can ease most peoples’ symptoms. But if your symptoms last more than 12
                    weeks, you might be recommended balloon sinuplasty or endoscopic
                    sinus surgery</p>
                <p class="para"><b>Sinusitis symptoms include:</b></p>
                <ul class="custom_list s_list sm_list mt-2">
                    <li>Stuffy nose.</li>
                    <li>Congestion.</li>
                    <li>Facial pressure.</li>
                    <li>Runny nose.</li>
                    <li>Loss of sense of smell.</li>
                </ul>
            </div>
        </div>
    </section>

    <section class="pt-0 pb-2">
        <div class="container">
            <div class="w-100 py-md-2 px-2 px-sm-5">
                <h5 class="font-weight-bold text_primary inner_heading">Is Balloon Sinuplasty a Common Treatment For
                    CRS?</h5>

                <div class="row">
                    <div class="col-sm-12">
                        <p class="para mt-3">Doctors have been using balloon sinuplasty since 2005. The treatment has
                            become increasingly popular as doctors can perform the procedure at medical offices as well
                            as hospitals.</p>
                    </div>
                    <!-- <div class="col-sm-5">
                            <img src="/images/voice_disorder_side_image.png" class="img-fluid" alt="">
                        </div> -->
                </div>
            </div>
        </div>
    </section>

    <div class="container mt-4 mb-5">
        <div class="w-100 py-md-2 px-2 px-sm-5">
            <div class="card mt-4">
                <a href="/images/video/balloon2.mp4" style=" padding: 170px 400px  ; background-color: #00c1bc;"
                    target="_blank">
                    <img src="/images/youtube_logo.png" alt="image">
                </a>
            </div>
        </div>
    </div>

    <section class="pt-0 pb-2" id="ProcedureDetails">
        <div class="container">
            <div class="w-100 py-md-2 px-2 px-sm-5">
                <h2 class="text_primary">Procedure Details</h2>
                <h5 class="font-weight-bold text_primary inner_heading">What Happens Before This Procedure?</h5>
                <p class="para mt-4">Before you have balloon sinuplasty, your doctor will use computed tomography (CT)
                    scans to confirm balloon sinuplasty is an appropriate treatment for your condition.</p>
            </div>
        </div>
    </section>

    <section class="py-3" id="balloonsinuplasty">
        <div class="container">
            <div class="w-100 py-md-2 px-2 px-sm-5">
                <h3 class="page_heading text_primary mb-3">What Happens During This Procedure?</h3>
                <p class="para"><b>If you’re being treated, your balloon sinuplasty might include the following:</b></p>
                <ul class="custom_list s_list sm_list mt-2">
                    <li>You’ll be given general anaesthesia or conscious sedation. Conscious sedation blocks pain but
                        allows you to stay awake during the procedure.</li>
                    <li>Your doctor will put a topical decongestant in your nose to control any bleeding you might have
                        during the procedure.</li>
                    <li>They’ll inject a local anaesthetic into some of the tissue that lines your nose.</li>
                    <li>They’ll use a thin tube with a light on the end called an endoscope to insert a catheter into
                        your nostril.</li>
                    <li>Next, they’ll use the catheter to guide a small balloon into your sinuses.</li>
                    <li>Then they’ll slowly inflate the balloon to gently unblock your sinuses.</li>
                    <li>Your provider may deflate the balloon and remove it or they may repeat the process before
                        deflating the balloon and removing it.</li>
                </ul>
            </div>
        </div>
    </section>
    <section class="pt-0 pb-2" id="ProcedureDetails">
        <div class="container">
            <div class="w-100 py-md-2 px-2 px-sm-5">
                <h5 class="font-weight-bold text_primary inner_heading">Is Balloon Sinuplasty Painful?</h5>
                <p class="para mt-4">No, balloon sinuplasty usually isn’t painful. Most people who have balloon
                    sinuplasty report feeling a sense of pressure in their nose during the procedure.</p>
            </div>
        </div>
    </section>

    <section class="py-3">
        <div class="container">
            <div class="w-100 py-md-2 px-2 px-sm-5">
                <h3 class="page_heading text_primary mb-3">What Happens After Balloon Sinuplasty?</h3>
                <p class="para"><b>You’ll stay at the hospital or medical office until you feel comfortable leaving.
                        Most doctors recommend you ask someone to drive you to and from your appointment. Your doctor
                        might recommend a potential schedule of follow-up appointments and tests:</b></p>
                <ul class="custom_list s_list sm_list mt-2">
                    <li><b>One week after procedure:</b> Follow-up appointment and nasal endoscopy.</li>
                    <li><b>Three months after the procedure:</b> Follow-up appointment including nasal endoscopy.</li>
                    <li><b>One year after the procedure:</b> Follow-up appointment including nasal endoscopy and general
                        assessment of your nose health.</li>
                </ul>
            </div>
        </div>
    </section>


    <section class="py-3" id="risks">
        <div class="container">
            <div class="w-100 py-md-2 px-2 px-sm-5">
                <h2 class="text_primary">Risks / Benefits</h2>
                <h3 class="page_heading text_primary mb-3">What Are the Benefits of Balloon Sinuplasty to treat Chronic
                    Rhinosinusitis?</h3>
                <p class="para">Balloon sinuplasty is a safe and minimally invasive way to treat CRS. Studies show few
                    people who have the procedure report side effects or complications.</p>
            </div>
        </div>
    </section>

    <section class="py-3">
        <div class="container">
            <div class="w-100 py-md-2 px-2 px-sm-5">
                <h3 class="page_heading text_primary mb-3">What are the risks or complications of this procedure?</h3>
                <p class="para"><b>While balloon sinuplasty has few complications, here are a few complications you
                        might experience:</b></p>
                <ul class="custom_list s_list sm_list mt-2">
                    <li>Your nose might bleed more than you expected.</li>
                    <li>You might develop bacterial sinusitis and need antibiotics to cure the infection.</li>

                </ul>
                <p>Your symptoms might come back, requiring additional procedures such as another balloon sinuplasty or
                    a different treatment, such as endoscopic sinus surgery.</p>
            </div>
        </div>
    </section>

    <section class="py-3" id="Recovery">
        <div class="container">
            <div class="w-100 py-md-2 px-2 px-sm-5">
                <h2 class="text_primary">Recovery and Outlook</h2>
                <h3 class="page_heading text_primary mb-3">What is the recovery time?</h3>
                <p class="para"><b>You might need to rest at home for 24 to 48 hours after your balloon sinuplasty. Your
                        doctor might recommend the following steps to help you recover:</b></p>
                <ul class="custom_list s_list sm_list mt-2">
                    <li>Avoid blowing your nose for 24 to 48 hours.</li>
                    <li>Rinse your nostril with nasal spray.</li>
                    <li>If you feel congested, sleep with your head elevated.</li>
                    <li>Avoid strenuous activity for the first week after your surgery.</li>
                </ul>
            </div>
        </div>
    </section>

    <section class="py-3">
        <div class="container">
            <div class="w-100 py-md-2 px-2 px-sm-5">
                <h3 class="page_heading text_primary mb-3">When to Call the Doctor</h3>
                <p class="para">Most people who have balloon sinuplasty notice some bloody drainage from their noses.
                    That’s completely normal. Call your doctor if your nose bleeds a lot and you can’t control the
                    bleeding.</p>
            </div>
        </div>
    </section>






    <section id="EnquiryForm" class="pb-4">
        <div class="container">
            <div class="w-100 py-md-2 px-2 px-sm-5">
                <h3 class="heading2 text-center mb-5 text-uppercase">Enquiry Form</h3>

                <div class="enq_form">
                    <form id="EnquiryForm">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input type="text" id="name" name="name" class="enq_control form-control"
                                        placeholder="Name">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input type="email" id="email" name="email" class="enq_control form-control"
                                        placeholder="Email">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input type="tel" id="phoneNumber" name="phoneNumber"
                                        class="enq_control form-control" placeholder="Mobile Number">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input type="text" id="age" name="age" class="enq_control form-control"
                                        placeholder="Age">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <select id="gender" name="gender" class="enq_control form-control"
                                        placeholder="Sex">
                                        <option disabled selected hidden>Sex</option>
                                        <option value="male">Male</option>
                                        <option value="female">Female</option>
                                        <option value="others">others</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <select id="location" name="location" class="enq_control form-control"
                                        placeholder="Clinic location">
                                        <option disabled selected hidden>Clinic location </option>
                                        <option value="ArBor Multi Speciality Clinic">ArBor Multi Speciality Clinic
                                        </option>
                                        <option value="Nath Eye Clinic ">Nath Eye Clinic </option>
                                        <option value="BLK-Max Super Specialty Hospital">BLK-Max Super Specialty
                                            Hospital </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input type="text" id="appointmentDate" name="appointmentDate"
                                        class="enq_control form-control" placeholder="Choose Date">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <select id="slot" name="slot" class="enq_control form-control" placeholder="Time">
                                    <option disabled selected hidden>Time</option>
                                    <option value="9:00Am-10:00Am">9:00Am - 10:00Am</option>
                                    <option value="10:00Am-11:00Am">10:00Am - 11:00Am</option>
                                    <option value="11:00Am-12:00Pm">11:00Am - 12:00Am</option>
                                    <option value="12:00Pm-01:00Pm">12:00pm - 01:00Pm</option>
                                    <option value="01:00Pm-02:00Pm">01:00Pm - 02:00Pm</option>
                                    <option value="02:00Pm-03:00Pm">02:00Pm - 03:00Pm</option>
                                    <option value="03:00Pm-04:00Pm">03:00Pm - 04:00Pm</option>
                                    <option value="04:00Pm-05:00Pm">04:00Pm - 05:00Pm</option>
                                    <option value="05:00Pm-06:00Pm">05:00Pm - 06:00Pm</option>
                                    <option value="06:00Pm-07:00Pm">06:00Pm - 07:00Pm</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <textarea id="message" name="message" class="enq_control form-control"
                                        placeholder="Message"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group text-center">
                                    <button type="submit" class="enq_submit">Submit</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</main>




{{end}}