{{ define "main" }}
<main role="main">
    <section id="home">
        <img src="/images/speciality_service/banners/voicedisorder.jpg" class="img-fluid" alt="">
    </section>

    <div class="container mt-4">
        <div class="w-100 py-md-2 px-2 px-sm-5">
            <h3 class="heading2 text-left text-uppercase mb-4">What is balloon sinuplasty?</h3>
            <div class="scroll_spy" id="mainNav">
                <ul>
                    <li><a href="#balloonsinuplasty">Balloon Sinuplasty</a></li>
                    <li><a href="#ProcedureDetails">Procedure Details</a></li>
                    <li><a href="#risks">Risks</a></li>
                    <li><a href="#Recovery">Recovery</a></li>
                </ul>
            </div>

        </div>
    </div>

    <section class="py-3">
        <div class="container">
            <div class="w-100 py-md-2 px-2 px-sm-5">
                <p class="para">Balloon sinuplasty is a minimally invasive treatment for sinusitis, also called chronic rhinosinusitis (CRS). Some people who have chronic sinus symptoms may be treated with balloon sinuplasty instead of endoscopic sinus surgery (ESS).</p>
            </div>
        </div>
    </section>
    <section class="py-3" id="balloonsinuplasty">
        <div class="container">
            <div class="w-100 py-md-2 px-2 px-sm-5">
                <h3 class="page_heading text_primary mb-3">What conditions are treated with balloon sinuplasty?</h3>
                <p class="para">More than 30 million people have chronic rhinosinusitis or CRS. Medical treatments, including antibiotics, can ease most peoples’ symptoms. But if your symptoms last more than 12 weeks, you might be recommended balloon sinuplasty or endoscopic
                    sinus surgery</p>
                <p class="para"><b>Sinusitis symptoms include:</b></p>
                <ul class="custom_list s_list sm_list mt-2">
                    <li>Stuffy nose.</li>
                    <li>Congestion.</li>
                    <li>Facial pressure.</li>
                    <li>Runny nose.</li>
                    <li>Loss of sense of smell.</li>
                </ul>
            </div>
        </div>
    </section>

    <section class="pt-0 pb-2">
        <div class="container">
            <div class="w-100 py-md-2 px-2 px-sm-5">
                <h5 class="font-weight-bold text_primary inner_heading">Is balloon sinuplasty a common treatment for CRS?</h5>

                <div class="row">
                    <div class="col-sm-12">
                        <p class="para mt-3">Doctors have been using balloon sinuplasty since 2005. The treatment has become increasingly popular as doctors can perform the procedure at medical offices as well as hospitals.</p>
                    </div>
                    <!-- <div class="col-sm-5">
                            <img src="/images/voice_disorder_side_image.png" class="img-fluid" alt="">
                        </div> -->
                </div>
            </div>
        </div>
    </section>




    <section class="pt-0 pb-2" id="ProcedureDetails">
        <div class="container">
            <div class="w-100 py-md-2 px-2 px-sm-5">
                <h2 class="text_primary">Procedure Details</h2>
                <h5 class="font-weight-bold text_primary inner_heading">What happens before this procedure?</h5>
                <p class="para mt-4">Before you have balloon sinuplasty, your doctor will use computed tomography (CT) scans to confirm balloon sinuplasty is an appropriate treatment for your condition.</p>
            </div>
        </div>
    </section>

    <section class="py-3" id="balloonsinuplasty">
        <div class="container">
            <div class="w-100 py-md-2 px-2 px-sm-5">
                <h3 class="page_heading text_primary mb-3">What happens during this procedure?</h3>
                <p class="para"><b>If you’re being treated, your balloon sinuplasty might include the following:</b></p>
                <ul class="custom_list s_list sm_list mt-2">
                    <li>You’ll be given general anaesthesia or conscious sedation. Conscious sedation blocks pain but allows you to stay awake during the procedure.</li>
                    <li>Your doctor will put a topical decongestant in your nose to control any bleeding you might have during the procedure.</li>
                    <li>They’ll inject a local anaesthetic into some of the tissue that lines your nose.</li>
                    <li>They’ll use a thin tube with a light on the end called an endoscope to insert a catheter into your nostril.</li>
                    <li>Next, they’ll use the catheter to guide a small balloon into your sinuses.</li>
                    <li>Then they’ll slowly inflate the balloon to gently unblock your sinuses.</li>
                    <li>Your provider may deflate the balloon and remove it or they may repeat the process before deflating the balloon and removing it.</li>
                </ul>
            </div>
        </div>
    </section>
    <section class="pt-0 pb-2" id="ProcedureDetails">
        <div class="container">
            <div class="w-100 py-md-2 px-2 px-sm-5">
                <h5 class="font-weight-bold text_primary inner_heading">Is balloon sinuplasty painful?</h5>
                <p class="para mt-4">No, balloon sinuplasty usually isn’t painful. Most people who have balloon sinuplasty report feeling a sense of pressure in their nose during the procedure.</p>
            </div>
        </div>
    </section>

    <section class="py-3">
        <div class="container">
            <div class="w-100 py-md-2 px-2 px-sm-5">
                <h3 class="page_heading text_primary mb-3">What happens after balloon sinuplasty?</h3>
                <p class="para"><b>You’ll stay at the hospital or medical office until you feel comfortable leaving. Most doctors recommend you ask someone to drive you to and from your appointment. Your doctor might recommend a potential schedule of follow-up appointments and tests:</b></p>
                <ul class="custom_list s_list sm_list mt-2">
                    <li><b>One week after procedure:</b> Follow-up appointment and nasal endoscopy.</li>
                    <li><b>Three months after the procedure:</b> Follow-up appointment including nasal endoscopy.</li>
                    <li><b>One year after the procedure:</b> Follow-up appointment including nasal endoscopy and general assessment of your nose health.</li>
                </ul>
            </div>
        </div>
    </section>


    <section class="py-3" id="risks">
        <div class="container">
            <div class="w-100 py-md-2 px-2 px-sm-5">
                <h2 class="text_primary">Risks / Benefits</h2>
                <h3 class="page_heading text_primary mb-3">What are the benefits of balloon sinuplasty to treat chronic rhinosinusitis?</h3>
                <p class="para">Balloon sinuplasty is a safe and minimally invasive way to treat CRS. Studies show few people who have the procedure report side effects or complications.</p>
            </div>
        </div>
    </section>

    <section class="py-3">
        <div class="container">
            <div class="w-100 py-md-2 px-2 px-sm-5">
                <h3 class="page_heading text_primary mb-3">What are the risks or complications of this procedure?</h3>
                <p class="para"><b>While balloon sinuplasty has few complications, here are a few complications you might experience:</b></p>
                <ul class="custom_list s_list sm_list mt-2">
                    <li>Your nose might bleed more than you expected.</li>
                    <li>You might develop bacterial sinusitis and need antibiotics to cure the infection.</li>

                </ul>
                <p>Your symptoms might come back, requiring additional procedures such as another balloon sinuplasty or a different treatment, such as endoscopic sinus surgery.</p>
            </div>
        </div>
    </section>

    <section class="py-3" id="Recovery">
        <div class="container">
            <div class="w-100 py-md-2 px-2 px-sm-5">
                <h2 class="text_primary">Recovery and Outlook</h2>
                <h3 class="page_heading text_primary mb-3">What is the recovery time?</h3>
                <p class="para"><b>You might need to rest at home for 24 to 48 hours after your balloon sinuplasty. Your doctor might recommend the following steps to help you recover:</b></p>
                <ul class="custom_list s_list sm_list mt-2">
                    <li>Avoid blowing your nose for 24 to 48 hours.</li>
                    <li>Rinse your nostril with nasal spray.</li>
                    <li>If you feel congested, sleep with your head elevated.</li>
                    <li>Avoid strenuous activity for the first week after your surgery.</li>
                </ul>
            </div>
        </div>
    </section>

    <section class="py-3">
        <div class="container">
            <div class="w-100 py-md-2 px-2 px-sm-5">
                <h3 class="page_heading text_primary mb-3">When to Call the Doctor</h3>
                <p class="para">Most people who have balloon sinuplasty notice some bloody drainage from their noses. That’s completely normal. Call your doctor if your nose bleeds a lot and you can’t control the bleeding.</p>
            </div>
        </div>
    </section>






    <section id="EnquiryForm" class="pb-4">
        <div class="container">
            <div class="w-100 py-md-2 px-2 px-sm-5">
                <h3 class="heading2 text-center mb-5 text-uppercase">Enquiry Form</h3>

                <div class="enq_form">
                    <form action="">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input type="text" class="enq_control form-control" placeholder="First Name">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input type="text" class="enq_control form-control" placeholder="Last Name">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input type="email" class="enq_control form-control" placeholder="Email">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input type="tel" class="enq_control form-control" placeholder="Mobile Number">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <textarea name="" id="" class="enq_control form-control" placeholder="Message"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group text-center">
                                    <button type="submit" class="enq_submit">Submit</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</main>




{{end}}