{{ define "main" }}
<main role="main">
    <div class="banner_content flex-wrap bg_sea_blue justify-content-between flex-column-reverse_xs">
        <div class="col-lg-6 col-md-6 col-sm-6 d-flex justify-content-center">
            <div class="banner_text2 px-5 py-3">
                <h1 class="banner_heading1 text-white">
                    How Cochlear Implantation<br />Produce Clearer Sound
                </h1>
                <h1 class="banner_heading4 text-white">
                    Cochlear implants replace the function of damaged sensory hair cells inside the inner ear.
                </h1>
                <a href="/contact_us" class="banner_btn">Book Appointment</a>
            </div>
        </div>
        <div class="col-lg-5 col-md-6 col-sm-6">
            <div class="row">
                <div>
                    <img src="/images/cochlear-img.webp" class="img-fluid" alt="" />
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-4">
        <div class="w-100 py-md-2 px-2 px-sm-5">
            <p class="para">Unlike hearing aids, which mostly make sounds louder, cochlear implants may further improve
                the clarity of sound and enhance your ability to understand conversations.</p>
            <p class="para"><b>A cochlear implant system has two parts:</b></p>

            <ul class="custom_list s_list sm_list mt-2">
                <li><strong>The external sound processor</strong></li>
                <li><strong>Surgeons put the implant under the skin and attach it to an electrode array that’s placed in
                        the inner ear.</strong></li>
            </ul>
            <p class="para">Together, the sound processor and implant bypass the part of the ear that isn’t working,
                sending sound straight to the hearing nerve.</p>


            <!-- <div class="mt-5">
                <video width="320" height="240" controls id="test_video1">
                    <source src=" /images/testimonials/How_Cochlear_Implants_Work720P_HD.mp4" type="video/mp4" />
                    Your browser does not support the video tag.
                </video>
            </div> -->


            <div class="card mt-4">
                <!-- <img src="https://via.placeholder.com/150" class="card-img-top" alt="Card Image"> -->
                <a href="/images/testimonials/How_Cochlear_Implants_Work720P_HD.mp4"
                    style=" padding: 170px 400px  ; background-color: #00c1bc;" target="_blank">
                    <!-- <i class="fab fa-youtube"></i> Watch on YouTube -->
                    <img src="/images/youtube_logo.png" alt="image">

                </a>
            </div>






        </div>
    </div>
    <section class="py-3">
        <div class="container">
            <div class="w-100 py-md-2 px-2 px-sm-5">

                <h3 class="heading2 text-left  mb-4">What Are the Benefits?</h3>
                <p class="para"><b>For children with severe to profound hearing loss, getting a cochlear implant early
                        (preferably before age two) can provide sufficient auditory input to help develop speech and
                        language skills.</b></p>
                <p class="para">For adults with moderate to profound hearing loss, a cochlear implant can help you
                    regain your connection to hearing. Recipients say cochlear implants can improve their ability to
                    talk on the phone, listen to music and socialise with family
                    and friends. People also say they feel safer because they can hear alarms and traffic when crossing
                    the road.</p>
                <p class="para">Cochlear implants are an established treatment option designed to provide a better
                    hearing experience. The benefits of better hearing can include:</p>
                <p class="para"></p>
                <ul class="custom_list s_list sm_list mt-2">
                    <li><strong>Better understanding of speech</strong></li>
                    <li><strong>More employment opportunities</strong></li>
                    <li><strong>Improved safety</strong></li>
                </ul>
            </div>
        </div>
    </section>

    <section class="py-3">
        <div class="container">
            <div class="w-100 py-md-2 px-2 px-sm-5">
                <h3 class="heading2 text-left  mb-4">If Your Child Has Hearing loss</h3>
                <p class="para"><b>If you've been told your child has hearing loss, you may feel overwhelmed. That's
                        normal. There is no right way to react to such news, so give yourself time and draw on the love
                        and support of family and friends.</b></p>
                <p class="para">Although you may feel alone, there are many parents who've been where you are. About 34
                    million children worldwide have disabling hearing loss1 and up to five in every 1,000 babies are
                    born with hearing loss or lose their hearing soon
                    after birth.</p>
            </div>
        </div>
    </section>

    <section class="py-3">
        <div class="container">
            <div class="w-100 py-md-2 px-2 px-sm-5">
                <h3 class="heading2 text-left  mb-4">Some Possible Signs of Hearing Loss in An Infant or Toddler</h3>

                <ul class="custom_list s_list sm_list mt-2">
                    <li><strong>Does not react to loud sounds.</strong></li>
                    <li><strong>Does not seek out or detect where sound is coming from.</strong></li>
                    <li><strong>Has stopped babbling and experimenting with making sounds.</strong></li>
                    <li><strong>Still babbles but is not progressing to more understandable speech.</strong></li>
                    <li><strong>Doesn't react to voices, even when being held.</strong></li>
                </ul>
            </div>
        </div>
    </section>

    <section class="py-3">
        <div class="container">
            <div class="w-100 py-md-2 px-2 px-sm-5 " style="overflow-x: auto;">
                <table>
                    <tr>
                        <th class="heading2" style="font-size: 25px;">Age</th>
                        <th class="heading2" style="font-size: 25px;">Hearing and Understanding</th>
                        <th class="heading2" style="font-size: 25px;">Speech and Language</th>
                    </tr>
                    <tr>
                        <td><strong>Birth to three months</strong></td>
                        <td>
                            <ul class="custom_list s_list sm_list mt-2">
                                <li><strong>Startles at loud sounds</strong></li>
                                <li><strong>Smiles when spoken to</strong></li>
                                <li><strong>Seems to recognise parent's voice and quietens if crying</strong></li>
                                <li><strong>Changes sucking behaviour in response to sound</strong></li>
                            </ul>
                        </td>
                        <td>
                            <ul class="custom_list s_list sm_list mt-2">
                                <li><strong>Makes cooing sounds</strong></li>
                                <li><strong>Cries differently for different needs</strong></li>
                                <li><strong>Smiles when sees parent</strong></li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td><strong>4-6 months</strong></td>
                        <td>
                            <ul class="custom_list s_list sm_list mt-2">
                                <li><strong>Moves eyes in direction of sounds</strong></li>
                                <li><strong>Responds to changes in tone of your voice</strong></li>
                                <li><strong>Notices toys that make sounds</strong></li>
                                <li><strong>Pays attention to music</strong></li>
                            </ul>
                        </td>
                        <td>
                            <ul class="custom_list s_list sm_list mt-2">
                                <li><strong>Babbling sounds are becoming more speech-like</strong></li>
                                <li><strong>Vocalises excitement and displeasure</strong></li>
                                <li><strong>Makes gurgling sounds when left alone and when playing with you</strong>
                                </li>
                                <li><strong></strong></li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td><strong>7 months-1 year</strong></td>
                        <td>
                            <ul class="custom_list s_list sm_list mt-2">
                                <li><strong>Enjoys games like "Where is mama?" and Round and round</strong></li>
                                <li><strong>Turns to look in the direction of sounds</strong></li>
                                <li><strong>Listens when spoken to</strong></li>
                                <li><strong>Recognises words for common items like "cup","ball"</strong></li>
                            </ul>
                        </td>
                        <td>
                            <ul class="custom_list s_list sm_list mt-2">
                                <li><strong>Babbling has both long and short groups of sounds such as
                                        "up-up-up/down"</strong></li>
                                <li><strong>Uses speech or non-crying sound to get and keep attention</strong></li>
                                <li><strong>Imitates different speech sounds</strong></li>
                                <li><strong>Has one or two words ("bye-bye", "dada", "mama"), although they may not be
                                        clear</strong></li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td><strong>1-2 years</strong></td>
                        <td>
                            <ul class="custom_list s_list sm_list mt-2">
                                <li><strong>Points to a few body parts when asked</strong></li>
                                <li><strong>Follows simple commands and understands simple questions</strong></li>
                                <li><strong>Listens to simple stories, songs and rhymes</strong></li>
                                <li><strong>Points to pictures in a book when named</strong></li>
                            </ul>
                        </td>
                        <td>
                            <ul class="custom_list s_list sm_list mt-2">
                                <li><strong>Says more words every month</strong></li>
                                <li><strong>Uses one- to two-word questions ("where doggy?")</strong></li>
                                <li><strong>Puts two words together (“more chocolate”)</strong></li>
                                <li><strong>Uses many different consonant sounds at the beginning of words</strong></li>
                            </ul>
                        </td>
                    </tr>

                </table>
                <p class="para mt-4">Remember, some children with normal hearing may reach those milestones later. If
                    you have any concerns you should speak to your child's health care professional as soon as possible.
                </p>
            </div>
        </div>
    </section>

    <section class="py-3">
        <div class="container">
            <div class="w-100 py-md-2 px-2 px-sm-5">
                <h3 class="heading2 text-left  mb-4">Early Intervention For children</h3>
                <p class="para">Babies and children learn to talk by listening to their parents and the world around
                    them. When infants babble, it's part of their language development; they're experimenting with
                    communication and mimicking the words they hear.</p>
                <p class="para">Hearing is essential to their language development, which affects how they interact with
                    others and how they perform at school.</p>
                <p class="para">The earlier you treat hearing loss, the better chance your child will have to develop
                    language equivalent to a normal-hearing child. Children who received cochlear implants at six months
                    old display stronger language skills compared to
                    those treated when they were two years old.</p>
            </div>
        </div>
    </section>

    <!-- -------------------------------------------------------------- -->
    <section id="services" class="py-5 footer_top">
        <div class="container">
            <div class="row">
                <div class="w-100 py-md-2 px-2 px-sm-5">
                    <h3 class="text-white text-center mb-5">Testimonial</h3>
                    <div class="testimoniales_slider owl-carousel owl-theme owl_arrows">

                        <figure class="snip1192">
                            <blockquote>To people facing dilemma about Cochlear Implants, I'd like to say: Go for it. It
                                not only addressed our daughter's disability but also gave her wings to soar. I believe
                                she will soon integrate into mainstream society.A heartfelt
                                thank you to Dr. Neha and the BLK-Max ENT team</blockquote>
                            <div class="author">
                                <img src="/images/Lagnajyoti.jpeg" alt="sq-sample1" />
                                <h5>Lagnajyoti <span> </span></h5>
                            </div>
                        </figure>

                        <figure class="snip1192 hover">
                            <blockquote>We are as Ahmed’s parents feeling very hapy when we see our son is hearing and
                                speaking. Whenever he is throughout a word I am saying, Thank you God with showed me
                                good Doctors. Thank you Dr. Neha Sood.<br><br></blockquote>
                            <div class="author">
                                <img src="/images/Ahmed.jpeg" alt="sq-sample24" />
                                <h5>Ahmed<span></span></h5>
                            </div>
                        </figure>
                    </div>


                </div>
            </div>
        </div>
    </section>

    <section id="testimonials" class="pt-5 pb-0">
        <div class="container-fluid">
            <div class="row">
                <div class="w-100 py-md-2 px-2 px-sm-5">
                    <h3 class="heading2 text-center mb-5 text-uppercase">
                        Testimonials
                    </h3>
                    <div class="testimonial_slider owl-carousel owl-theme owl_arrows">
                        <div class="testimonial_block">
                            <div class="testi_thumb">
                                <!--<img src="/images/test_1.jpg" alt="">-->
                                <a href="javascript:void()" onClick="playVideo(this)" class="play_btn"></a>
                                <video width="320" height="240" controls id="test_video1">
                                    <source src="/images/testimonials/blk.mp4" type="video/mp4" />
                                    Your browser does not support the video tag.
                                </video>
                            </div>
                            <div class="p-2 p-sm-3">
                                <!--<div class="testi_img"><img src="/images/test_img1.jpg" alt=""></div>-->
                                <p>Parinita</p>
                            </div>
                        </div>
                        <div class="testimonial_block">
                            <div class="testi_thumb">
                                <!--<img src="/images/test_2.jpg" alt="">-->
                                <a href="javascript:void()" onClick="playVideo(this)" class="play_btn"></a>
                                <video width="320" height="240" controls id="test_video2">
                                    <source src="/images/testimonials/Cochlear-Implants.mp4" type="video/mp4" />
                                    Your browser does not support the video tag.
                                </video>
                            </div>
                            <div class="p-2 p-sm-3">
                                <!--<div class="testi_img"><img src="/images/test_img2.jpg" alt=""></div>-->
                                <p>Cochlear Implants Working</p>
                            </div>
                        </div>
                        <div class="testimonial_block">
                            <div class="testi_thumb">
                                <!--<img src="/images/test_3.jpg" alt="">-->
                                <a href="javascript:void()" onClick="playVideo(this)" class="play_btn"></a>
                                <video width="320" height="240" controls id="test_video3">
                                    <source src="/images/testimonials/Testimonial3.mp4" type="video/mp4" />
                                    Your browser does not support the video tag.
                                </video>
                            </div>
                            <div class="p-2 p-sm-3">
                                <!--<div class="testi_img"><img src="/images/test_img3.jpg" alt=""></div>-->
                                <p>PK Ghosh, Delhi</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ----------------------------------------------------------------- -->

    <!-- <section id="services" class="py-5">
            <div class="container-fluid">
                <div class="row">
                    <div class="w-100 py-md-2 px-2 px-sm-5">
                        <h3 class="heading2 text-center mb-5 text-uppercase">Speciality Services</h3>
                        <div class="speciality_slider owl-carousel owl-theme owl_arrows">
                            <a href="co2.html" class="ss_block">
                                <div class="ss_img">
                                    <img src="/images/speciality_service/Co2.png" class="img-fluid" alt="" />
                                </div>
                                <div class="ss_heading">
                                    <h3>CO2 Laser Surgery</h3>
                                </div>
                            </a>


                        </div>
                    </div>
                </div>
            </div>
        </section> -->

    <section id="conditions" class="pt-5 pb-0">
        <div class="container-fluid">
            <div class="row">
                <div class="w-100 py-md-2">
                    <h3 class="heading2 text-center mb-5 text-uppercase">
                        Cochlear Implants
                    </h3>

                    <div class="condition_slider owl-carousel owl-theme owl_arrows">

                        <div class="con_img about_img">
                            <figure> <img src="/images/1.jpeg" class="img-fluid conditionsimg" alt="" /></figure>
                        </div>
                        <div class="con_img about_img">
                            <figure> <img src="/images/2.jpeg" class="img-fluid conditionsimg" alt="" /></figure>
                        </div>
                        <!-- <div class="con_img about_img">
                            <figure> <img src="/images/3.jpeg" class="img-fluid conditionsimg" alt="" /></figure>
                        </div> -->
                        <div class="con_img about_img">
                            <figure> <img src="/images/4.jpeg" class="img-fluid conditionsimg" alt="" /></figure>
                        </div>
                        <div class="con_img about_img">
                            <figure> <img src="/images/6.jpeg" class="img-fluid conditionsimg" alt="" /></figure>
                        </div>
                        <div class="con_img about_img">
                            <figure> <img src="/images/7.jpeg" class="img-fluid conditionsimg" alt="" /></figure>
                        </div>
                        <div class="con_img about_img">
                            <figure> <img src="/images/8.jpeg" class="img-fluid conditionsimg" alt="" /></figure>
                        </div>
                        <div class="con_img about_img">
                            <figure> <img src="/images/9.jpeg" class="img-fluid conditionsimg" alt="" /></figure>
                        </div>
                        <div class="con_img about_img">
                            <figure> <img src="/images/10.jpeg" class="img-fluid conditionsimg" alt="" /></figure>
                        </div>
                        <div class="con_img about_img">
                            <figure> <img src="/images/11.jpeg" class="img-fluid conditionsimg" alt="" /></figure>
                        </div>
                        <!-- <div class="con_img about_img">
                            <figure> <img src="/images/12.jpeg" class="img-fluid conditionsimg" alt="" /></figure>
                        </div>
                        <div class="con_img about_img">
                            <figure> <img src="/images/13.jpeg" class="img-fluid conditionsimg" alt="" /></figure>
                        </div>
                        <div class="con_img about_img">
                            <figure> <img src="/images/14.jpeg" class="img-fluid conditionsimg" alt="" /></figure>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </section>





    <!-- ---------------------------------------------------------------------------- -->




    <section id="EnquiryForm" class="pb-4">
        <div class="container">
            <div class="w-100 py-md-2 px-2 px-sm-5">
                <h3 class="heading2 text-center mb-5 text-uppercase">Enquiry Form</h3>

                <div class="enq_form">
                    <form id="EnquiryForm">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input type="text" id="name" name="name" class="enq_control form-control"
                                        placeholder="Name">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input type="email" id="email" name="email" class="enq_control form-control"
                                        placeholder="Email">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input type="tel" id="phoneNumber" name="phoneNumber"
                                        class="enq_control form-control" placeholder="Mobile Number">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input type="text" id="age" name="age" class="enq_control form-control"
                                        placeholder="Age">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <select id="gender" name="gender" class="enq_control form-control"
                                        placeholder="Sex">
                                        <option disabled selected hidden>Sex</option>
                                        <option value="male">Male</option>
                                        <option value="female">Female</option>
                                        <option value="others">others</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <select id="location" name="location" class="enq_control form-control"
                                        placeholder="Clinic location">
                                        <option disabled selected hidden>Clinic location </option>
                                        <option value="ArBor Multi Speciality Clinic">ArBor Multi Speciality Clinic
                                        </option>
                                        <option value="Nath Eye Clinic ">Nath Eye Clinic </option>
                                        <option value="BLK-Max Super Specialty Hospital">BLK-Max Super Specialty
                                            Hospital </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input type="text" id="appointmentDate" name="appointmentDate"
                                        class="enq_control form-control" placeholder="Choose Date">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <select id="slot" name="slot" class="enq_control form-control" placeholder="Time">
                                    <option disabled selected hidden>Time</option>
                                    <option value="9:00Am-10:00Am">9:00Am - 10:00Am</option>
                                    <option value="10:00Am-11:00Am">10:00Am - 11:00Am</option>
                                    <option value="11:00Am-12:00Pm">11:00Am - 12:00Am</option>
                                    <option value="12:00Pm-01:00Pm">12:00pm - 01:00Pm</option>
                                    <option value="01:00Pm-02:00Pm">01:00Pm - 02:00Pm</option>
                                    <option value="02:00Pm-03:00Pm">02:00Pm - 03:00Pm</option>
                                    <option value="03:00Pm-04:00Pm">03:00Pm - 04:00Pm</option>
                                    <option value="04:00Pm-05:00Pm">04:00Pm - 05:00Pm</option>
                                    <option value="05:00Pm-06:00Pm">05:00Pm - 06:00Pm</option>
                                    <option value="06:00Pm-07:00Pm">06:00Pm - 07:00Pm</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <textarea id="message" name="message" class="enq_control form-control"
                                        placeholder="Message"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group text-center">
                                    <button type="submit" class="enq_submit">Submit</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</main>

{{end}}