{{ define "main" }}
<main role="main">
    <section id="home">
        <img src="/images/speciality_service/banners/Endoscopic/Endoscopic.jpg" class="img-fluid" alt="">
    </section>


    <section class="py-5">
        <div class="container-fluid">
            <div class="d-flex align-items-start justify-content-between flex-wrap">
                <div class="col-sm-8">
                    <div class="w-100 py-md-2 px-2 px-sm-5">
                        <h3 class="heading2 text-center mb-5">Endoscopic Surgery for Sinusitis</h3>

                        <div class="mt-3">
                            <ul class="custom_list s_list sm_list">
                                <p><strong>Surgery Overview</strong></p>
                                <p>In endoscopic sinus surgery, an endoscope is inserted into the nose, providing the doctor with an inside view of the sinuses.</p>

                                <p>Surgical instruments are inserted alongside the endoscope. This allows the doctor to remove small amounts of bone or other material blocking the sinus openings and remove growths (polyps) of the mucous membrane. In some
                                    cases a laser is used to burn away tissue blocking the sinus opening. A small rotating burr that scrapes away tissue may also be used.</p>

                                <p>The surgery may be done in a hospital or in a doctor's office or clinic. Either local or general anesthesia may be used. The procedure takes 30 to 90 minutes.
                                </p>




                            </ul>
                        </div>

                        <h5 class="font-weight-bold mt-4" style="font-size: 18px">Clinical Indications</h5>

                        <div class="mt-3">
                            <ul class="custom_list s_list sm_list">
                                <p><strong>What To Expect After Surgery</strong></p>
                                <p>Minor discomfort and bleeding are common during the first 2 weeks after surgery. Weekly visits to the surgeon may be necessary for about 3 weeks after the surgery to have dried blood and mucus removed.</p>

                                <p>Recovery also may involve:</p>
                                <li>Packing the nose with gauze to absorb bloody drainage.</li>
                                <li>Taking antibiotics.</li>
                                <li>Using a nasal spray containing a steroid for 6 months or longer to reduce inflammation.</li>
                                <li>Using saltwater washes (saline nasal lavage or irrigation) to keep the nasal passages moist.</li>
                                <li>Avoiding activities such as blowing the nose, exercising strenuously, and bending forward for a few days.</li>
                                <li>Using a humidifier to keep room air moist, especially in the bedroom. </li>


                                <p><strong>Why It Is Done</strong></p>
                                <p>Endoscopic surgery may be needed when medicine has failed to improve or cure chronic sinusitis. It is the preferred method of surgery for most cases of chronic sinusitis that require surgery.</p>
                                <p><strong>How Well It Works</strong></p>
                                <p>Endoscopic surgery improves symptoms in about 90 out of 100 people.footnote1</p>

                                <p>But surgery does not always completely eliminate sinusitis. Some people may need a second operation.</p>

                                <p>Surgery is most successful when used along with medicine and home treatment to prevent future sinus infections. A second surgery and future sinus infections may be avoided if antibiotics are taken to prevent reinfection.</p>

                                <p><strong>Risks</strong></p>
                                <p>As with any surgery, there are always some risks involved. But endoscopic sinus surgery is very safe when performed by an experienced surgeon who has special training with endoscopic surgical techniques.
                                </p>
                                <p>Minor complications (such as scar tissue attaching to nearby tissue, or bruising and swelling around the eyes) occur in a small number of people who have the surgery. Major complications (such as heavy bleeding, eye area
                                    injury, or brain injury) occur in fewer than 1 out of 100 cases.footnote2 Most complications of endoscopic sinus surgery can be managed or prevented.</p>

                                <p><strong>What To Think About</strong></p>
                                <p>Endoscopic sinus surgery does not cause as much visible scarring as traditional sinus surgery. Also, it may not cost as much as traditional surgery, because there is a shorter hospital stay, if any, and a shorter recovery.</p>


                                <p><strong>References</strong></p>
                                <p><strong>Citations</strong></p>
                                <li> Suh JD, Chiu AG (2012). Acute and chronic sinusitis. In AK Lalwani, ed., Current Diagnosis and Treatment Otolaryngology Head and Neck Surgery, 3rd ed., pp. 291–301. New York: McGraw-Hill.</li>
                                <li> Joint Council of Allergy, Asthma, and Immunology (2005). The diagnosis and management of sinusitis: A practice parameter update. Journal of Allergy and Clinical Immunology, 116(6 Suppl): S13–S47.</li>

                            </ul>
                        </div>












                    </div>
                </div>
                <div class="col-sm-4">
                    <img src="/images/speciality_service/banners/Endoscopic/covid_article.jpg" class="img-fluid" alt="">
                </div>
            </div>
        </div>
    </section>

</main>
{{end}}