{{ define "main" }}
<main role="main">
    <section class="py-5">
        <div class="container-fluid">
            <div>
                <iframe class="iframe-fluid" src="https://www.timesnownews.com/health/with-increase-in-gamers-suffering-from-hearing-loss-tinnitus-docs-warn-people-to-stay-away-from-loud-noise-article-106978871" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </section>

</main>
{{end}}