{{ define "main" }}
<main role="main">
    <div class="banner_content flex-wrap bg_sea_blue justify-content-between flex-column-reverse_xs">
        <div class="col-lg-6 col-md-6 col-sm-6 d-flex justify-content-center">
            <div class="banner_text2 px-5 py-3">
                <h1 class="banner_heading1 text-white">
                    Article
                </h1>
                <h1 class="banner_heading4 text-white">
                    Discover the Secrets of Ear, Nose, and Throat Health: A Comprehensive Guide by Leading ENT Specialists. Navigate the Intricacies of Hearing, Sinus Issues, and Voice Disorders with Expert Advice. Learn about Innovative Diagnostic Techniques and Surgical
                    Advancements for ENT Conditions. Your Go-to Resource for Maintaining Optimal Ear, Nose, and Throat Wellness. </h1>
                <a href="/contact_us" class="banner_btn">Book Appointment</a>
            </div>
        </div>
        <div class="col-lg-5 col-md-6 col-sm-6">
            <div class="row">
                <div>
                    <img src="/images/article/article.svg" class="img-fluid" alt="" />
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-4">
        <div class="text-center">
            <img src="/images/article/logo-timesnownews.svg" class="img-fluid" alt="" />
        </div>
    </div>

    <div class="container mt-4">
        <div class="w-100 py-md-2 px-2 ">
            <h3 class="heading2 text-left  mb-4">With Increase In Gamers Suffering From Hearing Loss & Tinnitus, Docs Warn People To Stay Away From Loud Noise</h3>

            <p>A recent study has revealed that being exposed to loud noise for a long time can harm your hearing. This is especially concerning for gamers who often encounter loud sounds. To learn more about the risks and solutions, we talked to ear, nose,
                and throat specialists.</p>
        </div>
        <div class="row align-items-center w-100 py-md-2 px-2 ">
            <div class="col-lg-7 col-md-7 col-12">
                <img class="dXZ" src="https://static.tnn.in/authorthumb/479262459.cms?width=70&amp;height=70" alt="author-479262459" onerror="this.onerror=null;this.src='https://www.timesnownews.com/assets/icons/svg/user.jpg';">
                <span style="margin-left: 10px;">
                        <a href="https://www.timesnownews.com/author/kalpana-sharma-479262459" title=""><span>Kalpana Sharma</span></a>
                </span>
                <span style="margin-left: 20px;">
                       Updated Jan 19, 2024, 01:25 PM IST
                    </span>

            </div>
            <div class="col-lg-5 col-md-5 col-12">
                <a target="_blank" rel="noreferrer nofollow" href="https://www.facebook.com/sharer/sharer.php?u=https://www.timesnownews.com/health/with-increase-in-gamers-suffering-from-hearing-loss-tinnitus-docs-warn-people-to-stay-away-from-loud-noise-article-106978871">
                    <img src="/images/article/facebook.svg" class="img-fluid article-share-icon" alt="" />
                </a>

                <a target="_blank" rel="noreferrer nofollow" href="https://twitter.com/intent/tweet?text=With Increase In Gamers Suffering From Hearing Loss &amp; Tinnitus, Docs Warn People To Stay Away From Loud Noise&amp;url=https://www.timesnownews.com/health/with-increase-in-gamers-suffering-from-hearing-loss-tinnitus-docs-warn-people-to-stay-away-from-loud-noise-article-106978871"><img src="/images/article/Twitter.svg" class="img-fluid article-share-icon" alt="" />
                </a>

                <a target="_blank" rel="noreferrer nofollow" href="https://www.linkedin.com/sharing/share-offsite/?url=https://www.timesnownews.com/health/with-increase-in-gamers-suffering-from-hearing-loss-tinnitus-docs-warn-people-to-stay-away-from-loud-noise-article-106978871"><img src="/images/article/linkedin.svg" class="img-fluid article-share-icon" alt="" />
                </a>

                <a target="_blank" rel="noreferrer nofollow" href="https://wa.me/?text=https://www.timesnownews.com/health/with-increase-in-gamers-suffering-from-hearing-loss-tinnitus-docs-warn-people-to-stay-away-from-loud-noise-article-106978871"><img src="/images/article/whatapp.svg" class="img-fluid article-share-icon" alt="" />
                </a>
            </div>
        </div>
    </div>
    <div class="container mt-4">
        <div class="w-100 py-md-2 px-2 ">
            <img src="/images/106981070.webp" class="img-fluid" alt="" />
        </div>
    </div>



    <section class="py-3" id="balloonsinuplasty">
        <div class="container">
            <div class="w-100 py-md-2 px-2 ">
                <p>Playing video games can be like getting lost in another world, thanks to the realistic visuals and immersive sounds. Most gamers admit they lose track of time when they are playing. That’s why it mimics addictive behaviours. But a recent
                    study is warning gamers. According to BMJ Public Health research, playing games for too long and at high volumes can harm your hearing.</p>

                <p>Dr. Neha Sood, Associate Director - ENT & Cochlear Implant, ENT & Cochlear Implant, BLK-Max Super Speciality Hospital, Delhi shares, “This study is very important in today's time because most of us, knowingly or unknowingly are being exposed
                    to noise, and that is one of the major reasons which causes hearing loss and gives us tinnitus and gaming is becoming increasingly popular in the last few years and that is one reason where youngsters and even adults, and mostly any
                    age group are gaming online or mobiles or using headphones, and that is increasing the chances of getting hearing loss because there is a high intensity sound exposure at more than 90 decibels for prolonged hours.” She further adds,
                    “Unfortunately, when they come to us, which we are seeing very increasingly and when they come to us with symptoms like tinnitus and hearing loss, we are helpless and we cannot get their hearing back or reduce their tinnitus because
                    it is a permanent process and the most important thing is that most of these youngsters and adults who are gaming should be should be educated about the permissible noise exposure levels and what this noise exposure can do to their
                    ears at this young age and how this noise exposure can lead to a hearing loss which can be irreversible.” The hearing loss is permanent and there can be a varying degree of tinnitus in these patients, young adults and the older age
                    group, and this tinnitus and hearing loss can be very, very debilitating and unfortunately, we cannot treat both these things, she adds.</p>



                <div class="_22SM _3wTW mt-5">
                    <section class="_3NwF">
                        <div class="_3rih kd8Q"><svg width="35" height="30" viewBox="0 0 35 30" xmlns="http://www.w3.org/2000/svg"><path d="M19.657 0v17.437h5.036L21.986 30h7.635l5.307-12.563V0H19.657zM0 0v17.437h5.036L2.383 30h7.58l5.308-12.563V0H0z" fill="#000" fill-rule="evenodd"></path></svg></div>
                        <div class="_2vhe">
                            <blockquote>Unfortunately, when they come to us with symptoms like tinnitus and hearing loss, which we are seeing very increasingly, we are helpless and we cannot get their hearing back or reduce their tinnitus because it is a permanent
                                process
                            </blockquote>
                            <p class="_3sJl">- Dr. Neha Sood, Associate Director - ENT &amp; Cochlear Implant, ENT &amp; Cochlear Implant, BLK-Max Super Speciality Hospital, Delhi</p>
                        </div>
                        <div class="_3rih _1yW7"><svg width="35" height="30" viewBox="0 0 35 30" xmlns="http://www.w3.org/2000/svg"><path d="M19.657 0v17.437h5.036L21.986 30h7.635l5.307-12.563V0H19.657zM0 0v17.437h5.036L2.383 30h7.58l5.308-12.563V0H0z" fill="#000" fill-rule="evenodd"></path></svg></div>
                    </section>
                </div>


                <h5 class="text_primary mt-4">What is the safe noise exposure level? </h5>

                <p>For the unversed, permissible noise exposure level is about 80 decibels for 40 hours a week in adults, and with every 3 DB increase in the decibel level, the permissible exposure to sound time duration reduces by half, so if your sound
                    exposure increases to 83 decibels, then the exposure time reduces by 50%. That means you can only get exposed to that amount of sound for 20 hours a week. In children this limit is 75 decibels for 40 hours, and again with every 3 DB
                    increase, the time decreases.</p>

                <div class="_22SM _3wTW mt-5">
                    <section class="_3NwF">
                        <div class="_3rih kd8Q"><svg width="35" height="30" viewBox="0 0 35 30" xmlns="http://www.w3.org/2000/svg"><path d="M19.657 0v17.437h5.036L21.986 30h7.635l5.307-12.563V0H19.657zM0 0v17.437h5.036L2.383 30h7.58l5.308-12.563V0H0z" fill="#000" fill-rule="evenodd"></path></svg></div>
                        <div class="_2vhe">
                            <blockquote>One should get an audiogram testing if they sense something is wrong and with timely intervention this can be treated.
                            </blockquote>
                            <p class="_3sJl">- Dr. Sumit Mrig, Associate Director and Head, ENT (Ear Nose Throat), Max Smart Super Speciality Hospital, Saket</p>
                        </div>
                        <div class="_3rih _1yW7"><svg width="35" height="30" viewBox="0 0 35 30" xmlns="http://www.w3.org/2000/svg"><path d="M19.657 0v17.437h5.036L21.986 30h7.635l5.307-12.563V0H19.657zM0 0v17.437h5.036L2.383 30h7.58l5.308-12.563V0H0z" fill="#000" fill-rule="evenodd"></path></svg></div>
                    </section>
                </div>

                <h5 class="text_primary">How does loud noise lead to irreversible hearing loss and tinnitus?</h5>
                <p>We all know long-time exposure of loud noise is not good for our ears. Dr. Sumit Mrig, Associate Director and Head, ENT (Ear Nose Throat), Max Smart Super Speciality Hospital, Saket explains, “The ear has got a sensitive organ which is
                    called the cochlea, which is organ of hearing. So, this cochlea has some important hair cells, outer hair cells, which are generally responsible for picking up sound signals from the environment. Now these hair cells are arranged in
                    the cochlear tone from high frequency to mid frequency to low frequency. Now if we go with the WHO criteria, this is an approximate number for adults, for a child, it is a little less than what an adult can sustain. But if you see
                    the current generation, who are hooked to Bluetooth devices, PS 4 stations PS 5 stations and they enjoy high-definition or 4K games with lots of loud noise for a continuous period of time, there is a temporary threshold shift. That
                    is, the hair cells die and you suddenly notice that the high frequency noises have started to dip and you may hear some beat, some sound which is generated inside the ear this is what we called as tinnitus, and if the exposure is not
                    withdrawn, then this temporary threshold hearing loss becomes a permanent threshold hearing loss.” Having said that, if you withdraw it, then probably there is a chance that you can gain back your hearing so it is advised to visit
                    your ENT surgeons, he suggests. One should get an audiogram testing if they sense something is wrong and with timely intervention this can be treated. But if the exposure is continuously prolonged for months and years, unfortunately
                    the patient ends up with a permanent hearing loss, which cannot be recovered and this continuous sound which comes has got no cure, is called as tinnitus. </p>

                <h5 class="text_primary">How can we stay safe? </h5>

                <p>Dr Shomeshwar Singh MS DLO FRCS MD, Senior Consultant ENT Surgeon, Amrita Hospital, Faridabad suggests distance from the loud source and duration of exposure to loud sounds are the important factors. “Loudness below 85dB for less than
                    a few hours a day, staying away from speakers, taking breaks and using good quality noise-reducing headsets will keep us safe.” </p>

                <p>Dr Neha agrees. “For prevention, the first and most important thing which can be done is to prevent this exposure to high intensity sounds, and even if you are being exposed to that much amount of sound like you always say, people who
                    are exposed to noise in cases where their occupation demands to be exposed, like people working at airports or in aircrafts, or where there are lots of machineries or sound recorders you should limit your exposure, to a permissible
                    decibel and for a permissible duration of time. So, your noise exposure should not exceed 80 decibels for more than 40 hours per week. So, you should make sure that the noise exposure is bare as minimal as possible and wherever possible
                    it is advisable that when these gamers are playing at home, they avoid using headphones or where they are playing in gaming stations, the intensity of sound should be to a bare minimum as minimal as possible, because that's where the
                    exposure is increasing because of increasing duration. </p>

                <p>So, prevention, I think the most important thing related to prevention is first these people need to be educated. Everybody needs to be educated that this exposure to loud intensity sound is hazardous. Most people don't realize since they
                    don't know about it. And that is why they continue that exposure for prolonged periods of time.”</p>

                <h5>Read More: <a href="https://www.timesnownews.com/health/beware-high-decibel-sounds-in-video-games-can-make-you-permanently-deaf-article-106977617" data-type="tilCustomLink">High Decibel Sounds In Video Games Can Make You Permanently Deaf</a></h5>

                <p>Prevention can start as soon as you know somebody is having some symptoms or problems with hearing. They should immediately stop using headphones, stop hearing sounds to very high decibels for prolonged periods of time and visit an ENT.
                </p>

                <ul class="custom_list s_list sm_list mt-2">
                    <li>Please visit your ENT specialist if you: </li>
                    <li>Have trouble hearing in noisy places .</li>
                    <li>Have trouble hearing on phone </li>
                    <li>Hear muffled, unclear sounds </li>
                    <li>Hear TV louder than others</li>
                </ul>
            </div>
        </div>
    </section>


</main>




{{end}}