{{ define "main" }}
<main role="main">

    <div class="banner_content flex-wrap bg_sea_blue justify-content-between flex-column-reverse_xs">
        <div class="col-lg-6 col-md-6 col-sm-6 d-flex justify-content-center">
            <div class="banner_text2 px-5 py-3">
                <h1 class="banner_heading1 text-white">
                    What is Bone <br />Conduction Hearing?
                </h1>
                <!-- <h1 class="banner_heading4 text-white">
                        Cochlear implants replace the function of damaged sensory hair cells inside the inner ear.
                    </h1> -->
                <a href="https://docon.co.in/doctor/nehasood?edge=true" class="banner_btn">Book Appointment</a
				>
				</div>
			</div>
			<div class="col-lg-5 col-md-6 col-sm-6">
				<div class="row">
				<div>
					<img
					src="/images/banner12.png"
					class="img-fluid"
					alt=""
					/>
				</div>
				</div>
			</div>
        </div>

        <div class="container mt-4">
            <div class="w-100 py-md-2 px-2 px-sm-5">
                <h3 class="heading2 text-left  mb-4">What is Bone Conduction Hearing?</h3>
                <!-- <p class="para">Cochlear implants replace the function of damaged sensory hair cells inside the inner ear.</p> -->
                <p class="para">Most people hear in two ways: by air conduction (sound traveling through the air to the ears) and bone conduction (sound passing through the bones in the head). They both work together to help us listen to and perceive sound.</p>
                <p class="para">Problems in your outer or middle ear can restrict sound waves from getting through to your inner ear which results in hearing loss. A common example is re-occurring ear infections or Chronic Otitis Media (COM). The underlying medical condition can be treated with surgeries, but the hearing loss remains in 30% of these cases1 and the need for repetitive surgeries is common.</p>

                <h3 class="heading2 text-left  mb-4">Candidacy identification</h3> 
                <p class="para">Assess audiological status, medical etiologies and impact to daily life to determine if bone conduction may be an appropriate solution. Consider the following:</p>   
                <ul class="custom_list s_list sm_list mt-2">
                    <li><strong>Type of hearing loss (conductive or mixed hearing loss, single-sided deafness)</strong></li>
                    <li><strong>Common etiologies (microtia/atresia, chronic otitis media, middle ear dysfunction/ossicular disease, or conditions contraindicating reliable use of conventional hearing aids)</strong></li>
                    <li><strong>Daily interactions (struggle with communication, need for reliable and consistent hearing, and quality of life)</strong></li>
                </ul>
                <p class="para">A bone conduction solution works by bypassing the blocked parts of the natural hearing pathway to help you hear. This may reduce the need for multiple surgeries that attempt to reconstruct the damaged part of the ear or to achieve a dry ear, an ear free of infection. They leave the ear canal free, which lowers the risk for ear infections compared to wearing a hearing aid</p>
            </div>
        </div>
        <section class="py-3">
            <div class="container">
                <div class="w-100 py-md-2 px-2 px-sm-5">

                    <h3 class="heading2 text-left  mb-4">How active OS implants work</h3>
                    <p class="para">Active osseointegrated steady-state implants (OS implants) use the principle of bone conduction, but unlike traditional bone conduction solutions, OS implants deliver sound vibrations through digital piezoelectric stimulation.</p>
                    <p class="para">They use an implanted component that expands and contracts within the implant to send sound vibrations through the bones in your skull directly to your working inner ear. The Cochlear Osia System features these main components:</p>
                    
                    <ul class="custom_list s_list sm_list mt-2">
                        <li><strong>External sound processor that captures sound in the air - the Osia 2 Sound Processor is lightweight, durable, and features state-of-the-art connectivity options.</strong></li>
                        <li><strong>Internal implant – our active OS implant, the Cochlear Osia OSI200 Implant, is placed under the skin. Its base, the Cochlear BI300 Implant, is designed to promote faster and stronger integration to the bone.5 The Piezo Power™ transducer that sits inside the OSI200 implant is designed to deliver long-term performance and durability.</strong></li>
                    </ul>

                    <p class="para">Together, these components bypass the part of the ear that isn’t working. The vibrations from the Piezo Power transducer travel to the inner ear where they are converted into electrical impulses and sent to the brain to be interpreted as sound.</p>
                

                <div class="mt-5">
                    <p><a class="heading2" style="color: #6abcbb;" href="https://youtu.be/TiBZci2B_lY">https://youtu.be/TiBZci2B_lY</a></p>
            </div>
        </div>
    </div>
    </section>





    <section class="py-3">
        <div class="container">
            <div class="w-100 py-md-2 px-2 px-sm-5">
                <h3 class="heading2 text-left  mb-4">What are the benefits?</h3>
                <p class="para">Research and decades of experience have shown that bone conduction solutions may help you or your child:</p>
                <ul class="custom_list s_list sm_list mt-2">
                    <li><strong>Improve your understanding of speech in quiet and in noisy environments</strong></li>
                    <li><strong>Hear better, even in noisy situations</strong></li>
                    <li><strong>Enjoy improved sound quality (compared to hearing aids) by bypassing the blocked part of the ear to reduce the amount of amplification needed to hear better.</strong></li>
                </ul>
            </div>
        </div>
    </section>








    <section id="EnquiryForm" class="pb-4">
        <div class="container">
            <div class="w-100 py-md-2 px-2 px-sm-5">
                <h3 class="heading2 text-center mb-5 text-uppercase">Enquiry Form</h3>

                <div class="enq_form">
                    <form id="contact"></form>
                </div>
            </div>
        </div>
    </section>
</main>



{{end}}