{{ define "main" }}
<main role="main">
    <section id="home">
        <img src="/images/speciality_service/banners/sinusitis.jpg" class="img-fluid" alt="">
    </section>

    <div class="container mt-4">
        <div class="w-100 py-md-2 px-2 px-sm-5">
            <h3 class="heading2 text-left text-uppercase mb-4">Chronic sinusitis</h3>
            <div class="scroll_spy" id="mainNav">
                <ul>
                    <li><a href="#symptoms">Symptoms</a></li>
                    <li><a href="#causes">Causes</a></li>
                    <li><a href="#daignosis">Diagnosis & treatment</a></li>
                </ul>
            </div>

        </div>
    </div>
    <section class="py-3">
        <div class="container">
            <div class="w-100 py-md-2 px-2 px-sm-5">

                <h3 class="page_heading mb-3">Overview</h3>

                <p class="para">Chronic sinusitis occurs when the spaces inside your nose and head (sinuses) are swollen and inflamed for three months or longer, despite treatment.</p>
                <p class="para">This common condition interferes with the way mucus normally drains, and makes your nose stuffy. Breathing through your nose may be difficult, and the area around your eyes might feel swollen or tender.</p>

                <p class="para">Chronic sinusitis can be brought on by an infection, by growths in the sinuses (nasal polyps) or by swelling of the lining of your sinuses. Also called chronic rhinosinusitis, the condition can affect both adults and children.</p>

            </div>
        </div>
    </section>
    <section class="pt-0 pb-2" id="symptoms">
        <div class="container">
            <div class="w-100 py-md-2 px-2 px-sm-5">
                <h5 class="font-weight-bold text_primary inner_heading">Symptoms</h5>
                <p class="para mt-3">Common signs and symptoms of chronic sinusitis include:</p>

                <ul class="custom_list s_list sm_list mt-2">
                    <li>Nasal inflammation</li>
                    <li>Thick, discolored discharge from the nose (runny nose)</li>
                    <li>Drainage down the back of the throat (postnasal drainage)</li>
                    <li>Blocked or stuffy (congested) nose causing difficulty breathing through your nose</li>
                    <li>Pain, tenderness and swelling around your eyes, cheeks, nose or forehead</li>
                    <li>Reduced sense of smell and taste</li>
                </ul>

                <div class="row">
                    <div class="col-sm-7">
                        <p class="para font-weight-bold mt-3">Other signs and symptoms can include:</p>
                        <ul class="custom_list s_list sm_list mt-2">
                            <li>Ear pain</li>
                            <li>Headache</li>
                            <li>Aching in your upper jaw and teeth</li>
                            <li>Cough or throat clearing</li>
                            <li>Sore throat</li>
                            <li>Bad breath</li>
                            <li>Fatigue</li>
                        </ul>
                    </div>
                    <div class="col-sm-5">
                        <img src="/images/sinusitis_side_img.png" class="img-fluid" alt="">
                    </div>
                </div>

                <p class="para mt-3">Chronic sinusitis and acute sinusitis have similar signs and symptoms. But acute sinusitis is a temporary infection of the sinuses often associated with a cold. The signs and symptoms of chronic sinusitis last at least 12 weeks, but you
                    may have several episodes of acute sinusitis before developing chronic sinusitis. Fever isn't a common sign of chronic sinusitis, but you might have one with acute sinusitis.</p>


                <p class="para font-weight-bold mt-4">When to see a doctor</p>


                <p class="para mt-4">Schedule an appointment with your doctor if:</p>

                <ul class="custom_list s_list sm_list mt-2">
                    <li>You've had sinusitis a number of times, and the condition doesn't respond to treatment</li>
                    <li>You have sinusitis symptoms that last more than 10 days</li>
                    <li>Your symptoms don't improve after you see your doctor</li>
                </ul>

                <p class="para mt-4">See a doctor immediately if you have the following signs or symptoms, which could indicate a serious infection:</p>

                <ul class="custom_list s_list sm_list mt-2">
                    <li>Fever</li>
                    <li>Swelling or redness around your eyes</li>
                    <li>Severe headache</li>
                    <li>Forehead swelling</li>
                    <li>Confusion</li>
                    <li>Double vision or other vision changes</li>
                    <li>Stiff neck</li>
                </ul>
            </div>
        </div>
    </section>




    <section class="pt-0 pb-2" id="causes">
        <div class="container">
            <div class="w-100 py-md-2 px-2 px-sm-5">
                <h5 class="font-weight-bold text_primary inner_heading">Causes</h5>

                <p class="para mt-4">Common causes of chronic sinusitis include:</p>
                <p class="para mt-4"><strong> Nasal polyps -</strong> These tissue growths can block the nasal passages or sinuses.</p>
                <p class="para mt-4"><strong>Deviated nasal septum.</strong> A crooked septum — the wall between the nostrils — may restrict or block sinus passages, making the symptoms of sinusitis worse.</p>
                <p class="para mt-4"><strong>Other medical conditions.</strong> The complications of conditions such as cystic fibrosis, HIV and other immune system-related diseases can lead to nasal blockage.</p>
                <p class="para mt-4"><strong>Respiratory tract infections.</strong> Infections in your respiratory tract — most commonly colds — can inflame and thicken your sinus membranes and block mucus drainage. These infections can be caused by viruses or bacteria.</p>
                <p class="para mt-4"><strong>Allergies such as hay fever.</strong> Inflammation that occurs with allergies can block your sinuses.</p>

                <p class="para font-weight-bold mt-4">Risk factors</p>
                <p class="para mt-4">You're at increased risk of getting chronic sinusitis if you have:</p>

                <ul class="custom_list s_list sm_list mt-2">
                    <li>A deviated nasal septum</li>
                    <li>Nasal polyps</li>
                    <li>Asthma</li>
                    <li>Aspirin sensitivity</li>
                    <li>A dental infection</li>
                    <li>A fungal infection</li>
                    <li>Tumors</li>
                    <li>An immune system disorder such as HIV/AIDS or cystic fibrosis</li>
                    <li>Hay fever or another allergic condition</li>
                    <li>Regular exposure to pollutants such as cigarette smoke</li>
                </ul>

                <p class="para font-weight-bold mt-4">Complications</p>
                <p class="para mt-4">Serious complications of chronic sinusitis complications are rare, but may include:</p>


                <p class="para mt-4"><strong>Vision problems.</strong> If your sinus infection spreads to your eye socket, it can cause reduced vision or possibly blindness that can be permanent.</p>
                <p class="para mt-4"><strong>Infections.</strong> Uncommonly, people with chronic sinusitis may develop inflammation of the membranes and fluid surrounding the brain and spinal cord (meningitis), an infection in the bones, or a serious skin infection.</p>


                <p class="para font-weight-bold mt-4">Prevention</p>
                <p class="para mt-4">Take these steps to reduce your risk of getting chronic sinusitis:</p>


                <p class="para mt-4"><strong>Avoid upper respiratory infections.</strong> Avoid contact with people who have colds or who are sick with other infections. Wash your hands frequently with soap and water, especially before meals.</p>
                <p class="para mt-4"><strong>Manage your allergies.</strong> Work with your doctor to keep symptoms under control. Avoid exposure to things you're allergic to whenever possible.</p>
                <p class="para mt-4"><strong>Avoid cigarette smoke and polluted air.</strong> Tobacco smoke and air contaminants can irritate and inflame your lungs and nasal passages.</p>
                <p class="para mt-4"><strong>Use a humidifier.</strong> If the air in your home is dry, such as it is if you have forced hot air heat, adding moisture to the air may help prevent sinusitis. Be sure to keep the humidifier clean and free of mold with regular,
                    thorough cleaning.</p>




            </div>
        </div>
    </section>

    <section class="py-3" id="daignosis">
        <div class="container">
            <div class="w-100 py-md-2 px-2 px-sm-5">

                <h3 class="page_heading mb-3">Diagnosis & treatment </h3>

                <p class="para">Your doctor can usually make a diagnosis based on your answers to questions about your symptoms, a general physical exam and an examination of your nose. Polyps may be visible with the aid of a simple lighted instrument.</p>
                <p class="para ">Other diagnostic tests include:</p>

                <ul class="custom_list s_list sm_list mt-2">
                    <li><strong>Nasal endoscopy. </strong>A narrow tube with a lighted magnifying lens or tiny camera (nasal endoscope) enables your doctor to perform a detailed examination inside your nose and sinuses.</li>
                    <li><strong>Imaging studies.</strong> Images obtained with computerized tomography (CT) can help your doctor pinpoint the size and location of polyps in deeper areas of your sinuses and evaluate the extent of swelling and irritation (inflammation).
                        <br> These studies may also help your doctor rule out other possible blockages in your nasal cavity, such as structural abnormalities or another type of cancerous or noncancerous growth.
                    </li>
                    <li><strong>Allergy tests. </strong>Your doctor may suggest skin tests to determine if allergies are contributing to chronic inflammation. With a skin prick test, tiny drops of allergy-causing agents (allergens) are pricked into the skin
                        of your forearm or upper back. Your doctor or nurse then observes your skin for signs of allergic reactions.
                        <br> If a skin test can't be performed, your doctor may order a blood test that screens for specific antibodies to various allergens.</li>

                    <li><strong>Test for cystic fibrosis.</strong> If you have a child diagnosed with nasal polyps, your doctor may suggest testing for cystic fibrosis, an inherited condition affecting the glands that produce mucus, tears, sweat, saliva and
                        digestive juices. The standard diagnostic test for cystic fibrosis is a noninvasive sweat test, which determines whether your child's perspiration is saltier than most people's sweat is.

                    </li>
                    <li><strong>Blood test.</strong> Your doctor may test your blood for low levels of vitamin D, which are associated with nasal polyps.</li>

                </ul>
                <br>
                <h3 class="page_heading mb-3">Treatment</h3>
                <p class="para mt-3">Chronic sinusitis, with or without polyps, is a challenging condition to clear up completely.
                    <br> You'll work with your health care team to develop the appropriate long-term treatment plan to manage your symptoms and to treat factors, such as allergies, that may contribute to chronic swelling (inflammation).
                    <br> The treatment goal for nasal polyps is to reduce their size or eliminate them. Medications are usually the first approach. Surgery may sometimes be needed, but it may not provide a permanent solution because polyps tend to recur.
                </p>

                <h3 class="page_heading mb-3">Medications</h3>
                <p class="para mt-3">Nasal polyp treatment usually starts with drugs, which can make even large polyps shrink or disappear. Drug treatments may include:</p>
                <ul class="custom_list s_list sm_list mt-2">
                    <li>Nasal corticosteroids. Your doctor is likely to prescribe a corticosteroid nasal spray to reduce swelling and irritation. This treatment may shrink the polyps or eliminate them completely.
                        <br> Nasal corticosteroids include fluticasone (Flonase Allergy Relief, Flovent HFA, Xhance), budesonide (Rhinocort), mometasone (Nasonex, Asmanex HFA), triamcinolone (Nasacort Allergy 24HR), beclomethasone (Beconase AQ, Qvar Redihaler,
                        Qnasl) and ciclesonide (Omnaris, Alvesco, Zetonna).
                    </li>
                    <li><strong>Oral and injectable corticosteroids.</strong> If a nasal corticosteroid isn't effective, your doctor may prescribe an oral corticosteroid, such as prednisone, either alone or in combination with a nasal spray.
                        <br> Because oral corticosteroids can cause serious side effects, you usually take them only for a limited period.
                        <br> Injectable corticosteroids may be used if nasal polyps are severe.
                    </li>
                    <li><strong>Medication to treat nasal polyps and chronic sinusitis.</strong> If you have nasal polyps and chronic sinusitis, your doctor may give you an injection of a medication called dupilumab (Dupixent) to treat your condition. This
                        medication may reduce the size of the nasal polyps and lessen congestion.

                    </li>
                    <li>

                        <strong>Other medications.</strong> Your doctor may prescribe drugs to treat conditions that contribute to long-term swelling in your sinuses or nasal passages. These may include antihistamines to treat allergies and antibiotics
                        to treat a chronic or recurring infection.
                        <br> Aspirin desensitization, under the care of an allergy specialist with experience in desensitization, may benefit some patients with nasal polyps and aspirin sensitivity. The treatment involves gradually increasing the amount
                        of aspirin you take while under a doctor's care in a hospital or clinic to help your body tolerate taking aspirin long term.</li>
                </ul>

                <br>
                <h3 class="page_heading mb-3">Surgery</h3>

                <p>
                    If drug treatment doesn't shrink or eliminate nasal polyps, you may need endoscopic surgery to remove polyps and to correct problems with your sinuses that make them prone to inflammation and the development of polyps.
                    <br> In endoscopic surgery, the surgeon inserts a small tube with a lighted magnifying lens or tiny camera (endoscope) into your nostrils and guides it into your sinus cavities. He or she uses tiny instruments to remove polyps and
                    other substances that block the flow of fluids from your sinuses.
                    <br> Your surgeon may also enlarge the openings leading from your sinuses to your nasal passages. Endoscopic surgery is usually performed as an outpatient procedure.
                    <br> After surgery, you'll likely use a corticosteroid nasal spray to help prevent the recurrence of nasal polyps. Your doctor may also recommend the use of a saltwater (saline) rinse to promote healing after surgery.
                </p><br>
                <h3 class="page_heading mb-3">Potential future treatments</h3>
                <p>Researchers are studying the role of biologic drugs, including medications that treat severe asthma, in helping reduce nasal polyps and relieve symptoms. Biologics work by targeting specific cells or proteins to reduce irritation and swelling.
                    Early research suggests that the drugs may become options for people whose nasal polyps don't respond to corticosteroids or surgery.</p>
            </div>
            <video width="100%" height="auto" controls>
				<source src="/images/videonew.mp4" type="video/mp4"  >
				<source src="/images/videonew.mp4" type="video/ogg"  >
			  
			  </video>
        </div>


    </section>

    <section id="EnquiryForm" class="pb-4">
        <div class="container">
            <div class="w-100 py-md-2 px-2 px-sm-5">
                <h3 class="heading2 text-center mb-5 text-uppercase">Enquiry Form</h3>

                <div class="enq_form">
                    <form id="contact"></form>
                </div>
            </div>
        </div>
    </section>

</main>
{{end}}