@charset "utf-8";
/* CSS Document */

.offset_form {
    width: 28% !important;
    border-radius: 2px;
    position: absolute !important;
    right: 70px;
    z-index: 999;
}
.top_block {
    padding: 10px 15px;
}
.top_heading1 {
    padding-top: 34px;
    font-style: italic;
    line-height: 25px;
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: 500;
}
.top_listing  {
	list-style: none;
	padding: 0
}
.top_listing  > li {
    color: #646464;
    padding: 0px 5px 3px 31px;
    background: url(../img/bullet-icon.jpg) no-repeat 0px 4px;
    line-height: 25px;
    font-size: 16px;
    list-style: none;
}
.top_block a {
    display: block;
    font-size: 12px;
}
.about_specs {
    list-style: none;
    margin: 0;
    padding: 0;
}
.about_specs li {
    background: url(../img/red-arrow.jpg) no-repeat;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    padding: 0 5px 10px 20px;
    color: #303030;
    background-position: 0 7px;
    font-style: italic;
}
.top_listing > ul > li {
    list-style: none;
}
.tnc_section {
    background: #f2f5fa;
}

.terms_conditions {
    list-style: none;
    margin: 0;
    padding: 0;
}
.terms_conditions li {
    position: relative;
    padding: 5px;
    padding-left: 20px;
    font-size: 12px;
}
.terms_conditions li:before {
    position: absolute;
    content: '';
    width: 5px;
    height: 5px;
    background: #003592;
    border-radius: 50%;
    left: 0;
    top: 12px;
}
.companies{ 
	clear: both; 
	padding: 0px 0 0;
}
.companies ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.companies li{
	float: left;
	margin-top: 15px; 
	width: 138px;
}
.companies p {
	border: 1px solid #ccc; 
	padding: 15px 1px;
}
.companies p:first-child {
	height: 115px;
	margin-bottom: 0
}
@media screen and (max-width:991px) {
	.offset_form {
		width: 34% !important;
		right: 10px;
	}
}
@media screen and (max-width:768px) {
	.offset_form {
		position: relative !important;
		width: 100% !important;
		right: 0;
	}
}
@media screen and (max-width:420px) {
	
	.companies li {
		width: 50%
	}
}