{{ define "main" }}
<div class="banner_content flex-wrap bg_sea_blue justify-content-between flex-column-reverse_xs">
    <div class="col-lg-6 col-md-6 col-sm-6 d-flex justify-content-center">
        <div class="banner_text2 px-5 py-3">
            <h1 class="banner_heading1 text-white">Blog</h1>
            <h1 class="banner_heading4 text-white">
                "Sound Solutions: Dr. Neha Sood's Blog for Ear, Nose & Throat Wellness"
            </h1>
        </div>
    </div>
    <div class="col-lg-5 col-md-6 col-sm-6">
        <img src="/images/blog/mainimg.webp" class="img-fluid" alt="" />
    </div>
</div>

<section class="container innercontentarea blog_area single-post-area section-padding pt-5">
    <div class="row">
        <div class="col-md-7 ">
            <div class="single-post">
                <div class="d-flex justify-content-between">
                    <div class="d-flex flex-row align-items-center">
                        <p>{{ .Date.Format "Mon, Jan 2, 2006" }}</p>
                    </div>
                    <div>
                        <p>Read in {{ .ReadingTime }} minutes</p>
                    </div>
                </div>
                <div class="feature-img">
                    {{ if .Params.image }}<img src="{{ .Params.image }}" class="img-fluid" style="margin: 10px 0 30px 0; border-radius: 5px;" alt="{{ .Title }}" />{{ end }}
                    <div class="blog_details">
                        {{ .Content }}
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-5 ">
            <div class="teamdetails sidebarcard blogs-form">
                <div class="pt-5 pb-5 pl-2 pr-2">
                    <ul class="pl-3 pr-4">
                        <h4>Latest Blog Posts</h4>
                        <div class="row mt-4">
                            {{ range first 3 (where .Site.RegularPages "Section" "blog").ByDate.Reverse }}
                            <div class="pl-3 pr-3">
                                {{ .Render "lii"}}
                            </div>
                            {{ end }}
                        </div>
                    </ul>

                    <div class="pl-3 pr-3">
                        <h3 class="heading2 mb-4">Enquiry Form</h3>

                        <div class="enq_form">
                            <form id="EnquiryForm">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <input type="text" id="name" name="name" class="enq_control form-control"
                                                placeholder="Name">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <input type="email" id="email" name="email" class="enq_control form-control"
                                                placeholder="Email">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <input type="tel" id="phoneNumber" name="phoneNumber"
                                                class="enq_control form-control" placeholder="Mobile Number">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <input type="text" id="age" name="age" class="enq_control form-control"
                                                placeholder="Age">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <select id="gender" name="gender" class="enq_control form-control"
                                                placeholder="Sex">
                                                <option disabled selected hidden>Sex</option>
                                                <option value="male">Male</option>
                                                <option value="female">Female</option>
                                                <option value="others">others</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <select id="location" name="location" class="enq_control form-control"
                                                placeholder="Clinic location">
                                                <option disabled selected hidden>Clinic location </option>
                                                <option value="ArBor Multi Speciality Clinic">ArBor Multi Speciality Clinic
                                                </option>
                                                <option value="Nath Eye Clinic ">Nath Eye Clinic </option>
                                                <option value="BLK-Max Super Specialty Hospital">BLK-Max Super Specialty
                                                    Hospital </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <input type="text" id="appointmentDate" name="appointmentDate"
                                                class="enq_control form-control" placeholder="Choose Date">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <select id="slot" name="slot" class="enq_control form-control" placeholder="Time">
                                            <option disabled selected hidden>Time</option>
                                            <option value="9:00Am-10:00Am">9:00Am - 10:00Am</option>
                                            <option value="10:00Am-11:00Am">10:00Am - 11:00Am</option>
                                            <option value="11:00Am-12:00Pm">11:00Am - 12:00Am</option>
                                            <option value="12:00Pm-01:00Pm">12:00pm - 01:00Pm</option>
                                            <option value="01:00Pm-02:00Pm">01:00Pm - 02:00Pm</option>
                                            <option value="02:00Pm-03:00Pm">02:00Pm - 03:00Pm</option>
                                            <option value="03:00Pm-04:00Pm">03:00Pm - 04:00Pm</option>
                                            <option value="04:00Pm-05:00Pm">04:00Pm - 05:00Pm</option>
                                            <option value="05:00Pm-06:00Pm">05:00Pm - 06:00Pm</option>
                                            <option value="06:00Pm-07:00Pm">06:00Pm - 07:00Pm</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <textarea id="message" name="message" class="enq_control form-control"
                                                placeholder="Message"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group text-center">
                                            <button type="submit" class="enq_submit">Submit</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>


        </div>
    </div>
</section>
{{ end }}