{{ define "main" }}
<main role="main">
    <section id="home">
        <img src="/images/speciality_service/banners/vertigo.jpg" class="img-fluid" alt="">
    </section>

    <div class="container mt-4">
        <div class="w-100 py-md-2 px-2 px-sm-5">
            <h3 class="heading2 text-left text-uppercase mb-4">Vertigo</h3>
            <div class="scroll_spy" id="mainNav">
                <ul>
                    <li><a href="#causes">Symptoms & Causes</a></li>
                    <!--<li><a href="#doctors">Doctors & departments</a></li>-->
                    <li><a href="#daignosis">Diagnosis & treatment</a></li>
                </ul>
            </div>

        </div>
    </div>
    <section class="py-3">
        <div class="container">
            <div class="w-100 py-md-2 px-2 px-sm-5">

                <h3 class="page_heading mb-3">Overview</h3>

                <p class="para">Benign paroxysmal positional vertigo (BPPV) is one of the most common causes of vertigo — the sudden sensation that you're spinning or that the inside of your head is spinning.</p>
                <p class="para ">BPPV causes brief episodes of mild to intense dizziness. It is usually triggered by specific changes in your head's position. This might occur when you tip your head up or down, when you lie down, or when you turn over or sit up in bed.
                </p>
                <p class="para ">Although BPPV can be bothersome, it's rarely serious except when it increases the chance of falls. You can receive effective treatment for BPPV during a doctor's office visit.</p>

            </div>
        </div>
    </section>
    <section class="pt-0 pb-2" id="causes">
        <div class="container">
            <div class="w-100 py-md-2 px-2 px-sm-5">
                <h5 class="font-weight-bold text_primary inner_heading">Symptoms </h5>

                <div class="row">
                    <div class="col-sm-7">
                        <p class="para mt-3">The signs and symptoms of benign paroxysmal positional vertigo (BPPV) may include:</p>


                        <ul class="custom_list s_list sm_list mt-2">
                            <li>Dizziness</li>
                            <li>A sense that you or your surroundings are spinning or moving (vertigo)</li>
                            <li>A loss of balance or unsteadiness</li>
                            <li>Nausea</li>
                            <li>Vomiting</li>
                        </ul>

                        <p class="para mt-3">The signs and symptoms of BPPV can come and go and commonly last less than one minute. Episodes of BPPV can disappear for some time and then recur.</p>
                        <p class="para mt-3">Activities that bring about the signs and symptoms of BPPV can vary from person to person, but are almost always brought on by a change in head position. Some people also feel out of balance when standing or walking.</p>
                        <p class="para mt-3">Abnormal rhythmic eye movements usually accompany the symptoms of benign paroxysmal positional vertigo.</p>



                        <h5 class="font-weight-bold text_primary inner_heading mt-4">Causes </h5>

                        <p class="para mt-3">Often, there's no known cause for BPPV. This is called idiopathic BPPV.</p>
                        <p class="para mt-3">When there is a known cause, BPPV is often associated with a minor to severe blow to your head. Less common causes of BPPV include disorders that damage your inner ear or, rarely, damage that occurs during ear surgery or long periods
                            positioned on your back, such as in a dentist chair. BPPV also has been associated with migraines.</p>

                        <p class="para mt-3 font-weight-bold">The ear's role</p>
                        <p class="para  mt-3">Inside your ear is a tiny organ called the vestibular labyrinth. It includes three loop-shaped structures (semicircular canals) that contain fluid and fine, hairlike sensors that monitor your head's rotation.</p>
                        <p class="para  mt-3">Other structures (otolith organs) in your ear monitor your head's movements — up and down, right and left, back and forth — and your head's position related to gravity. These otolith organs contain crystals that make you sensitive
                            to gravity.</p>
                        <p class="para  mt-3">For many reasons, these crystals can become dislodged. When they become dislodged, they can move into one of the semicircular canals — especially while you're lying down. This causes the semicircular canal to become sensitive to
                            head position changes it would normally not respond to, which is what makes you feel dizzy.</p>

                    </div>
                    <div class="col-sm-5">
                        <img src="/images/vertigo_side.png" class="img-fluid" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>





    <section class="py-3" id="daignosis">
        <div class="container">
            <div class="w-100 py-md-2 px-2 px-sm-5">

                <h3 class="page_heading mb-3">Diagnosis & treatment </h3>

                <p class="para">Treatment for vertigo depends on what's causing it. In many cases, vertigo goes away without any treatment. This is because your brain is able to adapt, at least in part, to the inner ear changes, relying on other mechanisms to maintain
                    balance.
                </p>
                <p class="para">
                    For some, treatment is needed and may include:</p>

                <p class="para"> Vestibular rehabilitation. This is a type of physical therapy aimed at helping strengthen the vestibular system. The function of the vestibular system is to send signals to the brain about head and body movements relative to gravity.</p>

                <p class="para">
                    Vestibular rehab may be recommended if you have recurrent bouts of vertigo. It helps train your other senses to compensate for vertigo.</p>

                <p class="para ">Canalith repositioning maneuvers. Guidelines from the American Academy of Neurology recommend a series of specific head and body movements for BPPV. The movements are done to move the calcium deposits out of the canal into an inner ear
                    chamber so they can be absorbed by the body. You will likely have vertigo symptoms during the procedure as the canaliths move.
                </p>
                <p class="para ">A doctor or physical therapist can guide you through the movements. The movements are safe and often effective.</p>

                <p class="para ">Medicine. In some cases, medication may be given to relieve symptoms such as nausea or motion sickness associated with vertigo.</p>

                <p class="para ">If vertigo is caused by an infection or inflammation, antibiotics or steroids may reduce swelling and cure infection.
                </p>
                <p class="para ">For Meniere's disease, diuretics (water pills) may be prescribed to reduce pressure from fluid buildup.</p>

                <p class="para ">Surgery. In a few cases, surgery may be needed for vertigo.</p>

                <p class="para ">If vertigo is caused by a more serious underlying problem, such as a tumor or injury to the brain or neck, treatment for those problems may help to alleviate the vertigo.</p>







            </div>
        </div>
    </section>
    <section id="EnquiryForm" class="pb-4">
        <div class="container">
            <div class="w-100 py-md-2 px-2 px-sm-5">
                <h3 class="heading2 text-center mb-5 text-uppercase">Enquiry Form</h3>

                <div class="enq_form">
                    <form id="contact"></form>
                </div>
            </div>
        </div>
    </section>
</main>
{{end}}