 {{ define "main" }}
<main role="main">
    <section id="home">
        <img src="/images/speciality_service/banners/Co2 laser surgery/Co2-laser-surgery.jpg" class="img-fluid" alt="">
    </section>


    <section class="py-5">
        <div class="container-fluid">
            <div class="d-flex align-items-start justify-content-between flex-wrap">
                <div class="col-sm-8">
                    <div class="w-100 py-md-2 px-2 px-sm-5">
                        <h3 class="heading2 text-center mb-5">Co2 Laser Surgery</h3>

                        <div class="mt-3">
                            <ul class="custom_list s_list sm_list">
                                <p>CO2 Lasers have revolutionized the way otolaryngologists approach surgery, enabling highly precise and, often, less invasive treatment of a wide range of ENT applications.LASER is the acronym for Light Amplification by
                                    Stimulated Emission of Radiation. Laser is a device that emits light through a process of Optical amplification based on stimulated emission of electromagnetic radiation.
                                </p>




                            </ul>
                        </div>

                        <h5 class="font-weight-bold mt-4" style="font-size: 18px">Clinical Indications</h5>

                        <div class="mt-3">
                            <ul class="custom_list s_list sm_list">
                                <p><strong>Oral cavity</strong></p>
                                <li>In sleep apnoea surgeries (LAUP) to reduce enlaged palate and uvula </li>
                                <li>Remove tumours from oral cavity
                                </li><br>
                                <p><strong>Nose</strong></p>
                                <li>To reduce size of turbinates </li><br>
                                <p><strong>Ear</strong></p>
                                <li>Stapedotomy: make a hole in the footplate before placing the piston </li><br>
                                <p><strong>Larynx</strong></p>
                                <li>Benign conditions-Reinke’s edema, Benign cycts, polyps on vocal cords ,Recurrent papillomatosis, Subglottic and Tracheal stenosis</li>
                                <li>Malignant lesions in larynx</li>
                            </ul>
                        </div>












                    </div>
                </div>
                <div class="col-sm-4">
                    <img src="/images/speciality_service/banners/Co2 laser surgery/co2.jpg" class="img-fluid" alt="">
                </div>
            </div>
        </div>
    </section>

</main>
{{end}}