{{ define "main" }}
<main role="main">
    <!-- <section id="home">
        <img src="/images/banner_home.jpg" class="img-fluid" alt="">
    </section> -->
    <div class="banner_content flex-wrap bg_sea_blue justify-content-between flex-column-reverse_xs ">
        <div class="col-md-10 mx-auto ">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6 col-12 ">
                    <div class="banner_text2 px-5 py-3">
                        <h1 class="banner_heading1 text-white">
                            Ear Surgery
                        </h1>
                        <br>
                        <p class="text-white">Hearing and balance Disorder </p>
                        <a href="/contact_us" class="banner_btn" target="_blank">Book Appointment</a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-12 ">
                    <img src="/images/uploads/nasal_polyps_side.png" alt="conditions_treated">
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="w-100 py-md-2 px-2 px-sm-5">
            <ul class="bread_custom">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Speciality Services</a></li>
                <li class="breadcrumb-item">Conditions Treated</li>
            </ul>
        </div>
    </div>


    <section class="py-3">
        <div class="container">
            <div class="w-100 py-md-2 px-2 px-sm-5">
                <h5 class="font-weight-bold text-center text-uppercase" style="font-size: 18px">ENT Treatments offered at our centre for these ailments</h5>
                <div class="mt-5">
                    <div class="row">
                        
                        <div class="col-sm-3 ">
                            <h5 class="text-uppercase">Nose</h5>
                            <ul class="custom_list s_list text-uppercase">
                                <li>Headache</li>
                                <li>Adenoids</li>
                                <li>Sinusitis</li>
                                <li>Allergy (Allergic Rhinitis)</li>
                                <li>Deviated Nasal Septum</li>
                                <li>Nasal Bleeding</li>
                                <li>Nasal Polyps</li>
                                <li>Nasal Obstruction</li>
                                <li>NASAL tumors</li>
                                <li>CSF Rhinorhea</li>
                            </ul>
                        </div>
                        <div class="col-sm-3">
                            <h5 class="text-uppercase">Throat</h5>
                            <ul class="custom_list s_list text-uppercase">
                                <li>Sore Throat</li>
                                <li>Laryngitis</li>
                                <li>Tonsillitis</li>
                                <li>Chronic Cough</li>
                                <li>Voice disorders (hoarseness in voice) </li>
                                <li>Speech Problems</li>
                                <li> Speech Delay in children</li>
                            </ul>
                        </div>
                        <div class="col-sm-3">
                            <h5 class="text-uppercase">Ear</h5>
                            <ul class="custom_list s_list text-uppercase">
                                <li>Hearing Loss (Deafness in Adults & Children)</li>
                                <li>Tinnitus</li>
                                <li>Ear Discharge</li>
                                <li>Vertigo/Giddiness </li>
                            </ul>
                        </div>
                        <div class="col-sm-3">
                            <h5 class="text-uppercase">Others</h5>
                            <ul class="custom_list s_list text-uppercase">

                                <li>Salivary Gland Tumours</li>
                                <li>Snoring</li>
                                <li> Obstructive Sleep Apnoea Syndrome(OSAS)</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- <div class="mt-4">
                    <div class="row">
                        <div class="col-sm-3">
                            <h5 class="text-uppercase">Throat</h5>
                            <ul class="custom_list s_list text-uppercase">
                                <li>Sore Throat</li>
                                <li>Laryngitis</li>
                                <li>Tonsillitis</li>
                                <li>Chronic Cough</li>
                                <li>Voice disorders (hoarseness in voice) </li>
                                <li>Speech Problems</li>
                                <li> Speech Delay in children</li>
                            </ul>
                        </div>
                        <div class="col-sm-3" mt-4>
                            <h5 class="text-uppercase">Others</h5>
                            <ul class="custom_list s_list text-uppercase">

                                <li>Salivary Gland Tumours</li>
                                <li>Snoring</li>
                                <li> Obstructive Sleep Apnoea Syndrome(OSAS)</li>
                            </ul>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </section>
</main>
{{end}}