{{ define "main" }}
<main role="main">

    <section class="py-5">
        <div class="container-fluid">
            <div class="w-100 py-md-2 px-2 px-sm-5">
                <h3 class="heading2 text-center mb-5">Video Gallery</h3>
                <div id="lightgallery" class="d-flex align-items-start justify-content-between flex-wrap">
                    <div class="col-sm-4 mb-3">
                        <iframe width="100%" height="200" src="/images/video/balloon.mp4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
                        <p class="para text-black-50 mt-3 font-weight-bold">Welcoming Fahad to Cochlear Implant Family</p>
                    </div>
                    <div class="col-sm-4 mb-3">
                        <iframe width="100%" height="200" src="/images/video/balloon1.mp4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
                        <p class="para text-black-50 mt-3 font-weight-bold">Welcoming Fahad to Cochlear Implant Family</p>
                    </div>
                    <div class="col-sm-4 mb-3">
                        <iframe width="100%" height="200" src="/images/video/balloon2.mp4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
                        <p class="para text-black-50 mt-3 font-weight-bold">Welcoming Fahad to Cochlear Implant Family</p>
                    </div>



                    <div class="col-sm-4 mb-3">
                        <iframe width="100%" height="200" src="/images/video/1.mp4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
                        <p class="para text-black-50 mt-3 font-weight-bold">Welcoming Fahad to Cochlear Implant Family</p>
                    </div>
                    <div class="col-sm-4 mb-3">
                        <iframe width="100%" height="200" src="/images/video/2.mp4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
                        <p class="para text-black-50 mt-3 font-weight-bold">Rudra Yadav's journey of Hearing</p>
                    </div>
                    <div class="col-sm-4 mb-3">
                        <iframe width="100%" height="200" src="https://www.youtube.com/embed/wksGInGdzxo" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
                        <p class="para text-black-50 mt-3 font-weight-bold">Post Cochlear Implant Speech Development (Cochlear N7)</p>
                    </div>
                    <div class="col-sm-4 mb-3">
                        <iframe width="100%" height="200" src="https://www.youtube.com/embed/Z-8vS2O8muk" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
                        <p class="para text-black-50 mt-3 font-weight-bold">Bilateral Vocal cord Papillomatosis with Valecular cyst (CO2 Laser Excision)</p>
                    </div>
                    <div class="col-sm-4 mb-3">
                        <iframe width="100%" height="200" src="https://www.youtube.com/embed/iKrYVkuTXIY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
                        <p class="para text-black-50 mt-3 font-weight-bold">Injection Botox for Abductor Spasmodic Dysphonia</p>
                    </div>
                    <div class="col-sm-4 mb-3">
                        <iframe width="100%" height="200" src="https://www.youtube.com/embed/71m6iOqLWNI" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
                        <p class="para text-black-50 mt-3 font-weight-bold">Balloon Sinuplasty Frontal sinus</p>
                    </div>
                    <div class="col-sm-4 mb-3">
                        <iframe width="100%" height="200" src="https://www.youtube.com/embed/ejtLFMx0Vz0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
                        <p class="para text-black-50 mt-3 font-weight-bold">Endoscopic Adenoidectomy using Coblator</p>
                    </div>
                    <div class="col-sm-4 mb-3">
                        <iframe width="100%" height="200" src="https://www.youtube.com/embed/Cq-RD3KQ56o" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
                        <p class="para text-black-50 mt-3 font-weight-bold">BLK-Max Voice Lab | Dr. Neha Sood on the latest technology</p>
                    </div>
                    <div class="col-sm-4 mb-3">
                        <iframe width="100%" height="200" src="https://www.youtube.com/embed/ue-zJwQbnnc" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
                        <p class="para text-black-50 mt-3 font-weight-bold">Dr. Neha Sood demonstrated videostroboscopy at BLK-Max Hospital</p>
                    </div>
                    <div class="col-sm-4 mb-3">
                        <iframe width="100%" height="200" src="https://www.youtube.com/embed/W38Evqx5ZxY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
                        <p class="para text-black-50 mt-3 font-weight-bold">Tips for Safe Holi by Dr. Neha Sood, ENT Specialist, BLK-Max Hospital</p>
                    </div>
                    <div class="col-sm-4 mb-3">
                        <iframe width="100%" height="200" src="https://www.youtube.com/embed/0hRWeNNYiLg" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
                        <p class="para text-black-50 mt-3 font-weight-bold">CSF operated by Dr. Neha Sood at BLK-Max Super Speciality Hospital</p>
                    </div>
                </div>
            </div>
        </div>

    </section>

</main>

{{end}}