{{ define "main" }}
<div class="banner_content flex-wrap bg_sea_blue justify-content-between flex-column-reverse_xs">
    <div class="col-lg-6 col-md-6 col-sm-6 d-flex justify-content-center">
        <div class="banner_text2 px-5 py-3">
            <h1 class="banner_heading1 text-white">Blog</h1>
            <h1 class="banner_heading4 text-white">
                "Sound Solutions: Dr. Neha Sood's Blog for Ear, Nose & Throat Wellness"
            </h1>
        </div>
    </div>
    <div class="col-lg-5 col-md-6 col-sm-6">
        <img src="/images/blog/mainimg.webp" class="img-fluid" alt="" />
    </div>
</div>
<!-- Hero End -->
<div class="container mt-5 mb-5 " style="margin-top: 40px;">
    <div class="row ">
        <div class="col-sm-9 ">
            <label class=""><b>OUR BLOG</b></label>
            <h2 style="margin-bottom: 30px; ">Latest News </h2>
        </div>
    </div>
    <div class="row" id="showresults">
        {{ range (.Paginator 1000).Pages.ByPublishDate.Reverse }}
        <div class="col-lg-4 col-md-6 col-12 phone-fast mt-4 filter {{range .Params.categories}}{{.}} {{end}}">
            <div>
                {{ .Render "li"}}
            </div>
        </div>
        {{ end }}
    </div>
    <div class="clearfix"></div>
</div>
<div class="clearfix"></div>

{{end}}