{{ define "main" }}
<main role="main">
    <section id="home">
        <img src="/images/speciality_service/banners/nosebleed.jpg" class="img-fluid" alt="">
    </section>

    <div class="container mt-4">
        <div class="w-100 py-md-2 px-2 px-sm-5">
            <h3 class="heading2 text-left text-uppercase mb-4">Nasal Bleeding (epistaxis)?</h3>
            <div class="scroll_spy" id="mainNav">
                <ul>
                    <li><a href="#Nasal-Bleeding">Nasal Bleeding</a></li>
                    <li><a href="#TypesNosebleeds">Types Nosebleeds</a></li>
                    <li><a href="#SymptomsCauses">Symptoms & Causes</a></li>
                    <li><a href="#DiagnosisTests">Diagnosis & Tests</a></li>
                    <li><a href="#ManagementTreatment">Management & Treatment</a></li>
                    <li><a href="#Prevention">Prevention</a></li>
                    <li><a href="#OutlookPrognosis">Outlook / Prognosis</a></li>
                    <li><a href="#Living">Living</a></li>
                    <li><a href="#AdditionalQuestions">Additional Common Questions</a></li>

                </ul>
            </div>

        </div>
    </div>
    <section class="py-3">
        <div class="container">
            <div class="row">
                <div class="col-md-12 w-100 py-md-2 px-2 px-sm-5">
                    <p class="para">“Epistaxis” is the medical term for a nosebleed. A nosebleed, meaning a loss of blood from the tissue that lines the inside of your nose, can occur in one or both nostrils. Usually, it only affects one nostril.
                    </p>
                    <p class="para">
                        Your nose has many tiny blood vessels in it. These vessels help warm and moisten the air you breathe. But they lie close to the inner surface of your nose. When air moves through your nose, it can dry and irritate your blood vessels. This makes them very
                        easy to injure or break, causing a nosebleed.</p>
                </div>

            </div>
        </div>
    </section>

    <section class="pt-0 pb-2" id="Nasal-Bleeding">
        <div class="container">
            <div class="w-100 py-md-2 px-2 px-sm-5">
                <h5 class="font-weight-bold text_primary inner_heading">How common is Nasal Bleeding?</h5>
                <p class="para mt-3">Epistaxis is common. About 60% of people will have at least one nosebleed in their lifetime. Only about 10% of cases are severe enough to require medical treatment.</p>


                <h3 class="font-weight-bold text_primary inner_heading">Who gets Nasal Bleeding?</h3>
                <p class="para font-weight-bold mt-3 mb-0"> Anyone can get nasal bleeding. Most people will have at least one case in their lifetime. However, some people are more likely to have a nosebleed. They include:</p>

                <ul class="custom_list s_list sm_list mt-2">
                    <li> <b>Children between the ages of two and 10:</b> Dry air, colds, allergies and sticking fingers and objects into their noses make children more prone to nosebleeds.</li>
                    <li> <b>Adults between the ages of 45 and 80:</b> Blood may take longer to clot in mid-life and in older adults. These adults are also more likely to have high blood pressure, atherosclerosis (hardening of the walls of arteries) or a bleeding
                        disorder.
                    </li>
                    <li> <b>Pregnant people:</b> Blood vessels in your nose expand while you’re pregnant, which puts more pressure on the delicate blood vessels in the lining of your nose.</li>
                    <li> <b>People taking blood-thinning medications: </b> These drugs include aspirin and warfarin.</li>
                    <li> <b>People who have blood clotting disorders:</b> These include hemophilia and von Willebrand disease.</li>
                </ul>
            </div>
        </div>
    </section>
    <section class="pt-0 pb-2" id="TypesNosebleeds">
        <div class="container">
            <div class="w-100 py-md-2 px-2 px-sm-5">
                <h3 class="font-weight-bold text_primary inner_heading">Types of nosebleeds</h3>
                <p class="para mt-3">There are two main types of nosebleeds.</p>

                <h5 class="font-weight-bold text_primary inner_heading">Anterior nosebleed</h5>
                <p class="para font-weight-bold mt-3 mb-0"> An anterior nosebleed starts in the front of your nose on the lower part of the wall that separates the two sides of your nose (septum). Capillaries and small blood vessels in this front area of your nose are fragile and can easily break
                    and bleed. This is the most common type of epistaxis and usually isn’t serious. These nosebleeds are more common in children. You can usually treat these nosebleeds at home.</p>

                <h5 class="font-weight-bold text_primary inner_heading">Posterior nosebleed</h5>

                <p class="para font-weight-bold mt-3 mb-0"> A posterior nosebleed occurs deep inside your nose. A bleed in larger blood vessels in the back part of your nose near your throat causes this type. It can result in heavy bleeding, which may flow down the back of your throat. You may
                    need medical attention right away for this type of nosebleed. This type is more common in adults.</p>
            </div>
        </div>
    </section>

    <section class="pt-0 pb-2" id="SymptomsCauses">
        <div class="container">
            <div class="w-100 py-md-2 px-2 px-sm-5">
                <h3 class="font-weight-bold text_primary inner_heading">Symptoms and Causes</h3>
                <p class="para mt-3">A nosebleed, or epistaxis, is the loss of blood from the tissue that lines the inside of your nose.</p>

                <h5 class="font-weight-bold text_primary inner_heading">What are the symptoms of a nosebleed?</h5>
                <p class="para font-weight-bold mt-3 mb-0"> Most often, you won’t have any symptoms other than blood coming from your nose. If you have a posterior nosebleed, some blood may drain down the back of your throat into your stomach. This can cause a bad taste in the back of your throat
                    and make you feel nauseated.</p>

                <p class="para font-weight-bold mt-3 mb-0"> If you have additional symptoms, it may be a sign of a medical condition.</p>

                <h5 class="font-weight-bold text_primary inner_heading">What causes a nosebleed in one nostril?</h5>

                <p class="para font-weight-bold mt-3 mb-0"> Most nosebleeds only affect one nostril, but they can affect both at the same time. Epistaxis has many causes. Fortunately, most aren’t serious.</p>
                <p class="para font-weight-bold mt-3 mb-0"> The most common cause of nosebleeds is dry air. Hot, low-humidity climates or heated indoor air cause dry air. Both environments cause your nasal membrane (the delicate tissue inside your nose) to dry out and become crusty or cracked.
                    This makes it more likely to bleed when rubbed or picked or when blowing your nose. You may also experience epistaxis after inserting an object in your nose or injuring your nose and/or face.</p>
                <p class="para font-weight-bold mt-3 mb-0"><b>Other nosebleed causes may include:</b></p>


                <ul class="custom_list s_list sm_list mt-2">
                    <li> <b>Infections: </b> Colds (upper respiratory infections) and sinusitis, especially episodes that cause repeated sneezing, coughing and nose blowing.</li>
                    <li> <b>Allergies:</b> Allergic and nonallergic rhinitis (inflammation of your nasal lining).</li>
                    <li> <b>Blood-thinning medications:</b> Drugs such as aspirin, nonsteroidal anti-inflammatory drugs (NSAIDs), warfarin and others.</li>
                    <li> <b>Recreational drugs:</b> Cocaine and other drugs you inhale through your nose.</li>
                    <li> <b>Chemical irritants:</b> Chemicals in cleaning supplies, chemical fumes at workplaces and other strong odors.</li>
                    <li> <b>High altitudes:</b> The air is thinner (lack of oxygen) and drier as the altitude increases.</li>
                    <li> <b>Deviated septum:</b> An abnormal shape of the wall that separates the two sides of your nose.</li>
                    <li> <b>Nasal sprays:</b> Frequent use of nasal sprays and medications to treat an itchy, stuffy or runny nose. These medications — antihistamines and decongestants — can dry out your nasal membranes.</li>
                </ul>




                <p class="para font-weight-bold mt-3 mb-0"><b>Other less common causes of nosebleeds include:</b></p>
                <ul class="custom_list s_list sm_list mt-2">
                    <li>Alcohol use.</li>
                    <li> Bleeding disorders, such as hemophilia or von Willebrand disease.</li>
                    <li>High blood pressure.</li>
                    <li> Atherosclerosis.</li>
                    <li> Facial and nasal surgery.</li>
                    <li> Nasal tumors.</li>
                    <li>Nasal polyps.</li>
                    <li>Immune thrombocytopenia.</li>
                    <li>Leukemia.</li>
                    <li>Hereditary hemorrhagic telangiectasia.</li>
                    <li>Pregnancy.</li>
                </ul>
            </div>
        </div>
    </section>


    <section class="pt-0 pb-2" id="DiagnosisTests">
        <div class="container">
            <div class="w-100 py-md-2 px-2 px-sm-5">
                <h2 class="font-weight-bold text_primary inner_heading">Diagnosis and Tests</h2>
                <h3 class="font-weight-bold text_primary inner_heading">What should I expect when I go to my provider about epistaxis?</h3>
                <p class="para font-weight-bold mt-3 mb-0"><b>A doctor will ask you questions about your nosebleed, including:</b></p>
                <ul class="custom_list s_list sm_list mt-2">
                    <li>Length (in minutes) of your nosebleed.</li>
                    <li>Approximate amount of blood that was lost.</li>
                    <li>How often you get them.</li>
                    <li>If the bleed involved one or both nostrils.</li>
                    <p><b>They’ll also ask about:</b></p>

                    <li>Medications you’re taking, including over-the-counter blood-thinning medications such as aspirin, and drugs for colds and allergies.</li>
                    <li>Your family history, including any history of blood disorders.</li>
                    <li>Your use of alcohol and/or any recreational drugs in which you sniffed the drug up your nose.</li>
                </ul>

                <p class="para font-weight-bold mt-3 mb-0">Next, your provider will examine your nose to determine the source of the bleeding and what may have caused it. They’ll use a small speculum to hold your nostril open and use various light sources or an endoscope (lighted scope) to see
                    inside your nasal passages.</p>
                <p class="para font-weight-bold mt-3 mb-0">Your provider may use topical medications to numb (anesthetize) the lining of your nose and to narrow blood vessels. Your provider may remove clots and crusts from inside your nose. This can be unpleasant but isn’t painful.</p>
                <p class="para font-weight-bold mt-3 mb-0">Occasionally, they may order X-rays, a CT scan or blood tests to check for bleeding disorders, blood vessel abnormalities or nasal tumors.</p>
            </div>
        </div>
    </section>


    <section class="pt-0 pb-2" id="ManagementTreatment">
        <div class="container">
            <div class="w-100 py-md-2 px-2 px-sm-5">
                <h2 class="font-weight-bold text_primary inner_heading">Management and Treatment</h2>
                <h3 class="font-weight-bold text_primary inner_heading">How to stop a nosebleed</h3>
                <p class="para font-weight-bold mt-3 mb-0"><b>Use the following steps to stop a nosebleed at home.</b></p>
                <ul class="custom_list s_list sm_list mt-2">
                    <li>Sit upright and lean your body and your head slightly forward. This will keep the blood from running down your throat, which can cause nausea, vomiting and diarrhoea. (Don’t lay flat or put your head between your legs.)</li>
                    <li>Breathe through your mouth.</li>
                    <li>Use a tissue or damp washcloth to catch the blood.</li>
                    <li>Use your thumb and index finger to pinch together the soft part of your nose. Make sure to pinch the soft part of the nose against the hard bony ridge that forms the bridge of your nose. Squeezing at or above the bony part of your
                        nose won’t put pressure where it can help stop the bleeding.</li>

                    <li>Keep pinching your nose continuously for at least five minutes before checking if the bleeding has stopped. If your nose is still bleeding, continue squeezing your nose for another 10 minutes.</li>
                    <li>If you’d like, apply an ice pack to the bridge of your nose to further help narrow blood vessels (which will slow the bleeding) and provide comfort. This isn’t a necessary step, but you can try it.</li>
                    <li>You can spray an over-the-counter decongestant spray into the bleeding side of your nose and then apply pressure to your nose. You shouldn’t use these topical decongestant sprays over a long period. Doing so can cause an increase in
                        the chance of a nosebleed.</li>
                    <li>After the bleeding stops, don’t bend over, strain and/or lift anything heavy. Don’t blow or rub your nose for several days.</li>
                </ul>
            </div>
        </div>
    </section>

    <section class="pt-0 pb-2">
        <div class="container">
            <div class="w-100 py-md-2 px-2 px-sm-5">
                <h3 class="font-weight-bold text_primary inner_heading">When should I see my doctor about nasal bleeding?</h3>
                <ul class="custom_list s_list sm_list mt-2">
                    <li>You get epistaxis often.</li>
                    <li>You have symptoms of anemia (feeling weak, faint, tired, cold or short of breath or having pale skin).</li>
                    <li>You have a child under age 2 who has had a nosebleed.</li>
                    <li>You’re taking blood-thinning medications (such as aspirin or warfarin) or have a blood-clotting disorder and the bleeding won’t stop.</li>
                    <li>You get a nosebleed that seems to have occurred with the start of a new medication.</li>
                    <li>You get epistaxis, as well as notice unusual bruising all over your body. This combination may indicate a more serious condition such as a blood-clotting disorder (hemophilia or von Willebrand disease), leukemia or a nasal tumor.</li>
                </ul>
            </div>
        </div>
    </section>

    <section class="pt-0 pb-2">
        <div class="container">
            <div class="w-100 py-md-2 px-2 px-sm-5">
                <h3 class="font-weight-bold text_primary inner_heading">What are the treatments for epistaxis?</h3>
                <p class="para font-weight-bold mt-3 mb-0"><b>Nosebleed treatment depends on the cause of the bleeding. Epistaxis treatment may include:</b></p>
                <ul class="custom_list s_list sm_list mt-2">
                    <li> <b>Nasal packing:</b> Your doctor will insert gauze, special nasal sponges or foam, or an inflatable latex balloon into your nose to create pressure at the site of the bleed. Your provider may want to leave the material in place for
                        24 to 48 hours before removing it.</li>
                    <li> <b>Cauterization:</b> This procedure involves applying a chemical substance (silver nitrate) or heat energy (electrocautery) to seal the bleeding blood vessel. Your provider will spray a local anesthetic in your nostril first to numb
                        the inside of your nose.</li>
                    <li> <b>Medication adjustments/new prescriptions: </b> Reducing or stopping the amount of blood-thinning medications can be helpful. In addition, medications for controlling blood pressure may be necessary. Your provider may prescribe Tranexamic (Lystedaâ®),
                        a medication to help blood clot.</li>
                    <li> <b>Foreign body removal:</b>  If the cause of the nosebleed is a foreign object, your provider will remove it.</li>
                    <li> <b>Surgery:</b> Surgical repair of a broken nose or correction of a deviated septum (septoplasty) if this is the cause of the nosebleed.</li>
                    <li> <b>Ligation:</b> In this procedure, your provider will tie off the culprit blood vessel to stop the bleeding.</li>
                </ul>
            </div>
        </div>
    </section>
    <section class="pt-0 pb-2" id="Prevention">
        <div class="container">
            <div class="w-100 py-md-2 px-2 px-sm-5">
                <h2 class="font-weight-bold text_primary inner_heading">Prevention</h2>
                <h3 class="font-weight-bold text_primary inner_heading">What can I do to prevent nosebleeds?</h3>
                <ul class="custom_list s_list sm_list mt-2">
                    <li>Use a saline nasal spray or saline nose drops two to three times a day in each nostril to keep your nasal passages moist. You can purchase these products over-the-counter or you can make them at home. To make the saline solution at
                        home, mix 1 teaspoon of salt into 1 quart of tap water. Boil water for 20 minutes, and let cool until lukewarm.</li>
                    <li>Add a humidifier to your furnace or run a humidifier in your bedroom at night to add moisture to the air.</li>
                    <li>Spread water-soluble nasal gels or ointments in your nostrils with a cotton swab. Bacitracin®, Vaseline® or Ayr Gel® are examples of over-the-counter ointments you can use. Be sure not to insert the swab more than 1/4 inch into your
                        nose. You can purchase these gels and ointments in most pharmacies.</li>
                    <li>Avoid blowing your nose too forcefully.</li>
                    <li>Sneeze through an open mouth. Always sneeze into a tissue or your elbow.</li>
                    <li>Avoid putting anything solid into your nose, including your fingers.</li>
                    <li>Limit your use of medications that can increase bleeding, such as aspirin and ibuprofen. Remember that any medication adjustment, especially prescribed medication such as warfarin (Coumadin®) and nonsteroidal anti-inflammatory drugs
                        (NSAIDs), should only be done under your doctor’s supervision.</li>
                    <li>See your provider if you can’t easily control your nasal allergy symptoms with over-the-counter or prescription medications. Make sure you closely follow the directions when using over-the-counter products. Overusing them can cause
                        nosebleeds.
                    </li>
                    <li>Quit smoking. Smoking dries out your nose and irritates it.</li>
                    <li>Wear protective headgear if involved in activities that could result in an injury to your face and nose.</li>
                    <li>Keep your child’s fingernails short.</li>

                </ul>
                <p class="para font-weight-bold mt-3 mb-0">If you have any questions or concerns, don’t hesitate to call your doctor.</p>
            </div>
        </div>
    </section>
    <section class="pt-0 pb-2" id="OutlookPrognosis">
        <div class="container">
            <div class="w-100 py-md-2 px-2 px-sm-5">
                <h2 class="font-weight-bold text_primary inner_heading">Outlook / Prognosis</h2>
                <h3 class="font-weight-bold text_primary inner_heading">When to worry about a nosebleed</h3>
                <p class="para font-weight-bold mt-3 mb-0">Although seeing blood coming out of your nose can be alarming, most nosebleeds aren’t serious. You can usually manage them at home. However, you should have some cases of epistaxis checked by a doctor. For instance, if you have frequent
                    nosebleeds, see a provider. This could be an early sign of another medical issue that they’ll want to look into.</p>
                <p class="para font-weight-bold mt-3 mb-0">Some nosebleeds can start in the back of your nose. These cases of epistaxis usually involve large blood vessels resulting in heavy bleeding and can be dangerous. You’ll need medical attention for this type of bleed, especially if the
                    bleeding occurs after an injury and the bleeding hasn’t stopped after 20 minutes of applying direct pressure to your nose.</p>
                <h3 class="font-weight-bold text_primary inner_heading">Can you die from a nosebleed?</h3>
                <p class="para font-weight-bold mt-3 mb-0">Nosebleeds that occur higher on your septum or deeper in your nose may be harder to control. However, nosebleeds are rarely fatal. They account for 4 out of every 2.4 million deaths in the United States.</p>
            </div>
        </div>
    </section>

    <section class="pt-0 pb-2" id="Living">
        <div class="container">
            <div class="w-100 py-md-2 px-2 px-sm-5">
                <h2 class="font-weight-bold text_primary inner_heading">Living With</h2>
                <h3 class="font-weight-bold text_primary inner_heading">Why do I get frequent nosebleeds in one nostril?</h3>
                <p class="para font-weight-bold mt-3 mb-0"><b>There are many non-serious reasons you may be getting frequent nosebleeds. They can affect one or both nostrils. The most common causes are:</b></p>
                <ul class="custom_list s_list sm_list mt-2">
                    <li>Frequent use of nasal sprays for the treatment of allergy symptoms or colds/congestion. You may need to stop using these drugs for a short period or may need to stop them altogether. Talk with your provider if you use these products.</li>
                    <li>Living in dry air conditions.</li>
                    <li>Snorting drugs into your nose.</li>
                    <li>In rare cases, repeated epistaxis could be a sign of a bleeding disorder or other more serious conditions. If you have frequent nosebleeds, see a doctor.</li>
                </ul>
            </div>
        </div>
    </section>

    <section class="pt-0 pb-2">
        <div class="container">
            <div class="w-100 py-md-2 px-2 px-sm-5">

                <h3 class="font-weight-bold text_primary inner_heading">What causes nosebleeds while sleeping?</h3>
                <p class="para font-weight-bold mt-3 mb-0">The reasons for nosebleeds during sleep are the same as the reasons why they occur during the daytime — dried nasal membranes caused by dry air, allergies and upper respiratory infections that damage the delicate nasal membrane lining
                    your nose. Sleeping with your head to the side may also put direct pressure on your nasal cavity and may be another reason for epistaxis at night.</p>
            </div>
        </div>
    </section>

    <section class="pt-0 pb-2">
        <div class="container">
            <div class="w-100 py-md-2 px-2 px-sm-5">
                <h3 class="font-weight-bold text_primary inner_heading">Can I drink water after a nosebleed?</h3>
                <p class="para font-weight-bold mt-3 mb-0">Yes, you should drink plenty of fluids after a nosebleed. Good options include water, juice and other non-caffeinated liquids. After you experience epistaxis, some blood may drain down the back of your throat into your stomach. This may
                    give you a bad taste in the back of your throat or make you feel nauseated. But drinking water won’t affect a nosebleed.</p>
            </div>
        </div>
    </section>

    <section class="pt-0 pb-2">
        <div class="container">
            <div class="w-100 py-md-2 px-2 px-sm-5">
                <h3 class="font-weight-bold text_primary inner_heading">When should I go to the emergency room if I have a nosebleed?</h3>
                <p class="para font-weight-bold mt-3 mb-0"><b>Call your doctor immediately, have someone drive you to the nearest emergency room or call 911 if:</b></p>
                <ul class="custom_list s_list sm_list mt-2">
                    <li>You can’t stop the bleeding after more than 15 to 20 minutes of applying direct pressure on your nose as described in the steps above.</li>
                    <li>The bleeding is rapid or the blood loss is large (more than 1 cup).</li>
                    <li>You’re having difficulty breathing.</li>
                    <li>You’ve vomited because you’ve swallowed a large amount of blood.</li>
                    <li>Your nosebleed has followed a blow to your head or a serious injury (fall, car accident or a smash to your face or nose).</li>
                </ul>
            </div>
        </div>
    </section>

    <section class="pt-0 pb-2" id="AdditionalQuestions">
        <div class="container">
            <div class="w-100 py-md-2 px-2 px-sm-5">
                <h2 class="font-weight-bold text_primary inner_heading">Additional Common Questions</h2>
                <h3 class="font-weight-bold text_primary inner_heading">Is it normal to have blood clots in a nosebleed?</h3>
                <p class="para font-weight-bold mt-3 mb-0">Yes. Blood clots are clumps of blood that form in reaction to an injured blood vessel. Blood clotting prevents excessive bleeding when a blood vessel is damaged. When you pinch your nose to stop a nosebleed, the blood will begin to clot.
                    It’ll normally remain there until you remove it or gently blow your nose.</p>
            </div>
        </div>
    </section>
    <section class="pt-0 pb-2">
        <div class="container">
            <div class="w-100 py-md-2 px-2 px-sm-5">
                <h3 class="font-weight-bold text_primary inner_heading">Why do I have a headache and a nosebleed?</h3>
                <p class="para font-weight-bold mt-3 mb-0">Many factors can lead to headaches and nosebleeds. A common cause of both symptoms is a deviated septum (a shifted wall in your nose). One study found that epistaxis may be a precursor to migraines. Other common causes of headaches and
                    nosebleeds may include:</p>
                <ul class="custom_list s_list sm_list mt-2">
                    <li>Allergies</li>
                    <li>Weather changes.</li>
                    <li>Severe injuries.</li>
                    <li>Other medical conditions.</li>
                </ul>
            </div>
        </div>
    </section>

    <section id="EnquiryForm" class="pb-4">
        <div class="container">
            <div class="w-100 py-md-2 px-2 px-sm-5">
                <h3 class="heading2 text-center mb-5 text-uppercase">Enquiry Form</h3>

                <div class="enq_form">
                    <form id="contact"></form>
                </div>
            </div>
        </div>
    </section>
</main>
{{end}}