{{ define "main" }}

<main role="main">
    <section id="home">
        <img src="/images/speciality_service/banners/eardischarge.jpg" class="img-fluid" alt="">
    </section>

    <div class="container mt-4">
        <div class="w-100 py-md-2 px-2 px-sm-5">
            <h3 class="heading2 text-left text-uppercase mb-4">Ear Discharge</h3>
            <div class="scroll_spy" id="mainNav">
                <ul>

                    <li><a href="#causes">Symptoms & Causes</a></li>
                    <!--<li><a href="#doctors">Doctors & departments</a></li>-->
                    <li><a href="#daignosis">Diagnosis & treatment</a></li>
                </ul>
            </div>

        </div>
    </div>
    <section class="py-3">
        <div class="container">
            <div class="w-100 py-md-2 px-2 px-sm-5">

                <h3 class="page_heading mb-3">Overview</h3>

                <p class="para">An ear infection (sometimes called acute otitis media) is an infection of the middle ear, the air-filled space behind the eardrum that contains the tiny vibrating bones of the ear. Children are more likely than adults to get ear infections.</p>
                <p class="para ">Because ear infections often clear up on their own, treatment may begin with managing pain and monitoring the problem. Sometimes, antibiotics are used to clear the infection. Some people are prone to having multiple ear infections. This
                    can cause hearing problems and other serious complications.</p>

            </div>
        </div>
    </section>
    <section class="pt-0 pb-2" id="causes">
        <div class="container">
            <div class="w-100 py-md-2 px-2 px-sm-5">
                <h5 class="font-weight-bold text_primary inner_heading">Symptoms </h5>

                <div class="row">
                    <div class="col-sm-7">
                        <p class="para mt-3">The onset of signs and symptoms of ear infection is usually rapid. </p>


                        <p class="para mt-4 font-weight-bold">Children</p>
                        <p class="para mt-3">Signs and symptoms common in children include:</p>


                        <ul class="custom_list s_list sm_list mt-2">
                            <li>Ear pain, especially when lying down</li>
                            <li>Tugging or pulling at an ear</li>
                            <li>Trouble sleeping</li>
                            <li>Crying more than usual</li>
                            <li>Fussiness</li>
                            <li>Trouble hearing or responding to sounds</li>
                            <li>Loss of balance</li>
                            <li>Fever of 100 F (38 C) or higher</li>
                            <li>Drainage of fluid from the ear</li>
                            <li>Headache</li>
                            <li>Loss of appetite</li>
                        </ul>


                        <p class="para mt-4 font-weight-bold">Adults</p>
                        <p class="para mt-3">Common signs and symptoms in adults include:</p>


                        <ul class="custom_list s_list sm_list mt-2">
                            <li>Ear pain</li>
                            <li>Drainage of fluid from the ear</li>
                            <li>Trouble hearing</li>
                        </ul>


                        <h5 class="font-weight-bold text_primary inner_heading mt-4">Causes </h5>
                        <p class="para  mt-3">An ear infection is caused by a bacterium or virus in the middle ear. This infection often results from another illness — cold, flu or allergy — that causes congestion and swelling of the nasal passages, throat and eustachian tubes.
                        </p>
                        <p class="para font-weight-bold  mt-3">Role of eustachian tubes</p>
                        <p class="para mt-3">The eustachian tubes are a pair of narrow tubes that run from each middle ear to high in the back of the throat, behind the nasal passages. The throat end of the tubes open and close to:</p>


                        <ul class="custom_list s_list sm_list mt-2">
                            <li>Regulate air pressure in the middle ear</li>
                            <li>Refresh air in the ear</li>
                            <li>Drain normal secretions from the middle ear</li>
                        </ul>


                        <p class="para mt-3">Swollen eustachian tubes can become blocked, causing fluids to build up in the middle ear. This fluid can become infected and cause the symptoms of an ear infection.</p>


                        <p class="para mt-3">In children, the eustachian tubes are narrower and more horizontal, which makes them more difficult to drain and more likely to get clogged.</p>

                        <p class="para font-weight-bold  mt-3">Role of adenoids</p>
                        <p class="para mt-3">Adenoids are two small pads of tissues high in the back of the nose believed to play a role in immune system activity.</p>

                        <p class="para mt-3">Because adenoids are near the opening of the eustachian tubes, swelling of the adenoids may block the tubes. This can lead to middle ear infection. Swelling and irritation of adenoids is more likely to play a role in ear infections
                            in children because children have relatively larger adenoids compared to adults.</p>


                        <p class="para font-weight-bold  mt-3">Related conditions</p>
                        <p class="para mt-3">Conditions of the middle ear that may be related to an ear infection or result in similar middle ear problems include:</p>


                        <ul class="custom_list s_list sm_list mt-2">
                            <li>Otitis media with effusion, or swelling and fluid buildup (effusion) in the middle ear without bacterial or viral infection. This may occur because the fluid buildup persists after an ear infection has gotten better. It may
                                also occur because of some dysfunction or noninfectious blockage of the eustachian tubes.</li>
                            <li>Chronic otitis media with effusion, occurs when fluid remains in the middle ear and continues to return without bacterial or viral infection. This makes children susceptible to new ear infections and may affect hearing.</li>
                            <li>Chronic suppurative otitis media, an ear infection that doesn't go away with the usual treatments. This can lead to a hole in the eardrum.</li>
                        </ul>
                    </div>
                    <div class="col-sm-5">
                        <img src="/images/ear_discharge_side.png" class="img-fluid" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>




    <!-- <section class="pt-0 pb-2" id="riskfactors">
            <div class="container">
                <div class="w-100 py-md-2 px-2 px-sm-5">
                    <h5 class="font-weight-bold text_primary inner_heading">Risk Factors </h5>
                    <p class="para mt-3">Risk factors for ear infections include:</p>

                    <ul class="custom_list s_list sm_list mt-2">
                        <li><strong>Aging.</strong> Degeneration of inner ear structures occurs over time.</li>
                        <li><strong>Group child care.</strong> Children cared for in group settings are more likely to get colds and ear infections than are children who stay home. The children in group settings are exposed to more infections, such as the
                            common cold.</li>
                        <li><strong>Infant feeding.</strong> Babies who drink from a bottle, especially while lying down, tend to have more ear infections than do babies who are breast-fed.</li>
                        <li><strong>Seasonal factors.</strong> Ear infections are most common during the fall and winter. People with seasonal allergies may have a greater risk of ear infections when pollen counts are high.</li>
                        <li><strong>Poor air quality.</strong> Exposure to tobacco smoke or high levels of air pollution can increase the risk of ear infections.</li>
                        <li><strong>Alaska Native heritage.</strong> Ear infections are more common among Alaska Natives.</li>
                        <li><strong>Cleft palate.</strong> Differences in the bone structure and muscles in children who have cleft palates may make it more difficult for the eustachian tube to drain.</li>
                    </ul>

                </div>
            </div>
        </section> -->

    <section class="py-3" id="daignosis">
        <div class="container">
            <div class="w-100 py-md-2 px-2 px-sm-5">

                <h3 class="page_heading mb-3">Diagnosis & treatment </h3>
                <ul class="custom_list s_list sm_list mt-2">
                    <li>Treatment of your ear discharge depends on its cause. In some cases, your condition won’t need medical treatment.</li>
                    <li>For example, the American Academy of Pediatrics describes a 48-hour “wait-and-see” approach, accompanied by close follow-up, as one option for treating mild ear pain in children.</li>
                    <li>Signs of an ear infection usually start to clear up within the first week or two, without any treatment. Pain medications might be needed to deal with any pain or discomfort.</li>
                    <li>If your child is under six months old or has a fever over 102.2°F, your doctor might prescribe antibiotic ear drops.</li>
                    <li>Most cases of ear trauma also heal without treatment. If you have a tear in your eardrum that doesn’t heal naturally, your doctor might apply a special paper patch to the tear. This patch keeps the hole closed while your eardrum heals.
                    </li>
                    <li>If a patch doesn’t work, your doctor might surgically repair your ear using a patch of your own skin.</li>
                    <li>A doctor should treat swimmer’s ear to prevent the infection from spreading. Typically, your doctor will give you antibiotic ear drops to use for about a week. In severe cases, oral antibiotics will also be necessary.</li>
                </ul>
            </div>
        </div>
    </section>
    <section id="EnquiryForm" class="pb-4">
        <div class="container">
            <div class="w-100 py-md-2 px-2 px-sm-5">
                <h3 class="heading2 text-center mb-5 text-uppercase">Enquiry Form</h3>

                <div class="enq_form">
                    <form action="">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input type="text" class="enq_control form-control" placeholder="First Name">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input type="text" class="enq_control form-control" placeholder="Last Name">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input type="email" class="enq_control form-control" placeholder="Email">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input type="tel" class="enq_control form-control" placeholder="Mobile Number">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <textarea name="" id="" class="enq_control form-control" placeholder="Message"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group text-center">
                                    <button type="submit" class="enq_submit">Submit</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</main>
{{end}}