{{ define "main" }}
<main role="main">
    <section id="home">
        <img src="/images/speciality_service/banners/vertigo.jpg" class="img-fluid" alt="" />
    </section>

    <div class="container mt-4">
        <div class="w-100 py-md-2 px-2 px-sm-5">
            <h3 class="heading2 text-left text-uppercase mb-4">Vertigo</h3>
            <div class="scroll_spy" id="mainNav">
                <ul>
                    <li><a href="#causes">Symptoms & Causes</a></li>
                    <!--<li><a href="#doctors">Doctors & departments</a></li>-->
                    <li><a href="#daignosis">Diagnosis & treatment</a></li>
                </ul>
            </div>
        </div>
    </div>
    <section class="py-3">
        <div class="container">
            <div class="w-100 py-md-2 px-2 px-sm-5">
                <h3 class="page_heading mb-3">Overview</h3>

                <p class="para">
                    According to WHO, 360 million people (approximately 5% of the world’s population) live with disabling hearing loss and nearly 32 million of them are children. It is estimated that over 60% of such hearing loss could be avoided through preventive measures.
                </p>
                <p class="para">
                    Our sensory organs mediate the interaction between a person and his or her surrounding environment. The sense of hearing being one of the key senses which helps us build language, speech and facilitates social interaction. Normal Hearing is mandatory
                    for the development of spoken language and cognitive development of children.
                </p>
                <p class="para">
                    Hearing loss in children affects their language development along with their social skills, academic achievements and also has a huge impact on employment opportunities later in life.
                </p>

                <p class="para">
                    Communication difficulties can have lasting emotional and psychological consequences that can lead to feelings of isolation, loneliness and depression. The adverse effect of hearing loss is not limited to the child but causes immense stress in the families.
                    The families are burdened with increased need for support to the child as well as more financial expenses.
                </p>
                <p class="para">
                    Without suitable interventions, hearing loss is a barrier to both education and social integration and normal development.In addition, children who have hearing loss can benefit greatly from early identification and appropriate interventions to treat
                    the hearing loss.
                </p>
            </div>
        </div>
    </section>
    <section class="pt-0 pb-2" id="causes">
        <div class="container">
            <div class="w-100 py-md-2 px-2 px-sm-5">
                <h5 class="font-weight-bold text_primary inner_heading">
                    HEARING LOSS IS A NEURODEVELPMENTAL EMERGENCY IN CHILDREN
                </h5>

                <div class="row">
                    <div class="col-sm-7">
                        <p class="para mt-3">
                            Early identification plays a key role in the successful management of hearing loss in children. Early and timely interventions help to minimize developmental delays and promote communication, education and social development. The Joint Committee on Infant
                            Hearing recommends that all children with hearing loss should receive intervention by six months of age at the latest
                        </p>
                        <p class="para mt-3">
                            All children undergo screening at birth with a test called OAE (otoacoustic emissions). As soon as parents suspect hearing loss or a speech delay, a consultation should be done with your doctor. Audiological assessment includes a BERA test which can confirm
                            a hearing loss. The sooner a child is identified as having hearing loss and the earlier he or she receives support, the greater the possibility of the child learning spoken language.
                        </p>
                        <h5 class="font-weight-bold text_primary inner_heading">
                            What is the ideal time to start treatment?
                        </h5>
                        <ul class="custom_list s_list sm_list mt-2">
                            <li>The ideal time to start intervention is NOW!</li>
                            <li>Start the appropriate treatment as early as possible.</li>
                        </ul>

                        <h5 class="font-weight-bold text_primary inner_heading mt-4">
                            How can hearing loss be treated ?
                        </h5>

                        <p class="para mt-3">Treatment depends on multiple factors</p>

                        <ul class="custom_list s_list sm_list mt-2">
                            <li>Age</li>
                            <li>Cause of hearing loss ( conductive or sensorineural)</li>
                            <li>
                                Degree of hearing loss ( mild, moderate, severe, Profound)
                            </li>
                            <li>Unilateral or bilateral</li>
                            <li>General condition of the child</li>
                        </ul>

                        <p class="para mt-3 font-weight-bold">
                            CONDUCTIVE HEARING LOSS
                        </p>
                        <p class="para mt-3">
                            <strong>wax, ear infections like glue ear, or congenital
                    malformations of the ear ( Microtia or atresia) removal of
                    wax, giving medication for glue ear or the use of
                    ventilation tubes treats hearing loss
                  </strong>
                        </p>
                    </div>
                    <div class="col-sm-5">
                        <img src="/images/old-hearing.jpg" class="img-fluid" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="pt-0 pb-2" id="riskfactors">
        <div class="container">
            <div class="w-100 py-md-2 px-2 px-sm-5">
                <h5 class="font-weight-bold text_primary inner_heading">
                    SENSORINEURAL HEARING LOSS
                </h5>
                <p class="para mt-3">
                    Mild to moderate hearing loss can be treated with hearing aids
                    <br /> In cases of severe to profound hearing loss Cochlear Implantation is the most effective treatment giving the children normal hearing and subequrent normal speech development Children who received a cochlear implant earlier had
                    better language outcomes.
                </p>
            </div>
        </div>
    </section>

    <section id="EnquiryForm" class="pb-4">
        <div class="container">
            <div class="w-100 py-md-2 px-2 px-sm-5">
                <h3 class="heading2 text-center mb-5 text-uppercase">
                    Enquiry Form
                </h3>

                <div class="enq_form">
                    <form action="">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input type="text" class="enq_control form-control" placeholder="First Name" />
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input type="text" class="enq_control form-control" placeholder="Last Name" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input type="email" class="enq_control form-control" placeholder="Email" />
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input type="tel" class="enq_control form-control" placeholder="Mobile Number" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <textarea name="" id="" class="enq_control form-control" placeholder="Message"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group text-center">
                                    <button type="submit" class="enq_submit">Submit</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</main>
{{end}}