<footer class="footer">
    <div class="footer_top">
        <div class="container">
            <div class="w-100 d-md-flex align-items-start justify-content-between">
                <div class="col-md-4 py-md-4 py-2">
                    <h3 class="add_head">ArBor Multi speciality Clinic </h3>
                    <a href="https://maps.app.goo.gl/coiDtDNGBozQ5kYm6" target="_blank">
                        <p style="color: #fff;">R-3/133, M3M Urbana, Sector 67, Gurugram 122002<br> Mon- Sat: 5:00 to 7:00 pm
                        </p>
                    </a>
                </div>
                <div class="col-md-4 py-md-4 py-2">
                    <h3 class="add_head">Nath Eye Clinic</h3>
                    <a href="https://www.google.com/maps/dir/28.436958,77.0679584/NATH+EYE+INSTITUTE+%26LASER+CENTRE,+near+Metro+Railway+Station,+Block+10,+East+Patel+Nagar,+Patel+Nagar,+New+Delhi,+Delhi/@28.5966423,77.0854375,12z/data=!4m9!4m8!1m1!4e1!1m5!1m1!1s0x390d02eb467fc4e5:0x87f98a62b510a920!2m2!1d77.1706275!2d28.6464818"
                        target="_blank">
                        <p style="color: #fff;">East Patel Nagar, <br> New Delhi<br> Tuesday, Thursday & Saturday : 8.00 to 10:00 am
                        </p>
                    </a>
                </div>
                <div class="col-md-4 py-md-4 py-2">
                    <h3 class="add_head">BLK-Max Super Specialty Hospital</h3>
                    <a href="https://www.google.com/maps/dir/28.436958,77.0679584/BLK-Max+Super+Speciality+Hospital,+Pusa+Road,+Radha+Soami+Satsang,+Rajendra+Place,+New+Delhi,+Delhi/@28.5410788,77.0682713,12z/data=!3m1!4b1!4m9!4m8!1m1!4e1!1m5!1m1!1s0x390d029633b6af21:0x9a67323b63bcc188!2m2!1d77.1796932!2d28.6433105"
                        target="_blank">
                        <p style="color: #fff;">Pusa Road, <br> New Delhi - 110005<br> Mon-Sat: 10:00 to 4:00 pm
                        </p>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="w-100 d-md-flex align-items-start justify-content-between">
            <div class="col-md-4 py-md-4 py-3">
                <h3 class="link_head">Home</h3>
                <ul class="footer_links">
                    <li><a href="/conditions_treated">Conditions Treated</a></li>
                    <li><a href="/photo_gallery">Photo Gallery</a></li>
                    <li><a href="/video_gallery">Video Gallery</a></li>
                    <li><a href="/print_media">Print Media</a></li>
                    <li><a href="/contact_us">Contact Us</a></li>
                </ul>
                <h3 class="link_head mt-3">Contact us details</h3>
                <ul class="footer_links">
                    <li>Phone Number: <a href="tel:9205407127">9205407127</a></li>
                    <li>Email Address: <a href="https://mail.google.com/mail/u/0/?fs=1&tf=cm&source=mailto&to=drnehasoodent@gmail.com
    " target="_">drnehasoodent@gmail.com</a></li>
                </ul>
            </div>
            <div class="col-md-4 py-md-4 py-3">
                <h3 class="link_head">Speciality Services</h3>
                <ul class="footer_links">
                    <li><a href="/voice_disorder">Voice Disorder</a></li>
                    <li><a href="/sinusitis">Sinusitis</a></li>
                    <li><a href="/nose_bleed">Nasal Bleeding</a></li>
                    <li><a href="/deafness">Deafness</a></li>
                    <li><a href="/ear_discharge">Ear Discharge</a></li>
                    <li><a href="/nasal_polyposis">Nasal Polyposis</a></li>
                    <li><a href="/sleeping_apnea">Sleep Apnea and Snoring</a></li>
                    <li><a href="/tinnitus">Tinnitus</a></li>
                    <li><a href="/tonsils">Tonsils</a></li>
                    <li><a href="/vertigo">Vertigo</a></li>
                    <li><a href="/Swollen">Swollen lymph nodes </a></li>
                    <li><a href="/sleepapnea">Sleep apnea</a></li>
                </ul>
            </div>
            <div class="col-sm-4 py-md-4 py-3">
                <h3 class="link_head">Conditions Treated</h3>
                <ul class="footer_links">
                    <li><a href="#">Voice Disorders</a></li>
                    <li><a href="#">Voice Problems in Singers</a></li>
                    <li><a href="#">Speech Disturbances (Stammering/ Stuttering/ Delayed Speech)</a></li>
                    <li><a href="#">Nasal Allergy/ Allergic Rhinitis</a></li>
                    <li><a href="#">Crooked/Deviated Nose</a></li>
                    <li><a href="#">Sinusitis</a></li>
                    <li><a href="#">Sinonasal Polyposis/ Fungal Sinusitis</a></li>
                    <li><a href="#">Facial/ Nasal Trauma</a></li>

                    <li><a href="/cochlear-implant">Cochlear Implant</a> </li>
                    <li><a href="/bone-anchored-hearing-aids"> Bone Anchored Hearing Aids</a></li>
                    <li><a href="conditions_treated">more..</a></li>

                </ul>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="copyright_block">
        <div class="container-fluid">
            <div class="w-100 py-md-2 px-2 px-sm-5">
                <div class="d-flex align-items-center justify-content-between">
                    <p class="copyright_text">© 2021 Voicelasercenter.in. All rights reserved.</p>
                    <div>
                        <ul class="social_links">
                            <li>
                                <a href="https://www.youtube.com/channel/UCAh6S5zjb6HRcltZJyAJGBg" target="_blanck"><img src="/images/yt.png" alt=""></a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/in/dr-neha-sood-436b9b10/" target="_blanck"><img src="/images/Linkedin.png" alt=""></a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/drneha.sood/" target="_blanck"><img src="/images/insta.png" alt=""></a>
                            </li>
                            <li>
                                <a href="https://www.facebook.com/Hearingandvoice" target="_blanck"><img src="/images/fb.png" alt=""></a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
</footer>

{{- partial "script.html" . -}}


</body>

</html>