<nav class="navbar main_nav navbar-expand-lg navbar-dark px-sm-3 px-xs-2 py-2 py-md-3">
    <div>
        <button class="navbar-toggler nav_toggle" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <img src="/images/side_menu.png" class="img-fluid" alt="">
    </button>
        <a class="navbar-brand logo" href="/"><img src="/images/logo.png" class="img-fluid" alt="Voice and Laser Center Logo" /></a>
    </div>
    <div class="top_btns visible-xs">
        <ul>
            <li>
                <a href="https://docon.co.in/doctor/nehasood?edge=true" target="_blank">Online Consultation</a>
            </li>
            <li>
                <a href="https://docon.co.in/doctor/nehasood?edge=true " target="_blank">For Appointment</a>
            </li>
        </ul>
    </div>
    <div class="collapse navbar-collapse justify-content-end" id="navbarsExampleDefault">
        <div class="hidden-xs">
            <ul class="navbar-nav top_nav">
                <li class="nav-item"> <a class="nav-link" href="/">Home</a> </li>
                <li class="nav-item"> <a class="nav-link" href="/about_us">Know Your Doctor</a> </li>
                <li class="nav-item"> <a class="nav-link" href="/conditions_treated">Conditons Treated </a> </li>
                <li class="nav-item"> <a class="nav-link" href="/balloon-sinuplasty">Blballoon Sinuplastyog </a> </li>
                <li class="nav-item hasSub">
                    <a class="nav-link">Speciality Services </a>
                    <div class="subMenu_div">
                        <ul class="subMenu">
                            <li><a href="/voice_disorder">Voice Disorder</a></li>
                            <li><a href="/sinusitis">Sinusitis</a></li>
                            <li><a href="/nose_bleed ">Nasal Bleeding</a></li>
                            <li><a href="/deafness ">Deafness</a></li>
                            <li><a href="/ear_discharge ">Ear Discharge</a></li>
                            <li><a href="/nasal_polyposis ">Nasal Polyposis</a></li>
                            <li><a href="/sleeping_apnea ">Sleep Apnea and Snoring</a></li>
                            <li><a href="/tinnitus ">Tinnitus</a></li>
                            <li><a href="/tonsils ">Tonsils</a></li>
                            <li><a href="/vertigo ">Vertigo</a></li>
                            <li><a href="/swollen ">Swollen lymph nodes </a></li>
                            <li><a href="/sleepapnea ">Sleep apnea</a></li>
                            <li><a href="/cochlear-implant ">Cochlear Implant</a></li>
                            <li><a href="/bone-anchored-hearing-aids ">BAHA</a></li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item hasSub">
                    <a class="nav-link">Media & Gallery</a>
                    <div class="subMenu_div">
                        <ul class="subMenu">
                            <li><a href="/photo_gallery ">Photo Gallery</a></li>
                            <li><a href="/video_gallery ">Video Gallery</a></li>
                            <li><a href="/print_media ">Print Media</a></li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item hasSub">
                    <a class="nav-link">FAQs</a>
                    <div class="subMenu_div subMenu_div_right">
                        <ul class="subMenu">
                            <li><a href="/deafness ">Deafness</a></li>
                            <li><a href="/nose_bleed ">Nose Bleeds</a></li>
                        </ul>
                    </div>
                </li>

                <li class="nav-item"> <a class="nav-link" href="/blog">Blog </a> </li>
            </ul>
        </div>
        <div class="drawermenu visible-xs">
            <ul class="navbar-nav top_nav">
                <li class="nav-item"> <a class="nav-link" href="/">Home</a> </li>
                <li class="nav-item"> <a class="nav-link" href="/about_us ">About us</a> </li>
                <li class="nav-item"> <a class="nav-link" href="/balloon-sinuplasty ">Blballoon Sinuplastyog </a> </li>
                <li class="nav-item hasSub">
                    <a class="nav-link">Speciality Services </a>
                    <ul class="subMenu">
                        <li><a href="/voice_disorder ">Voice Disorder</a></li>
                        <li><a href="/sinusitis ">Sinusitis</a></li>
                        <li><a href="/nose_bleed ">Nasal Bleeding</a></li>
                        <li><a href="/deafness ">Deafness</a></li>
                        <li><a href="/ear_discharge ">Ear Discharge</a></li>
                        <li><a href="/nasal_polyposis ">Nasal Polyposis</a></li>
                        <li><a href="/sleeping_apnea ">Sleep Apnea and Snoring</a></li>
                        <li><a href="/tinnitus ">Tinnitus</a></li>
                        <li><a href="/tonsils ">Tonsils</a></li>
                        <li><a href="/vertigo ">Vertigo</a></li>
                        <li><a href="/Swollen ">Swollen lymph nodes </a></li>
                        <li><a href="/sleepapnea ">Sleep apnea</a></li>
                        <li><a href="/cochlear-implant ">Cochlear Implant</a></li>
                        <li><a href="/bone-anchored-hearing-aids ">BAHA</a></li>
                    </ul>
                </li>
                <li class="nav-item"> <a class="nav-link" href="/conditions_treated ">Conditons Treated </a> </li>
                <li class="nav-item hasSub">
                    <a class="nav-link">Media & Gallery</a>
                    <ul class="subMenu">
                        <li><a href="/photo_gallery ">Photo Gallery</a></li>
                        <li><a href="/video_gallery ">Video Gallery</a></li>
                        <li><a href="/print_media ">Print Media</a></li>
                    </ul>
                </li>
                <li class="nav-item hasSub">
                    <a class="nav-link">FAQs</a>
                    <ul class="subMenu">
                        <li><a href="/deafness ">Deafness</a></li>
                        <li><a href="/nose_bleed ">Nose Bleeds</a></li>
                    </ul>
                </li>
                <li class="nav-item"> <a class="nav-link" href="/blog ">Blog </a> </li>
            </ul>
        </div>
    </div>
    <div class="top_btns hidden-xs">
        <ul>
            <li>
                <a href="https://docon.co.in/doctor/nehasood?edge=true" target="_blank">Online Consultation</a>
            </li>
            <li>
                <a href="https://docon.co.in/doctor/nehasood?edge=true">For Appointment</a>
            </li>
        </ul>
    </div>
</nav>