 {{if .IsHome }}
<main role="main">
    <section id="home" class="home_bg">
        <!--<img src=" /images/banner_home.jpg" class="img-fluid" alt="">-->
        <div class="container-fluid">
            <div class="row">
                <div class="main-slider owl-carousel owl-theme">
                    <div class="banner_content flex-wrap bg_light_blue justify-content-between flex-column-reverse_xs">
                        <div class="col-lg-6 col-md-6 col-sm-6 d-flex justify-content-center">
                            <div class="banner_text2 px-5 py-3">
                                <h1 class="banner_heading1 text-white">
                                    We’re here for you.
                                </h1>
                                <h1 class="banner_heading4 text-white">
                                    Your loved ones deserve the best care and we strive to deliver the same
                                </h1>
                                <a href="https://docon.co.in/doctor/nehasood?edge=true" class="banner_btn">Book Appointment</a
                  >
                </div>
              </div>
              <div class="col-lg-5 col-md-6 col-sm-6">
                <div class="row">
                  <div>
                    <img
                      src=" /images/Banner_1.png"
                      class="img-fluid"
                      alt=""
                    />
                  </div>
                </div>
              </div>
            </div>
            <div class="banner_content flex-wrap justify-content-between">
              <div class="col-lg-5 col-md-6 col-sm-6">
                <div class="row">
                  <div>
                    <img
                      src=" /images/Banner_2.png"
                      class="img-fluid"
                      alt=""
                    />
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="banner_text2 px-5 py-3">
                  <h1 class="banner_heading1">
                    Healthy Patients - Happy Patients
                  </h1>
                  <!--<h1 class="banner_heading4">You can regain your natural voice with the right medical procudures. </h1>-->
                  <a
                    href="https://docon.co.in/doctor/nehasood?edge=true"
                    class="banner_btn"
                    >Book Appointment</a
                  >
                </div>
              </div>
            </div>
            <div
              class="banner_content flex-wrap bg_sea_blue justify-content-between flex-column-reverse_xs"
            >
              <div
                class="col-lg-6 col-md-6 col-sm-6 d-flex justify-content-center"
              >
                <div class="banner_text2 px-5 py-3">
                  <h1 class="banner_heading1 text-white">Dr. Neha Sood</h1>
                  <h1 class="banner_heading4 text-white">
                    is highly experienced in treating all ENT-related ailments
                    with rich experience from her practise at BLK-Max Hopsital,
                    Ganga Ram Hospital and Rashtrapati Bhawan
                  </h1>
                  <a
                    href="https://docon.co.in/doctor/nehasood?edge=true"
                    class="banner_btn"
                    >Book Appointment</a
                  >
                </div>
              </div>
              <div class="col-lg-5 col-md-6 col-sm-6">
                <div class="row">
                  <div>
                    <img
                      src=" /images/Banner_3.png"
                      class="img-fluid"
                      alt=""
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="about">
      <div class="bg_about">
        <div class="container-fluid mt-3">
          <div class="w-100 py-md-2 px-2 px-sm-5">
            <h3 class="heading2 text-center mb-5 text-uppercase">
              Know Your Doctor RR#
            </h3>
            <div class="row justify-content-between">
              <div class="col-sm-6">
                <h6 class="about_text">
                  Dr. Sood is an Ear Nose Throat Specialist, currently working
                  as the Associate Director of the ENT and Cochlear Implant
                  department at BLK Max Superspeciality Hospital. Having 18
                  years of experience of treating all ENT related disorders,
                  Dr. Sood is extremely empathetic about her patients and
                  believes in guiding patients throughout their treatment.
                </h6>
                <ul class="about_popints mt-4 pl-0">
                  <li>
                    Earlier served as ENT surgeon at Rashtrapati Bhawan at
                    Delhi, and as Consultant at Sri Ganga Ram Hospital, Primus
                    Hospital and Sita Ram Bhartia Hospital.
                  </li>
                  <li>
                    Trained through fellowships from reputed institutes such
                    as University of Frieburg in Germany, UPMC in US for
                    endoscopic skull base surgeries
                  </li>
                  <li>
                    Co-authored various journals and research papers on sleep
                    apneoa, breathing problems in children and other
                    Ear-nose-Throat related problems
                  </li>
                </ul>

                <a href="about_us.html" class="readmore_btn mt-4"
                  >Learn More</a
                >
              </div>
              <div class="col-sm-5">
                <img
                  src=" /images/dr_neha.png"
                  class="img-fluid"
                  alt=""
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="services" class="py-5">
      <div class="container-fluid">
        <div class="row">
          <div class="w-100 py-md-2 px-2 px-sm-5">
            <h3 class="heading2 text-center mb-5 text-uppercase">
              Speciality Services
            </h3>
            <div class="d-flex justify-content-center">
              <div class="col-sm-8">
                <h5 class="text-center mb-5">
                  <strong>
                    Experienced otolaryngologist with strong experience in
                    treating all Ear, Nose, Throat related ailments, with a
                    special focus on:</strong
                  >
                </h5>
              </div>
            </div>
            <div class="speciality_slider owl-carousel owl-theme owl_arrows">
              <a href="co2.html" class="ss_block">
                <div class="ss_img">
                  <img
                    src=" /images/speciality_service/Co2.png"
                    class="img-fluid"
                    alt=""
                  />
                </div>
                <div class="ss_heading"><h3>CO2 Laser Surgery</h3></div>
              </a>
                                <a href="cochlear.html" class="ss_block">
                                    <div class="ss_img">
                                        <img src=" /images/speciality_service/Cochlear.png" class="img-fluid" alt="" />
                                    </div>
                                    <div class="ss_heading">
                                        <h3>Cochlear Implant</h3>
                                    </div>
                                </a>
                                <a href="Voice_Treatment.html" class="ss_block">
                                    <div class="ss_img">
                                        <img src=" /images/speciality_service/voicedisorder.png" class="img-fluid" alt="" />
                                    </div>
                                    <div class="ss_heading">
                                        <h3>Voice Treatments</h3>
                                    </div>
                                </a>
                                <a href="Endoscopic.html" class="ss_block">
                                    <div class="ss_img">
                                        <img src=" /images/speciality_service/sinusitis.png" class="img-fluid" alt="" />
                                    </div>
                                    <div class="ss_heading">
                                        <h3>Endoscopic Sinus & Skull based Surgeries</h3>
                                    </div>
                                </a>
                                <a href="Snoring-and-Sleep.html" class="ss_block">
                                    <div class="ss_img">
                                        <img src=" /images/speciality_service/Sleep-Apnea-and-Snoring.png" class="img-fluid" alt="" />
                                    </div>
                                    <div class="ss_heading">
                                        <h3>Snoring and Sleep Apnea</h3>
                                    </div>
                                </a>
                                <!--<a href="nasal_polyposis.html" class="ss_block">
                          <div class="ss_img">
                              <img src=" /images/speciality_service/Nasal-Polyposis.png" class="img-fluid" alt="">
                          </div>
                          <div class="ss_heading"><h3>Nasal Polyposis</h3></div>
                      </a>
                      <a href="sleeping_apnea.html" class="ss_block">
                          <div class="ss_img">
                              <img src=" /images/speciality_service/Sleep-Apnea-and-Snoring.png" class="img-fluid" alt="">
                          </div>
                          <div class="ss_heading"><h3>Sleep Apnea and Snoring</h3></div>
                      </a>
                      <a href="tinnitus.html" class="ss_block">
                          <div class="ss_img">
                              <img src=" /images/speciality_service/Tinnitus.png" class="img-fluid" alt="">
                          </div>
                          <div class="ss_heading"><h3>Tinnitus</h3></div>
                      </a>
                      <a href="tonsils.html" class="ss_block">
                          <div class="ss_img">
                              <img src=" /images/speciality_service/tonsils.png" class="img-fluid" alt="">
                          </div>
                          <div class="ss_heading"><h3>Tonsils</h3></div>
                      </a>
                      <a href="vertigo.html" class="ss_block">
                          <div class="ss_img">
                              <img src=" /images/speciality_service/vertigo.png" class="img-fluid" alt="">
                          </div>
                          <div class="ss_heading"><h3>Vertigo</h3></div>
                      </a>-->
                            </div>
                        </div>
                    </div>
                </div>
    </section>

    <section id="home" class="home_bg">
        <!--<img src=" /images/banner_home.jpg" class="img-fluid" alt="">-->
        <div class="container-fluid">
            <div class="row">
                <div class="main-slider owl-carousel owl-theme">
                    <div class="banner_content flex-wrap bg_light_blue justify-content-between flex-column-reverse_xs">
                        <!--<div class="col-lg-6 col-md-6 col-sm-6 d-flex justify-content-center">
                          <div class="banner_text2 px-5 py-3">							
                              <h1 class="banner_heading1 text-white">We’re here    for you.</h1>
                              <h1 class="banner_heading4 text-white">Your loved ones deserve the best care and we strive to deliver the same  
</h1>
                              <a href="bookappointment.html" class="banner_btn">Book Appointment</a>
                          </div>
                      </div>-->
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="row">
                                <div>
                                    <img src=" /images/Banner.jpg" class="img-fluid" alt="" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="banner_content flex-wrap justify-content-between">
                        <div class="col-lg-5 col-md-6 col-sm-6">
                            <div class="row">
                                <div>
                                    <img src=" /images/Banner_6.png" class="img-fluid" alt="" />
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="banner_text2 px-5 py-3">
                                <h1 class="banner_heading1">
                                    Meri Awaaz<br />Meri Pehchan!
                                </h1>
                                <h1 class="banner_heading4">
                                    You can regain your natural voice with the right medical procudures.
                                </h1>
                                <a href="https://docon.co.in/doctor/nehasood?edge=true" class="banner_btn">Book Appointment</a
                  >
                </div>
              </div>
            </div>
            <div
              class="banner_content flex-wrap bg_sea_blue justify-content-between flex-column-reverse_xs"
            >
              <div
                class="col-lg-6 col-md-6 col-sm-6 d-flex justify-content-center"
              >
                <div class="banner_text2 px-5 py-3">
                  <h1 class="banner_heading1 text-white">
                    Hearing loss<br />distances you<br />
                    from your family
                  </h1>
                  <h1 class="banner_heading4 text-white">
                    Right treatment can bring you closer to your loved ones.
                  </h1>
                  <a
                    href="https://docon.co.in/doctor/nehasood?edge=true"
                    class="banner_btn"
                    >Book Appointment</a
                  >
                </div>
              </div>
              <div class="col-lg-5 col-md-6 col-sm-6">
                <div class="row">
                  <div>
                    <img
                      src=" /images/Banner_7.png"
                      class="img-fluid"
                      alt=""
                    />
                  </div>
                </div>
              </div>
            </div>

            <!--<div class="banner_content flex-wrap justify-content-between">
                      <div class="col-lg-5 col-md-6 col-sm-6">
                          <div class="row">
                              <div>
                                  <img src=" /images/Banner_2.png" class="img-fluid" alt="">
                              </div>								
                          </div>
                      </div>
                      <div class="col-lg-6 col-md-6 col-sm-6">
                          <div class="banner_text2 px-5 py-3">							
                              <h1 class="banner_heading1">Healthy Patients - Happy Patients  </h1>
                              <!--<h1 class="banner_heading4">You can regain your natural voice with the right medical procudures. </h1>--
                              <a href="bookappointment.html" class="banner_btn">Book Appointment</a>
                            </div>
                        </div>

                    </div>-->

                    <!--	<div class="banner_content flex-wrap bg_sea_blue justify-content-between flex-column-reverse_xs">
                      <div class="col-lg-6 col-md-6 col-sm-6 d-flex justify-content-center">
                          <div class="banner_text2 px-5 py-3">							
                              <h1 class="banner_heading1 text-white">Dr. Neha Sood</h1>
                              <h1 class="banner_heading4 text-white"> is highly experienced in treating all ENT-related ailments with rich experience from her practise at BLK Hopsital, Ganga Ram Hospital and Rashtrapati Bhawan
</h1>
                              <a href="bookappointment.html" class="banner_btn">Book Appointment</a>
                          </div>
                      </div>
                      <div class="col-lg-5 col-md-6 col-sm-6">
                          <div class="row">
                              <div>
                                  <img src=" /images/Banner_3.png" class="img-fluid" alt="">
                              </div>								
                          </div>
                      </div>
                  </div>-->
                    <div class="banner_content flex-wrap justify-content-between">
                        <div class="col-lg-5 col-md-6 col-sm-6">
                            <div class="row">
                                <div>
                                    <img src=" /images/Banner_4.png" class="img-fluid" alt="" />
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="banner_text2 px-5 py-3">
                                <h1 class="banner_heading1">
                                    Breathing is <br />Essential
                                </h1>
                                <h1 class="banner_heading4">
                                    So is the right treatment for your breathing problems.
                                </h1>
                                <a href="https://docon.co.in/doctor/nehasood?edge=true" class="banner_btn">Book Appointment</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="conditions" class="pt-5 pb-0">
      <div class="container-fluid">
        <div class="row">
          <div class="w-100 py-md-2">
            <h3 class="heading2 text-center mb-5 text-uppercase">
              Conditions Treated
            </h3>

            <div class="condition_slider owl-carousel owl-theme owl_arrows">
              <a href="#" class="con_block">
                <div class="con_img">
                  <img
                    src=" /images/conditions_treated/Voice_Disorders.png"
                    class="img-fluid"
                    alt=""
                  />
                </div>
                <div class="con_content">
                  <p>Voice Disorder</p>
                  <span class="see_more_btn">See more</span>
                </div>
              </a>
                                <a href="#" class="con_block">
                                    <div class="con_img">
                                        <img src=" /images/conditions_treated/Voice_Problems_in_Singers.png" class="img-fluid" alt="" />
                                    </div>
                                    <div class="con_content">
                                        <p>Voice Problems in Singers</p>
                                        <span class="see_more_btn">See more</span>
                                    </div>
                                </a>
                                <a href="#" class="con_block">
                                    <div class="con_img">
                                        <img src=" /images/conditions_treated/Speech_Disturbances.png" class="img-fluid" alt="" />
                                    </div>
                                    <div class="con_content">
                                        <p>Speech Disturbance</p>
                                        <span class="see_more_btn">See more</span>
                                    </div>
                                </a>
                                <a href="#" class="con_block">
                                    <div class="con_img">
                                        <img src=" /images/conditions_treated/nasal_allergy.png" class="img-fluid" alt="" />
                                    </div>
                                    <div class="con_content">
                                        <p>Nasal Allergy/ Allergic Rhinitis</p>
                                        <span class="see_more_btn">See more</span>
                                    </div>
                                </a>
                                <a href="#" class="con_block">
                                    <div class="con_img">
                                        <img src=" /images/conditions_treated/Sinusitis.png" class="img-fluid" alt="" />
                                    </div>
                                    <div class="con_content">
                                        <p>Sinusitis</p>
                                        <span class="see_more_btn">See more</span>
                                    </div>
                                </a>
                                <a href="#" class="con_block">
                                    <div class="con_img">
                                        <img src=" /images/conditions_treated/Fungal-Sinusitis.png" class="img-fluid" alt="" />
                                    </div>
                                    <div class="con_content">
                                        <p>Fungal Sinusitis</p>
                                        <span class="see_more_btn">See more</span>
                                    </div>
                                </a>
                                <a href="#" class="con_block">
                                    <div class="con_img">
                                        <img src=" /images/conditions_treated/Nasal-Bleeding.png" class="img-fluid" alt="" />
                                    </div>
                                    <div class="con_content">
                                        <p>Nasal Bleeding</p>
                                        <span class="see_more_btn">See more</span>
                                    </div>
                                </a>

                                <a href="voice_disorder.html" class="con_block">
                                    <div class="con_img">
                                        <img src=" /images/conditions_treated/Voice_Disorders.png" class="img-fluid" alt="" />
                                    </div>
                                    <div class="con_content">
                                        <p>Voice Disorder</p>
                                        <span class="see_more_btn">See more</span>
                                    </div>
                                </a>

                                <a href="sinusitis.html" class="con_block">
                                    <div class="con_img">
                                        <img src=" /images/conditions_treated/Sinusitis.png" class="img-fluid" alt="" />
                                    </div>
                                    <div class="con_content">
                                        <p>Sinusitis</p>
                                        <span class="see_more_btn">See more</span>
                                    </div>
                                </a>

                                <a href="nose_bleed.html" class="con_block">
                                    <div class="con_img">
                                        <img src=" /images/conditions_treated/Nasal-Bleeding.png" class="img-fluid" alt="" />
                                    </div>
                                    <div class="con_content">
                                        <p>Nasal Bleeding</p>
                                        <span class="see_more_btn">See more</span>
                                    </div>
                                </a>

                                <a href="deafness.html" class="con_block">
                                    <div class="con_img">
                                        <img src=" /images/conditions_treated/deafness.png" class="img-fluid" alt="" />
                                    </div>
                                    <div class="con_content">
                                        <p>Deafness</p>
                                        <span class="see_more_btn">See more</span>
                                    </div>
                                </a>

                                <a href="ear_discharge.html" class="con_block">
                                    <div class="con_img">
                                        <img src=" /images/conditions_treated/Eardischarge.png" class="img-fluid" alt="" />
                                    </div>
                                    <div class="con_content">
                                        <p>Ear Discharge</p>
                                        <span class="see_more_btn">See more</span>
                                    </div>
                                </a>

                                <a href="nasal_polyposis.html" class="con_block">
                                    <div class="con_img">
                                        <img src=" /images/conditions_treated/Polyposis.png" class="img-fluid" alt="" />
                                    </div>
                                    <div class="con_content">
                                        <p>Nasal Polyposis</p>
                                        <span class="see_more_btn">See more</span>
                                    </div>
                                </a>

                                <a href="sleeping_apnea.html" class="con_block">
                                    <div class="con_img">
                                        <img src=" /images/conditions_treated/Sleep.png" class="img-fluid" alt="" />
                                    </div>
                                    <div class="con_content">
                                        <p>Sleep Apnea and Snoring</p>
                                        <span class="see_more_btn">See more</span>
                                    </div>
                                </a>
                                <a href="tinnitus.html" class="con_block">
                                    <div class="con_img">
                                        <img src=" /images/conditions_treated/Tinnitus.png" class="img-fluid" alt="" />
                                    </div>
                                    <div class="con_content">
                                        <p>Tinnitus</p>
                                        <span class="see_more_btn">See more</span>
                                    </div>
                                </a>
                                <a href="tonsils.html" class="con_block">
                                    <div class="con_img">
                                        <img src=" /images/conditions_treated/tonsils.png" class="img-fluid" alt="" />
                                    </div>
                                    <div class="con_content">
                                        <p>Tonsils</p>
                                        <span class="see_more_btn">See more</span>
                                    </div>
                                </a>
                                <a href="vertigo.html" class="con_block">
                                    <div class="con_img">
                                        <img src=" /images/conditions_treated/vertigo.png" class="img-fluid" alt="" />
                                    </div>
                                    <div class="con_content">
                                        <p>Vertigo</p>
                                        <span class="see_more_btn">See more</span>
                                    </div>
                                </a>
                                <a href="conditions_treated.html" target="_blank" class="con_block">
                                    <div class="con_img">
                                        <img src=" /images/conditions_treated/Nasal-Bleeding.png" class="img-fluid" style="visibility: hidden" alt="" />
                                    </div>
                                    <div class="con_content">
                                        <p>View All</p>
                                        <!--<span class="see_more_btn">See more</span>-->
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
    </section>

    <section id="faq" class="pt-5 pb-0">
        <div class="bg_faq">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-sm-8">
                        <div class="accordion-light">
                            <div class="w-100 py-md-2">
                                <h3 class="heading2 text-center mb-5 text-uppercase">
                                    FAQs
                                </h3>
                                <div class="accordion" id="accordion-faq">
                                    <div class="">
                                        <div class="card-header" id="heading-1">
                                            <h4>
                                                <button type="button" data-toggle="collapse" data-target="#collapse-1" aria-expanded="false" aria-controls="collapse-1" class="collapsed">
                            My child seems to suffer from ear infections a
                            lot. Why is this?
                            <div class="toggle-icon"></div>
                          </button>
                                            </h4>
                                        </div>

                                        <div id="collapse-1" class="collapse" aria-labelledby="heading-1" data-parent="#accordion-faq" style="">
                                            <div class="card-body">
                                                <p>
                                                    Children under the age of three average one to two ear infections a year. These occur when fluid becomes trapped in the middle ear following a viral or bacterial infection. Younger children are most susceptible because their Eustachian tubes are short
                                                    and still developing, making them prone to swelling and blockages.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="">
                                        <div class="card-header" id="heading-2">
                                            <h4>
                                                <button type="button" data-toggle="collapse" data-target="#collapse-2" aria-expanded="false" aria-controls="collapse-2">
                            What is the treatment for an ear infection?
                            <div class="toggle-icon"></div>
                          </button>
                                            </h4>
                                        </div>

                                        <div id="collapse-2" class="collapse" aria-labelledby="heading-2" data-parent="#accordion-faq">
                                            <div class="card-body">
                                                <p>
                                                    The majority of ear infections will run their course in about a week. Pain can be managed with over-the-counter medications, eardrops, and warm compresses. If a bacterial infection is the cause, antibiotics are prescribed. Children who experience chronic
                                                    ear infections may benefit from ear tubes.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="">
                                        <div class="card-header" id="heading-3">
                                            <h4>
                                                <button type="button" data-toggle="collapse" data-target="#collapse-3" aria-expanded="false" aria-controls="collapse-3">
                            I experience frequent sinus infections. Is this
                            normal?
                            <div class="toggle-icon"></div>
                          </button>
                                            </h4>
                                        </div>

                                        <div id="collapse-3" class="collapse" aria-labelledby="heading-3" data-parent="#accordion-faq">
                                            <div class="card-body">
                                                <p>
                                                    A large number of people suffer from sinus infections in the country. It occurs when the lining of the sinuses becomes inflamed and swollen. This may result in nasal obstruction, infection, cause sinus pain or pressure, nasal congestion and discharge.
                                                    If medical treatment is ineffective, surgery may be an option.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="">
                                        <div class="card-header" id="heading-4">
                                            <h4>
                                                <button type="button" data-toggle="collapse" data-target="#collapse-4" aria-expanded="false" aria-controls="collapse-4">
                            I’m suffering from hoarseness. What causes this,
                            and should I be concerned?
                            <div class="toggle-icon"></div>
                          </button>
                                            </h4>
                                        </div>

                                        <div id="collapse-4" class="collapse" aria-labelledby="heading-4" data-parent="#accordion-faq">
                                            <div class="card-body">
                                                <p>
                                                    Hoarseness is the result of irritation of the larynx (voice box). The most common causes are upper respiratory infections, gastroesophageal reflux disease (GERD) and postnasal drip. If the condition persists longer than four to six weeks, see a doctor
                                                    to rule out anything more serious, such as nodules, tumors or vocal cord paralysis.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="">
                                        <div class="card-header" id="heading-5">
                                            <h4>
                                                <button type="button" data-toggle="collapse" data-target="#collapse-5" aria-expanded="false" aria-controls="collapse-5">
                            My snoring is keeping my partner awake. What can I
                            do about this?
                            <div class="toggle-icon"></div>
                          </button>
                                            </h4>
                                        </div>

                                        <div id="collapse-5" class="collapse" aria-labelledby="heading-5" data-parent="#accordion-faq">
                                            <div class="card-body">
                                                <p>
                                                    Snoring is common. Forty-five percent of adults snore occasionally, and twenty-five percent are habitual snorers. Snoring occurs when the tissues in the throat vibrate. Lifestyle modifications such as losing weight, sleeping on your side instead of your
                                                    back and avoiding alcohol before bedtime may help. Surgery may also be an option. Snoring is often associated with obstructive sleep apnea, a dangerous medical condition.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="">
                                        <div class="card-header" id="heading-6">
                                            <h4>
                                                <button type="button" data-toggle="collapse" data-target="#collapse-6" aria-expanded="false" aria-controls="collapse-6">
                            What is obstructive sleep apnea?
                            <div class="toggle-icon"></div>
                          </button>
                                            </h4>
                                        </div>

                                        <div id="collapse-6" class="collapse" aria-labelledby="heading-6" data-parent="#accordion-faq">
                                            <div class="card-body">
                                                <p>
                                                    Obstructive sleep apnea (OSA) is a condition in which an individual’s breathing stops periodically during sleep. These episodes can last ten seconds or longer and may occur hundreds of times each night, preventing restorative sleep and leading to daytime
                                                    fatigue, irritability and memory or concentration problems. OSA increases the risk of heart attack, stroke, high blood pressure and diabetes.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="">
                                        <div class="card-header" id="heading-7">
                                            <h4>
                                                <button type="button" data-toggle="collapse" data-target="#collapse-7" aria-expanded="false" aria-controls="collapse-7">
                            What are the signs of hearing loss?
                            <div class="toggle-icon"></div>
                          </button>
                                            </h4>
                                        </div>

                                        <div id="collapse-7" class="collapse" aria-labelledby="heading-7" data-parent="#accordion-faq">
                                            <div class="card-body">
                                                <p>
                                                    Symptoms of hearing loss include difficulty understanding what others are saying, asking people to repeat themselves, struggling to hear in crowded places with distracting background noise, perceiving that others are mumbling or not speaking clearly,
                                                    listening to the television or radio at a higher volume than others and experiencing a ringing or buzzing in the ears. You may find yourself withdrawing from social situations in order to avoid conversation
                                                    and also might experience depression.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="">
                                        <div class="card-header" id="heading-8">
                                            <h4>
                                                <button type="button" data-toggle="collapse" data-target="#collapse-8" aria-expanded="false" aria-controls="collapse-7">
                            What are the do’s and don’ts for ear care?
                            <div class="toggle-icon"></div>
                          </button>
                                            </h4>
                                        </div>

                                        <div id="collapse-8" class="collapse" aria-labelledby="heading-8" data-parent="#accordion-faq">
                                            <div class="card-body">
                                                <p>
                                                    <strong>Do’s</strong><br /> 1) Do get your ears and hearing checked regularly.
                                                    <br /> 2) Do go to a professional to have excessive ear wax removed.<br /> 3) Do use earplugs to protect your hearing around loud sounds.<br /> 4) Do dry your ears after showering or swimming.
                                                    <br /> 5) Do stay physically active. Staying physically active helps keep the heart and circulation system healthy, which helps keeps your ears healthy.<br /><br />
                                                    <strong>Don’ts</strong><br /> 1) Don’t put cotton swabs in your ear canal.<br /> 2) Don’t crank up your headphones.<br /> 3) Don’t ignore pain or drainage from your ears — go to a doctor.<br /> 4) Don’t
                                                    smoke. Smoking is known to affect hearing through the circulation system.<br /> 5) Don’t assume hearing loss is just for older people. <br />
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="latest_article" class="pt-5 pb-0">
        <div class="container-fluid">
            <div class="row">
                <div class="w-100 py-md-2 px-2 px-sm-5">
                    <h3 class="heading2 text-center mb-5 text-uppercase">
                        Latest Article
                    </h3>
                    <div class="article_slider owl-carousel owl-theme owl_arrows">
                        <div class="article_block">
                            <a href="hearing_loss.html">
                                <img src=" /images/covid_article.jpg" alt="" /></a>
                            <div class="p-2 p-sm-5">
                                <h4 class="article_heading">COVID-19 and hearing loss</h4>
                                <p>
                                    COVID-19, also known as the coronavirus, has now been linked to many long-term complications, including heart damage, lung damage.
                                </p>
                            </div>
                        </div>
                        <div class="article_block">
                            <a href="Tonsil_surgery.html"><img src=" /images/tonsil_article.jpg" alt="" /></a>
                            <div class="p-2 p-sm-5">
                                <h4 class="article_heading">5 Types Of Tonsil Surgery</h4>
                                <p>
                                    Tonsils are the sponge-like lumps of tissue packed on both sides of the throat and can easily be spotted. Although they’re there to fight the microbial invasion
                                </p>
                            </div>
                        </div>
                        <div class="article_block">
                            <a href="Headaches.html"><img src=" /images/sinus_article.jpg" alt="" /></a>
                            <div class="p-2 p-sm-5">
                                <h4 class="article_heading">
                                    Remedies For Sinus Headaches
                                </h4>
                                <p>
                                    Sinus headaches are caused by blocked sinuses, giving you pain and pressure around your sinuses, including between your eyes and above your nose.
                                </p>
                            </div>
                        </div>
                        <div class="article_block">
                            <a href="Noise.html"><img src=" /images/noise.jpg" alt="" /></a>
                            <div class="p-2 p-sm-5">
                                <h4 class="article_heading">Noise Induced Hearing Loss</h4>
                                <p>
                                    Noise is any unwanted signal that is unpleasant to hear and interferes in communication, comfort and feeling of wellbeing.
                                </p>
                            </div>
                        </div>
                        <div class="article_block">
                            <a href="Allergy.html"><img src=" /images/allergies.jpg" alt="" /></a>
                            <div class="p-2 p-sm-5">
                                <h4 class="article_heading">Decoding allergies</h4>
                                <p>
                                    Sometimes you'd like to step outside to enjoy the great outdoors, or maybe just take a break for a little fresh air.
                                </p>
                            </div>
                        </div>
                        <div class="article_block">
                            <a href="Swimmer.html"><img src=" /images/SWIMMER.jpg" alt="" /></a>
                            <div class="p-2 p-sm-5">
                                <h4 class="article_heading">WHAT IS SWIMMER EAR’S?</h4>
                                <p>
                                    When someone spends a lot of time underwater, they are likely to develop a condition that is known as SWIMMER’S EAR.
                                </p>
                            </div>
                        </div>
                        <div class="article_block">
                            <a href="Hearing-loss_em.html"><img src=" /images/old-hearing.jpg" alt="" /></a>
                            <div class="p-2 p-sm-5">
                                <h4 class="article_heading">
                                    HEARING LOSS IS A NEURODEVELOPMENTAL EMERGENCY
                                </h4>
                                <p>
                                    According to WHO, 360 million people (approximately 5% of the world’s population) live with disabling hearing
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="testimonials" class="pt-5 pb-0">
        <div class="container-fluid">
            <div class="row">
                <div class="w-100 py-md-2 px-2 px-sm-5">
                    <h3 class="heading2 text-center mb-5 text-uppercase">
                        Testimonials
                    </h3>
                    <div class="testimonial_slider owl-carousel owl-theme owl_arrows">
                        <div class="testimonial_block">
                            <div class="testi_thumb">
                                <!--<img src=" /images/test_1.jpg" alt="">-->
                                <a href="javascript:void()" onClick="playVideo(this)" class="play_btn"></a>
                                <video width="320" height="240" controls id="test_video1">
                    <source
                      src=" /images/testimonials/Testimonial1.mp4"
                      type="video/mp4"
                    />
                    Your browser does not support the video tag.
                  </video>
                            </div>
                            <div class="p-2 p-sm-3">
                                <!--<div class="testi_img"><img src=" /images/test_img1.jpg" alt=""></div>-->
                                <p>Farhat Farhamand, Afghanistan</p>
                            </div>
                        </div>
                        <div class="testimonial_block">
                            <div class="testi_thumb">
                                <!--<img src=" /images/test_2.jpg" alt="">-->
                                <a href="javascript:void()" onClick="playVideo(this)" class="play_btn"></a>
                                <video width="320" height="240" controls id="test_video2">
                    <source
                      src=" /images/testimonials/Testimonial2.mp4"
                      type="video/mp4"
                    />
                    Your browser does not support the video tag.
                  </video>
                            </div>
                            <div class="p-2 p-sm-3">
                                <!--<div class="testi_img"><img src=" /images/test_img2.jpg" alt=""></div>-->
                                <p>Amardeep Khatoch, Delhi</p>
                            </div>
                        </div>
                        <div class="testimonial_block">
                            <div class="testi_thumb">
                                <!--<img src=" /images/test_3.jpg" alt="">-->
                                <a href="javascript:void()" onClick="playVideo(this)" class="play_btn"></a>
                                <video width="320" height="240" controls id="test_video3">
                    <source
                      src=" /images/testimonials/Testimonial3.mp4"
                      type="video/mp4"
                    />
                    Your browser does not support the video tag.
                  </video>
                            </div>
                            <div class="p-2 p-sm-3">
                                <!--<div class="testi_img"><img src=" /images/test_img3.jpg" alt=""></div>-->
                                <p>PK Ghosh, Delhi</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="EnquiryForm" class="pb-4">
        <div class="container">
            <div class="w-100 py-md-2 px-2 px-sm-5">
                <h3 class="heading2 text-center mb-5 text-uppercase">
                    Enquiry Form
                </h3>

                <div class="enq_form">
                    <form action="" name="FrmCustomerEnquiry">
                        <p id="DisplayMessage"></p>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input type="text" class="enq_control form-control" id="firstname" name="firstname" placeholder="First Name" />
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input type="text" class="enq_control form-control" id="lastname" name="lastname" placeholder="Last Name" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input type="email" class="enq_control form-control" placeholder="Email" id="email" name="email" />
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input type="tel" class="enq_control form-control" placeholder="Mobile Number" id="mobileno" name="mobileno" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <textarea class="enq_control form-control" placeholder="Message" id="txtMessage" name="txtMessage"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group text-center">
                                    <!--button type="submit" class="enq_submit">Submit</button-->
                                    <input type="button" class="btn_submit" onclick="return ValidateRegistration();" value="Submit" />
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</main>
{{end}}