<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script>
    window.jQuery ||
        document.write(
            '<script src="/js/vendor/jquery-slim.min.js"><\/script>'
        );
</script>
<script src="http://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="/js/vendor/popper.min.js"></script>
<!-- <script src="/aos/aos.js"></script> -->
<script src="/js/bootstrap.min.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<link rel="stylesheet" href="/css/jquery.es-drawermenu.min.css" />
<script src="/js/jquery.es-drawermenu.js"></script>
<script src="/js/toastr.js"></script>
<script src="/js/mloyal.js"></script>
<!-- <script>
    AOS.init({
        easing: "ease-in-out-sine",
    });
</script> -->

<script>
    window.intergramId = "1194899443";
    window.intergramCustomizations = {
        titleClosed: "Closed chat",
        titleOpen: "Opened chat",
        introMessage: "Welcome to Voice and Laser support!",
        //autoResponse: 'How may I help you?',
        autoResponse: "Please share your mobile number",
        autoNoResponse: "Please wait some one will connect you shortly",
        mainColor: "#74cbcb", // Can be any css supported color 'red', 'rgb(255,87,34)', etc
        alwaysUseFloatingButton: true, // Use the mobile floating button also on large screens
    };
</script>
<script id="intergram" type="text/javascript" src="https://www.intergram.xyz/js/widget.js"></script>

<script lazyload>
    $(function() {
        $("#EnquiryForm").on("submit", function(event) {
            event.preventDefault();
            // var email = $('input[name=email]').val();
            var data = {
                name: $("#name").val(),
                lastname: $("#lastname").val(),
                email: $("#email").val(),
                phonenumber: $("#phonenumber").val(),
                message: $("#message").val(),
            }

            console.log("data", data);
            var EnquiryForm = JSON.stringify(data)
            $.ajax({
                url: "http://127.0.0.1:8001/v1/contact-us ",
                headers: {
                    'Content-Type': 'application/json',
                },
                type: "post",
                data: EnquiryForm,
                success: function(d) {
                    $('input[name=name]').val("")
                    $('input[name=lastname]').val("")
                    $('input[name=email]').val("")
                    $('input[name=phonenumber]').val("")
                    $('textarea[name=message]').val("")

                    if (d) {
                        toastr.success(d.message);
                        window.location = "/signup";
                    }
                },
                error: function(e) {
                    const errorMessage = e && e.responseJSON && e.responseJSON.message || 'Please try after some time.'
                    toastr.error(errorMessage);
                }
            });
        });
    })
</script>


<script>
    $(document).ready(function() {

        $('.titleclear').each(function(f) {

            var newstr = $(this).text().substring(0, 45) + "...";
            $(this).text(newstr);

        });
    })
</script>

<script>
    $(document).ready(function() {

        $('.descriptionclear').each(function(f) {

            var newstr = $(this).text().substring(0, 100) + "...";
            $(this).text(newstr);

        });
    })
</script>