{{ define "main" }}
<main role="main">
    <section id="home">
        <img src="/images/speciality_service/banners/Swollen.jpg" class="img-fluid" alt="">
    </section>

    <div class="container mt-4">
        <div class="w-100 py-md-2 px-2 px-sm-5">
            <h3 class="heading2 text-left text-uppercase mb-4">SWOLLEN LYMPH NODES
            </h3>
            <!-- <div class="scroll_spy" id="mainNav">
				<ul>					
					<li><a href="#causes">Symptoms & Causes</a></li>
				 <li><a href="#doctors">Doctors & departments</a></li> 
					<li><a href="#daignosis">Diagnosis & treatment</a></li>
				</ul>
			</div> -->

        </div>
    </div>
    <section class="py-3">
        <div class="container">
            <div class="w-100 py-md-2 px-2 px-sm-5 col-md-6 col-sm-5 ">



                <p class="para">Dr. Neha Sood, Principal Consultant- ENT & Cochlear Implant, BLK-Max Super Speciality Hospital
                </p>
                <p class="para"> Swollen lymph nodes or Lymphadenopathy refers to the swelling of lymph nodes which can be due to bacterial, viral, or fungal infections, malignancy or autoimmune disease. When your body's immune system works to eliminate infection and/or
                    foreign viruses or bacteria, your lymph nodes may expand or get larger.
                </p>
                <p class="para"> These lymph nodes filter the germs and cells that passes through your lymph fluid. White blood cells, proteins, and fats make up the fluid known as lymph, which is clear or slightly yellowish in color.

                </p>


            </div>
            <div class="col-sm-5  col-md-6  ">
                <img src="/images/sw.jpeg" class="img-fluid" alt="">
            </div>
        </div>
        <div class="container">
            <div class="w-100 py-md-2 px-2 px-sm-5">
                <h3 class="page_heading mb-3">
                    Common Causes

                </h3>
                <ul class="custom_list s_list sm_list mt-2">
                    <li>
                        impacted tooth</li>
                    <li> Ear infection</li>
                    <li>Colds</li>
                    <li> Swelling (inflammation) of gums (gingivitis)</li>
                    <li>Mouth sores</li>
                    <li>Sexually transmitted illness (STI)</li>
                    <li> Tonsillitis</li>
                    <li> Tuberculosis</li>
                    <li> Skin infections
                    </li>

                </ul>

                <h3 class="page_heading mb-3">
                    1. Infections

                </h3>
                <ul class="custom_list s_list sm_list mt-2">

                    <li> bacterial,</li>
                    <li> fungal,</li>
                    <li> viral,</li>
                    <li> mycobacterial,</li>
                    <li> Others Infections


                    </li>

                </ul>
                <h3 class="page_heading mb-3">
                    2. Autoimmune disorders
                </h3>
                <ul class="custom_list s_list sm_list mt-2">

                    <li> systemic lupus erythematosus,</li>
                    <li>rheumatoid arthritis</li>
                    <li> sarcoidosis,</li>
                    <li> amyloidosis,</li>
                    <li> eosinophilic granulomatosis with polyangiitis.</li>
                    </li>

                </ul>
                <h3 class="page_heading mb-3">
                    3. Malignant diseases

                </h3>
                <ul class="custom_list s_list sm_list mt-2">

                    <li> head and neck cancers

                    </li>
                    <li> leukemia,
                    </li>
                    <li> lymphoma,
                    </li>
                    <li> metastatic cancer</li>

                    </li>

                </ul>
                <h3 class="page_heading mb-3">
                    When to see your doctor?

                </h3>
                <ul class="custom_list s_list sm_list mt-2">

                    <li> Your lymph nodes are increasing in size or not getting smaller after a few weeks.
                    </li>
                    <li> They feel hard, irregular, or stiff. </li>
                    <li> They are Painful and red </li>
                    <li> You've got a fever, nocturnal sweats, or a sudden loss of weight. </li>
                    <li> in children any node larger than 1 centimeter) in diameter.

                    </li>

                </ul>

                <p>The course of action depends on what caused the enlarged nodes.
                </p>
                <p>In case of Swollen nodes due to infection by bacteria treatment may include:
                </p>
                <ul class="custom_list s_list sm_list mt-2">

                    <li> Antibiotics used orally or intravenously to treat a bacterial illness </li>
                    <li> Medicine to control pain and fever </li>
                    <li> Medicine to reduce swelling </li>
                    <li> Surgical removal of a pus-filled lymph node


                    </li>

                </ul>

            </div>
        </div>
    </section>





    <section id="EnquiryForm" class="pb-4">
        <div class="container">
            <div class="w-100 py-md-2 px-2 px-sm-5">
                <h3 class="heading2 text-center mb-5 text-uppercase">Enquiry Form</h3>

                <div class="enq_form">
                    <form id="contact"></form>
                </div>
            </div>
        </div>
    </section>
</main>
{{end}}