{{ define "main" }}
<main role="main">
    <section id="home">
        <img src="/images/about-us.jpg" class="img-fluid" alt="">
    </section>


    <section class="py-5">
        <div class="container-fluid">
            <div class="d-flex align-items-start justify-content-between flex-wrap">
                <div class="col-sm-8">
                    <div class="w-100 py-md-2 px-2 px-sm-5">
                        <h3 class="heading2 text-center mb-5">5 Types Of Tonsil Surgery</h3>

                        <div class="mt-3">
                            <ul class="custom_list s_list sm_list">
                                <p>If tonsils are chronically inflamed and infected, the ear, nose and throat (ENT) doctor will recommend removal. Tonsillectomy is a fairly simple procedure that is performed on an outpatient basis. ENTs may perform many
                                    tonsil surgery procedures each year, but they don’t always do it the same way. Here are five different types of tonsil surgery.</p>


                            </ul>
                        </div>

                        <h5 class="font-weight-bold mt-4" style="font-size: 18px">1. Cold Scalpel Or Cold Knife Surgery</h5>
                        <div class="mt-3">
                            <ul class="custom_list s_list sm_list">
                                <p>This is the oldest form of tonsillectomy. No, they don’t freeze the instruments and they don’t freeze your tonsils. “Cold” refers to the metal of the scalpel. In this method, the tonsils and/or adenoids are removed completely
                                    using a scalpel. The patient is under general anesthesia. There is minimal post-operative bleeding.

                                </p>


                            </ul>
                        </div>



                        <h5 class="font-weight-bold mt-4" style="font-size: 18px">2. Ultrasonic Or Harmonic Dissection</h5>

                        <div class="mt-3">
                            <ul class="custom_list s_list sm_list">
                                <p>This method uses the blade of a very special scalpel. This scalpel vibrates at high frequency. The energy from the vibration is transferred from the blade to the tissue. The vibration is at such high frequency (55,000 cycles
                                    per second) that the tissue is simultaneously cut and coagulated. ENTs like the very precise cutting afforded by this method. The patient is under general anesthesia and there is little post-operative bleeding.</p>

                            </ul>
                        </div>

                        <h5 class="font-weight-bold mt-4" style="font-size: 18px">3. Electrocautery Tonsil Removal</h5>
                        <div class="mt-3">
                            <p>This method burns the tonsils away. It simultaneously removes the tonsil and cauterizes the area to stop bleeding. This method is safe, effective and fairly common. It does run the risk of injury to the tissue around the tonsil
                                and this can make the post-operative recovery period more uncomfortable.</p>


                        </div>

                        <h5 class="font-weight-bold mt-4" style="font-size: 18px">4. Microdebrider Tonsillectomy</h5>
                        <div class="mt-3">
                            <p>A microdebrider is a rotary device that “shaves” tissue away. When this method is removed, the entire tonsil is not removed. A layer of tonsil tissue is left over the throat muscles. This procedure can be performed in the ENT’s
                                office under local anesthesia. The recovery period is minimal and there is very little post-operative pain. However, this procedure is not recommended when tonsil removal is due to recurring infection. This procedure is
                                recommended when enlarged tonsils obstruct breathing.
                            </p>


                        </div>

                        <h5 class="font-weight-bold mt-4" style="font-size: 18px">5. Bipolar Radiofrequency Ablation</h5>
                        <div class="mt-3">
                            <p>Bipolar refers to the method in which energy is transferred to tissue. An ionized (or charged) saline layer is charged with radiofrequency waves. This breaks molecular bonds in the tissue and separates it without causing harm
                                to the surrounding tissue. This method can be used to reduce the size of enlarged tonsils or to completely remove the tonsils. This method has very little post-operative pain and the recovery process is much easier.</p>


                        </div>

                        <h5 class="font-weight-bold mt-4" style="font-size: 18px">Which Procedure Is Right For You?
                        </h5>
                        <div class="mt-3">
                            <p>Talk to the ENT about which method is right for your situation. The ENT will discuss with you the reason for the tonsil removal and the reasons one method will give the best results.
                            </p>


                        </div>





                    </div>
                </div>
                <div class="col-sm-4">
                    <img src="/images/tonsil_article.jpg" class="img-fluid" alt="">
                </div>
            </div>
        </div>
    </section>

</main>
{{end}}