{{ define "main" }}
<main role="main">
    <section id="home">
        <img src="/images/speciality_service/banners/voicedisorder.jpg" class="img-fluid" alt="">
    </section>

    <div class="container mt-4">
        <div class="w-100 py-md-2 px-2 px-sm-5">
            <h3 class="heading2 text-left text-uppercase mb-4">Voice Disorder</h3>
            <div class="scroll_spy" id="mainNav">
                <ul>

                    <li><a href="#causes">Causes</a></li>
                    <li><a href="#riskfactors">Risk Factors</a></li>
                    <li><a href="#daignosis">Diagnosis & treatment</a></li>
                </ul>
            </div>

        </div>
    </div>
    <section class="py-3">
        <div class="container">
            <div class="w-100 py-md-2 px-2 px-sm-5">

                <h3 class="page_heading mb-3">Overview</h3>

                <p class="para">People develop voice problems for many reasons. Doctors who specialize in ear, nose and throat disorders and speech pathology specialists are involved in diagnosing and treating voice disorders.</p>
                <p class="para">Treatment depends on what's causing your voice disorder, but may include voice therapy, medication, injections or surgery.</p>


            </div>
        </div>
    </section>
    <section class="pt-0 pb-2" id="causes">
        <div class="container">
            <div class="w-100 py-md-2 px-2 px-sm-5">
                <h5 class="font-weight-bold text_primary inner_heading">Causes</h5>

                <div class="row">
                    <div class="col-sm-7">
                        <p class="para mt-3">Your voice box (larynx) is made of cartilage, muscle and mucous membranes located at the top of your windpipe (trachea) and the base of your tongue. Your vocal cords are two flexible bands of muscle tissue that sit at the entrance
                            of the windpipe. Sound is created when your vocal cords vibrate. </p>
                        <p class="para mt-3">This vibration comes from air moving through the larynx, bringing your vocal cords closer together. Your vocal cords also help close your voice box when you swallow, preventing you from inhaling food or liquid.</p>
                        <p class="para mt-3">If your vocal cords become inflamed, develop growths or become paralyzed, they can't work properly, and you may develop a voice disorder.</p>
                        <p class="para mt-3">Some common voice disorders include:</p>

                        <ul class="custom_list s_list sm_list mt-2">
                            <li>Laryngitis</li>
                            <li>Muscle tension dysphonia</li>
                            <li>Neurological voice disorders, such as spasmodic dysphonia</li>
                            <li>Polyps, nodules or cysts on the vocal cords (noncancerous lesions)</li>
                            <li>Precancerous and cancerous lesions</li>
                            <li>Vocal cord paralysis or weakness</li>
                            <li>White patches called leukoplakia</li>
                        </ul>
                    </div>
                    <div class="col-sm-5">
                        <img src="/images/voice_disorder_side_image.png" class="img-fluid" alt="">
                    </div>
                </div>


            </div>
        </div>
    </section>




    <section class="pt-0 pb-2" id="riskfactors">
        <div class="container">
            <div class="w-100 py-md-2 px-2 px-sm-5">
                <h5 class="font-weight-bold text_primary inner_heading">Risk Factors</h5>

                <p class="para mt-4">Many risk factors can contribute to a voice disorder, including:</p>



                <ul class="custom_list s_list sm_list mt-2">
                    <li>Aging</li>
                    <li>Alcohol use</li>
                    <li>Allergies</li>
                    <li>Gastroesophageal reflux disease (GERD)</li>
                    <li>Illnesses, such as colds or upper respiratory infections</li>
                    <li>Improper throat clearing over a long time</li>
                    <li>Neurological disorders</li>
                    <li>Psychological stress</li>
                    <li>Scarring from neck surgery or from trauma to the front of the neck</li>
                    <li>Screaming</li>
                    <li>Smoking</li>
                    <li>Throat cancer</li>
                    <li>Throat dehydration</li>
                    <li>Thyroid problems</li>
                    <li>Voice misuse or overuse</li>
                </ul>

            </div>
        </div>
    </section>


    <section class="py-3" id="daignosis">
        <div class="container">
            <div class="w-100 py-md-2 px-2 px-sm-5">

                <h3 class="page_heading mb-3">Diagnosis & treatment </h3>

                <p class="para">Your doctor can usually make a diagnosis based on your answers to questions about your symptoms, a general physical exam and an examination of your nose. Polyps may be visible with the aid of a simple lighted instrument.</p>
                <p class="para ">Other diagnostic tests include:</p>

                <ul class="custom_list s_list sm_list mt-2">
                    <li><strong>Nasal endoscopy. </strong>A narrow tube with a lighted magnifying lens or tiny camera (nasal endoscope) enables your doctor to perform a detailed examination inside your nose and sinuses.</li>
                    <li><strong>Imaging studies.</strong> Images obtained with computerized tomography (CT) can help your doctor pinpoint the size and location of polyps in deeper areas of your sinuses and evaluate the extent of swelling and irritation (inflammation).
                        <br> These studies may also help your doctor rule out other possible blockages in your nasal cavity, such as structural abnormalities or another type of cancerous or noncancerous growth.
                    </li>
                    <li><strong>Allergy tests. </strong>Your doctor may suggest skin tests to determine if allergies are contributing to chronic inflammation. With a skin prick test, tiny drops of allergy-causing agents (allergens) are pricked into the skin
                        of your forearm or upper back. Your doctor or nurse then observes your skin for signs of allergic reactions.
                        <br> If a skin test can't be performed, your doctor may order a blood test that screens for specific antibodies to various allergens.</li>

                    <li><strong>Test for cystic fibrosis.</strong> If you have a child diagnosed with nasal polyps, your doctor may suggest testing for cystic fibrosis, an inherited condition affecting the glands that produce mucus, tears, sweat, saliva and
                        digestive juices. The standard diagnostic test for cystic fibrosis is a noninvasive sweat test, which determines whether your child's perspiration is saltier than most people's sweat is.

                    </li>
                    <li><strong>Blood test.</strong> Your doctor may test your blood for low levels of vitamin D, which are associated with nasal polyps.</li>

                </ul>
                <br>
                <h3 class="page_heading mb-3">Treatment</h3>
                <p class="para mt-3">Chronic sinusitis, with or without polyps, is a challenging condition to clear up completely.
                    <br> You'll work with your health care team to develop the appropriate long-term treatment plan to manage your symptoms and to treat factors, such as allergies, that may contribute to chronic swelling (inflammation).
                    <br> The treatment goal for nasal polyps is to reduce their size or eliminate them. Medications are usually the first approach. Surgery may sometimes be needed, but it may not provide a permanent solution because polyps tend to recur.
                </p>

                <h3 class="page_heading mb-3">Medications</h3>
                <p class="para mt-3">Nasal polyp treatment usually starts with drugs, which can make even large polyps shrink or disappear. Drug treatments may include:</p>
                <ul class="custom_list s_list sm_list mt-2">
                    <li>Nasal corticosteroids. Your doctor is likely to prescribe a corticosteroid nasal spray to reduce swelling and irritation. This treatment may shrink the polyps or eliminate them completely.
                        <br> Nasal corticosteroids include fluticasone (Flonase Allergy Relief, Flovent HFA, Xhance), budesonide (Rhinocort), mometasone (Nasonex, Asmanex HFA), triamcinolone (Nasacort Allergy 24HR), beclomethasone (Beconase AQ, Qvar Redihaler,
                        Qnasl) and ciclesonide (Omnaris, Alvesco, Zetonna).
                    </li>
                    <li><strong>Oral and injectable corticosteroids.</strong> If a nasal corticosteroid isn't effective, your doctor may prescribe an oral corticosteroid, such as prednisone, either alone or in combination with a nasal spray.
                        <br> Because oral corticosteroids can cause serious side effects, you usually take them only for a limited period.
                        <br> Injectable corticosteroids may be used if nasal polyps are severe.
                    </li>
                    <li><strong>Medication to treat nasal polyps and chronic sinusitis.</strong> If you have nasal polyps and chronic sinusitis, your doctor may give you an injection of a medication called dupilumab (Dupixent) to treat your condition. This
                        medication may reduce the size of the nasal polyps and lessen congestion.

                    </li>
                    <li>

                        <strong>Other medications.</strong> Your doctor may prescribe drugs to treat conditions that contribute to long-term swelling in your sinuses or nasal passages. These may include antihistamines to treat allergies and antibiotics
                        to treat a chronic or recurring infection.
                        <br> Aspirin desensitization, under the care of an allergy specialist with experience in desensitization, may benefit some patients with nasal polyps and aspirin sensitivity. The treatment involves gradually increasing the amount
                        of aspirin you take while under a doctor's care in a hospital or clinic to help your body tolerate taking aspirin long term.</li>
                </ul>

                <br>
                <h3 class="page_heading mb-3">Surgery</h3>

                <p>
                    If drug treatment doesn't shrink or eliminate nasal polyps, you may need endoscopic surgery to remove polyps and to correct problems with your sinuses that make them prone to inflammation and the development of polyps.
                    <br> In endoscopic surgery, the surgeon inserts a small tube with a lighted magnifying lens or tiny camera (endoscope) into your nostrils and guides it into your sinus cavities. He or she uses tiny instruments to remove polyps and
                    other substances that block the flow of fluids from your sinuses.
                    <br> Your surgeon may also enlarge the openings leading from your sinuses to your nasal passages. Endoscopic surgery is usually performed as an outpatient procedure.
                    <br> After surgery, you'll likely use a corticosteroid nasal spray to help prevent the recurrence of nasal polyps. Your doctor may also recommend the use of a saltwater (saline) rinse to promote healing after surgery.
                </p><br>
                <h3 class="page_heading mb-3">Potential future treatments</h3>
                <p>Researchers are studying the role of biologic drugs, including medications that treat severe asthma, in helping reduce nasal polyps and relieve symptoms. Biologics work by targeting specific cells or proteins to reduce irritation and swelling.
                    Early research suggests that the drugs may become options for people whose nasal polyps don't respond to corticosteroids or surgery.</p>
            </div>
        </div>
    </section>
    <section id="EnquiryForm" class="pb-4">
        <div class="container">
            <div class="w-100 py-md-2 px-2 px-sm-5">
                <h3 class="heading2 text-center mb-5 text-uppercase">Enquiry Form</h3>

                <div class="enq_form">
                    <form id="contact"></form>
                </div>
            </div>
        </div>
    </section>
</main>
{{end}}