{{ define "main" }}
<main role="main">
    <section id="home">
        <img src="/images/speciality_service/banners/cochlear/cochlear.jpg" class="img-fluid" alt="">
    </section>


    <section class="py-5">
        <div class="container-fluid">
            <div class="d-flex align-items-start justify-content-between flex-wrap">
                <div class="col-sm-8">
                    <div class="w-100 py-md-2 px-2 px-sm-5">


                        <div class="mt-3">
                            <ul class="custom_list s_list sm_list">
                                <h5 class="font-weight-bold mt-4" style="font-size: 18px">Overview</h5>

                                <p>A cochlear implant is an electronic device that partially restores hearing. It can be an option for people who have severe hearing loss from inner-ear damage who are no longer helped by using hearing aids.</p>
                                <p>
                                    Unlike hearing aids, which amplify sound, a cochlear implant bypasses damaged portions of the ear to deliver sound signals to the hearing (auditory) nerve.</p>
                                <p>
                                    Cochlear implants use a sound processor that fits behind the ear. The processor captures sound signals and sends them to a receiver implanted under the skin behind the ear. The receiver sends the signals to electrodes implanted in the snail-shaped inner
                                    ear (cochlea).</p>
                                <p>
                                    The signals stimulate the auditory nerve, which then directs them to the brain. The brain interprets those signals as sounds, though these sounds won't be just like normal hearing.</p>
                                <p>
                                    It takes time and training to learn to interpret the signals received from a cochlear implant. Within a year of use, most people with cochlear implants make considerable gains in understanding speech.
                                </p>




                            </ul>
                        </div>

                        <h5 class="font-weight-bold mt-4" style="font-size: 18px">Why it's done</h5>

                        <div class="mt-3">
                            <ul class="custom_list s_list sm_list">
                                <p>Cochlear implants can restore hearing in people with severe hearing loss who are no longer helped by using hearing aids. Cochlear implants can improve their communication and quality of life.</p>

                                <p>Cochlear implants may be placed in one ear (unilateral) or both ears (bilateral). Cochlear implants in both ears have started to be used more often to treat bilateral severe hearing loss — particularly for infants and children
                                    who are learning to speak and process language.</p>

                                <p>Adults and children who are as young as six to 12 months old can benefit from cochlear implants. People who have cochlear implants report improved:</p>
                                <li>Ability to hear speech without needing visual cues such as reading lips</li>
                                <li>Recognition of normal, everyday environmental sounds</li>
                                <li>Ability to listen in a noisy environment</li>
                                <li>Ability to find where sounds are coming from</li>
                                <li>Ability to hear television programs, music and telephone conversations</li>

                                <br>

                                <p><strong>To be eligible for a cochlear implant, you must have:</strong></p>
                                <li>Hearing loss that is so severe it interrupts spoken communication </li>
                                <li>Limited benefit from hearing aids as determined by specialized hearing tests </li>
                                <li>No medical conditions or factors that increase the risks associated with cochlear implants </li>
                                <li>High motivation to participate in hearing rehabilitation and be part of the hearing world </li>
                                <li>Realistic expectations of what cochlear implants can and can't do for hearing </li>

                                <h5 class="font-weight-bold mt-4" style="font-size: 18px">Risks</h5>

                                <p><strong>Cochlear implant surgery is generally safe. Risks of cochlear implantation can include:  </strong></p>

                                <li><strong>Loss of residual hearing.</strong> Implantation of the device can cause a loss of any remaining, unclear, natural hearing in the implanted ear in some people. </li>
                                <li><strong>Inflammation of the membranes surrounding the brain and spinal cord (meningitis) after cochlear implant surgery.</strong> Vaccinations to reduce the risk of meningitis are generally given to adults and children
                                    before implantation. </li>
                                <li><strong>Failure of device.</strong> Surgery may sometimes be needed to repair or replace a faulty internal device.
                                </li>
                                <br>
                                <p>Complications are rare and can include:</p>

                                <li>Bleeding</li>
                                <li>Facial paralysis</li>
                                <li>Infection at the surgery site</li>
                                <li>Device infection</li>
                                <li>Balance problems</li>
                                <li>Dizziness</li>
                                <li>Taste disturbance</li>
                                <li>New or worsened ear noise (tinnitus)</li>
                                <li>Spinal fluid leak</li>
                                <br>
                                <p><strong>How you prepare</strong></p>
                                <p>Cochlear implant surgery is done under general anesthesia. This means you or your child will be in a sleep-like state during the procedure. You or your child might need to:</p>

                                <li>Stop taking certain medications or supplements for a certain amount of time
                                </li>
                                <li>Avoid eating or drinking for a certain amount of time</li>

                            </ul>

                            <p>Your doctor will give you specific instructions to help you prepare.</p>
                            <h5 class="font-weight-bold mt-4" style="font-size: 18px">What you can expect</h5>
                            <p><strong>Before the procedure</strong></p>
                            <p>You or your child will need a detailed medical evaluation to determine if cochlear implants are a good option. A doctor will conduct an evaluation that may include:</p>

                            <li>Ordering tests of hearing, speech and sometimes balance</li>
                            <li>Performing a physical examination to assess your inner ear's health</li>
                            <li>Ordering MRI or CT imaging tests of the skull to assess the condition of the cochlea and inner ear structure</li>
                            <li>Ordering mental health (psychological) testing in select cases to determine your ability to learn to use cochlear implants</li>


                            <h5 class="font-weight-bold mt-4" style="font-size: 18px">During the procedure</h5>
                            <li>Your surgeon will make a cut (incision) behind your ear, and form a small hole in the portion of skull bone (mastoid) where the internal device rests.</li>

                            <li>Your surgeon will then create a small opening in the cochlea in order to thread the electrode of the internal device. The skin incision is stitched closed so that the internal device is under your skin.</li>

                            <h5 class="font-weight-bold mt-4" style="font-size: 18px">After the procedure</h5>
                            <p>You or your child might experience:</p>
                            <li>Pressure or discomfort over the implanted ear or ears</li>
                            <li>Dizziness or nausea</li>
                            <br>
                            <p>Most people feel well enough to return home the day of surgery or the next day.</p>
                            <p>An audiologist won't turn on (activate) the cochlear implants for about two to six weeks after your surgery — to give the surgery site time to heal.</p>


                            <h5 class="font-weight-bold mt-4" style="font-size: 18px">Activation</h5>
                            <p>To activate the cochlear implant, an audiologist will:</p>
                            <li>Adjust the sound processor to fit you or your child</li>
                            <li>Check the components of the cochlear implant to make sure they work</li>
                            <li>Determine what sounds you or your child hears</li>
                            <li>Give you information on the proper care and use of the device</li>
                            <li>Set the device so that you can hear to the best of your ability</li>


                            <h5 class="font-weight-bold mt-4" style="font-size: 18px">Rehabilitation</h5>
                            <p>Rehabilitation involves training your brain to understand sounds heard through the cochlear implant. Speech and everyday environmental noises will sound different from what you remember.</p>
                            <p>
                                Your brain needs time to recognize what these sounds mean. This process is ongoing and is best achieved by wearing the speech processor continuously during waking hours.</p>


                            <h5 class="font-weight-bold mt-4" style="font-size: 18px">Results</h5>

                            <p>Results of cochlear implant surgery vary from person to person. Factors that can affect the outcomes of cochlear implantation include the age when hearing was lost, and the length of time between hearing loss and the cochlear
                                implant surgery.</p>

                            <p>For children, the best results generally occur with getting a cochlear implant at a young age.</p>

                            <p>For adults, the best results are generally associated with a shorter period of profound hearing loss before cochlear implantation. Adults with little or no experience with sound tend to benefit less from cochlear implants.</p>

                            <p>Some predicted outcomes may include:</p>

                            <li><strong>Clearer hearing.</strong> Many people who meet the hearing criteria for cochlear implantation may eventually get clearer hearing with using the device.</li>
                            <li><strong>Improved tinnitus.</strong> Although ear noise (tinnitus) isn't a primary reason to receive a cochlear implant, the cochlear implant may partially suppress or improve the severity of tinnitus during use. It can rarely
                                worsen tinnitus severity.</li>

                            <h5 class="font-weight-bold mt-4" style="font-size: 18px">Clinical trials</h5>

                            <p>Explore Mayo Clinic studies of tests and procedures to help prevent, detect, treat or manage conditions.</p>
                        </div>












                    </div>
                </div>
                <div class="col-sm-4">
                    <img src="/images/speciality_service/banners/cochlear/coch.jpg" class="img-fluid" alt="">
                </div>
            </div>
        </div>
    </section>

</main>
{{end}}