{{ define "main" }}
<main role="main">
    <section id="home">
        <img src="/images/about-us.jpg" class="img-fluid" alt="">
    </section>


    <section class="py-5">
        <div class="container-fluid">
            <div class="d-flex align-items-start justify-content-between flex-wrap">
                <div class="col-sm-8">
                    <div class="w-100 py-md-2 px-2 px-sm-5">
                        <h3 class="heading2 text-center mb-5">NOISE INDUCED HEARING LOSS</h3>

                        <div class="mt-3">
                            <ul class="custom_list s_list sm_list">
                                <p>Noise is any unwanted signal that is unpleasant to hear and interferes in communication, comfort and feeling of wellbeing. Hearing loss due to noise can be a result of either chronic exposure to noise (Noise Induced Hearing
                                    Loss) or a brief exposure to high level sounds (Acoustic trauma). It is the most common cause of hearing loss after presbycusis (age related hearing loss). Unlike Presbycusis it is completely preventable. Hearing loss
                                    due to noise has increased exponentially over the years. The World Health Organization (WHO) estimated 360 million individuals in the world with disabling hearing loss, out of which 91% are adults and only 9% are children.
                                    Noise exposure is the most common etiological factor for this age-related deafness. The National Institute on Deafness and other Communication Disorders (NIDCD) estimates that 15% of population has decreased hearing
                                    due to loud noise which may be noise at work, leisure activity or use of mobile phone only.
                                </p>
                                <p> NIHL is most commonly bilateral, sensorineural and irreversible in nature. It is progressive for as long as the noise exposure continues. The human ear is divided into the outer, middle and inner ear. NIHL is caused by
                                    damage to the sensory organs of the inner ear. It affects the higher frequencies first, typically a 4kHz notch is seen in early stages of NIHL. The notch gradually widens and the hearing loss spreads to the mid and
                                    low frequencies also. The effect of this hearing loss will be perceived as loss of speech clarity, difficulty in understanding speech, increasing the volume of radio/television etc. Exposure to noise also leads to stress,
                                    hypertension, inability to sleep and annoyance.

                                </p>
                                <p> Hearing loss due to noise exposure is expressed in terms of a threshold shift. Everyone has experienced a temporary threshold shift.i.e. temporary change in hearing sensitivity along with tinnitus (ringing/ buzzing sound
                                    in the ear) once in a while after exposure to a high sound level. Usually, this threshold shift returns to the pre-exposure level within a period of 16 hours. A temporary threshold shift which does not return to normal
                                    hearing levels within a period of 16 hours is termed as a permanent threshold shift (PTS) or noise induced hearing loss (NIHL). The extent of PTS depends upon the level of sound and duration of exposure.
                                </p>
                                <p> Noise exposure can be occupational as well as recreational. NIHL earlier known as Boilermakers’ disease referred to the hearing loss associated with noise exposure at work. Occupational hearing loss is a compensable hazard.
                                    OSHA and NIOSH have formulated guidelines for noise exposure limits for employees. Hearing conservation programs have been laid out which strive to prevent occupational hearing loss, preserve and protect remaining hearing,
                                    and equip workers with the knowledge and hearing protection devices necessary to safeguard themselves. Non occupational or recreational NIHL is a result of noise exposure due to personal listening devices, concerts,
                                    firearms, loudspeakers etc and is also known as Sociocusis. The Scientific Committee on Emerging and Newly Identified Health Risks identified unsafe listening practices (high volume levels and duration of listening)
                                    as a major contributor to hearing loss (2008).
                                </p>

                            </ul>
                        </div>







                        <div class="mt-3">
                            <p>Reducing the risk of noise-induced hearing loss in adults and children:</p>
                            <ul class="custom_list s_list sm_list">
                                <li> Identify sources of loud sounds (such as gas-powered lawnmowers, snowmobiles, power tools, gunfire, or music) and try to reduce exposure
                                </li>
                                <li> Turn down the volume of music systems
                                </li>
                                <li> Move away from the source of loud sounds when possible
                                </li>
                                <li> NIHL can be prevented by the use of ear protection devices. These include a variety of ear plugs and muffs which aim to reduce the level of sound reaching the wearer’s ears.
                                </li>
                                <li> Regular PTA testing is recommended for individuals exposed to noise so as to determine the effectiveness of ear protection devices.
                                </li>


                            </ul>

                        </div>

                        <h5 class="font-weight-bold mt-4" style="font-size: 18px">Detection</h5>
                        <div class="mt-3">
                            <p>NIHL can be detected by getting a hearing test done known as Pure tone audiometry. An audiogram is obtained which is a graph depicting the hearing thresholds. PTA is recommended after 16 hours of noise exposure to eliminate
                                the effect of temporary threshold shift. As NIHL is irreversible, amplification devices are recommended to the individual based on the hearing loss.
                            </p>


                        </div>










                    </div>
                </div>
                <div class="col-sm-4">
                    <img src="/images/noise1.jpg" class="img-fluid" alt="">
                </div>
            </div>
        </div>
    </section>

</main>
{{end}}