{{ define "main" }}
<main role="main">
    <section id="home">
        <img src="/images/speciality_service/banners/nasalpolyposis.jpg" class="img-fluid" alt="">
    </section>

    <div class="container mt-4">
        <div class="w-100 py-md-2 px-2 px-sm-5">
            <h3 class="heading2 text-left text-uppercase mb-4">Nasal Polyposis</h3>
            <div class="scroll_spy" id="mainNav">
                <ul>

                    <li><a href="#causes">Symptoms & Causes</a></li>
                    <!--<li><a href="#doctors">Doctors & departments</a></li>-->
                    <li><a href="#daignosis">Diagnosis & treatment</a></li>
                </ul>
            </div>

        </div>
    </div>
    <section class="py-3">
        <div class="container">
            <div class="w-100 py-md-2 px-2 px-sm-5">

                <h3 class="page_heading mb-3">Overview</h3>

                <p class="para">Nasal polyps are soft, painless, noncancerous growths on the lining of your nasal passages or sinuses. They hang down like teardrops or grapes. They result from chronic inflammation and are associated with asthma, recurring infection,
                    allergies, drug sensitivity or certain immune disorders.</p>
                <p class="para ">Small nasal polyps may not cause symptoms. Larger growths or groups of nasal polyps can block your nasal passages or lead to breathing problems, a lost sense of smell and frequent infections.</p>
                <p class="para ">Nasal polyps can affect anyone, but they're more common in adults. Medications can often shrink or eliminate nasal polyps, but surgery is sometimes needed to remove them. Even after successful treatment, nasal polyps often return.</p>

            </div>
        </div>
    </section>
    <section class="pt-0 pb-2" id="causes">
        <div class="container">
            <div class="w-100 py-md-2 px-2 px-sm-5">
                <h5 class="font-weight-bold text_primary inner_heading">Symptoms </h5>

                <div class="row">
                    <div class="col-sm-7">
                        <p class="para mt-3">Nasal polyps are associated with irritation and swelling (inflammation) of the lining of your nasal passages and sinuses that lasts more than 12 weeks (chronic sinusitis).</p>
                        <p class="para mt-3">However, it's possible to have chronic sinusitis without nasal polyps.</p>
                        <p class="para mt-3">Nasal polyps themselves are soft and lack sensation, so if they're small, you may not be aware you have them. Multiple growths or a large polyp may block your nasal passages and sinuses.</p>
                        <p class="para mt-4">Common signs and symptoms of chronic sinusitis with nasal polyps include:</p>


                        <ul class="custom_list s_list sm_list mt-2">
                            <li>A runny nose</li>
                            <li>Persistent stuffiness</li>
                            <li>Postnasal drip</li>
                            <li>Decreased or absent sense of smell</li>
                            <li>Loss of sense of taste</li>
                            <li>Facial pain or headache</li>
                            <li>Pain in your upper teeth</li>
                            <li>A sense of pressure over your forehead and face</li>
                            <li>Snoring</li>
                            <li>Frequent nosebleeds</li>
                        </ul>




                        <h5 class="font-weight-bold text_primary inner_heading mt-4">When to see a doctor </h5>
                        <p class="para  mt-3">See your doctor if your symptoms last more than 10 days. Symptoms of chronic sinusitis and nasal polyps are similar to those of many other conditions, including the common cold.
                        </p>
                        <p class="para  mt-3"> Seek immediate medical care or call 911 or your local emergency number if you experience:
                        </p>
                        <ul>
                            <li>
                                Serious trouble breathing</li>
                            <li> Sudden worsening of your symptoms</li>
                            <li> Double vision, reduced vision or limited ability to move your eyes</li>
                            <li> Severe swelling around your eyes</li>
                            <li> Increasingly severe headache accompanied by high fever or inability to tip your head forward
                            </li>
                        </ul>








                    </div>
                    <div class="col-sm-5">
                        <img src="/images/nasal_polyps_side.png" class="img-fluid" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>



    <section id="EnquiryForm" class="pb-4">
        <div class="container">
            <div class="w-100 py-md-2 px-2 px-sm-5">
                <h3 class="heading2 text-center mb-5 text-uppercase">Enquiry Form</h3>

                <div class="enq_form">
                    <form id="contact"></form>
                </div>
            </div>
        </div>
    </section>
</main>
{{end}}