{{ define "main" }}
<main role="main">
    <section id="home">
        <img src="/images/about-us.jpg" class="img-fluid" alt="">
    </section>

    <div class="container mt-4">
        <div class="w-100 py-md-2 px-2 px-sm-5">
            <h3 class="heading2 text-left text-uppercase mb-4">Contact Us</h3>
        </div>
    </div>

    <section id="EnquiryForm" class="pb-4">
        <div class="container">
            <div class="w-100 py-md-2 px-2 px-sm-5">
                <h3 class="heading2 text-center mb-5 text-uppercase">Enquiry Form</h3>

                <div class="enq_form">
                    <form id="contact"></form>
                </div>
            </div>
        </div>
    </section>
</main>
{{end}}